<template>
  <div>
    <template v-if="mode=='list'">
      <template v-if="body!=null">
        <div class="mt-12">
          <v-card v-for="item in body" class="mt-1" @click="SetComponent(item)">
            <v-row class="pa-2" dir="rtl">
              <v-col cols="12">
                <h5 v-text="$t(item.mode)"></h5>
              </v-col>
              <v-col cols="12" class="text_left">
                <small
                  v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></small>
              </v-col>
            </v-row>
          </v-card>
        </div>

      </template>
    </template>

    <template v-if="mode=='show'">
      <div class="mt-12">
        <div @click="CloseComponent()" class="close_component">
          <v-icon>mdi-close</v-icon>
        </div>
        <component :key="key" :is="currentcomponent" :dataform="data"></component>
        <medicalinstructions :key="key" :is="currentcomponent" :dataform="data"></medicalinstructions>
      </div>
    </template>

    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
import medicalinstructions from "@/components/forms/medicalinstructions";

export default {

  name: "_id",
  comments: {
    medicalinstructions
  }

,
  layout: 'dashboard',
  data: function () {
    return {
      key:0,
      data: [],
      currentcomponent: null,
      body: null,
      mode: 'list',
      loadingpage: {
        absolute: true,
        overlay: false,
      },
    }
  },
  methods: {
    SetComponent(item) {
      this.mode = 'show';
      this.key = this.key+1;
      this.currentcomponent = item.mode;
      this.data = item.data;

    },
    CloseComponent() {
      this.mode = 'list';
      this.currentcomponent = null;
      this.data =[];

    },
    GetTriage(id) {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/Loaddocument/" + id + "/edit", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.body = response.data;
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.GetTriage(this.$route.params.id);
    }

  }
}
</script>

<style scoped>

</style>
