<template>
  <div class="mt-15">
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard/">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('View digital file') }}
        </v-col>
      </v-row>


    </v-alert>


    <template v-if="tab == null">

      <div class="mt-12 " style="width: 100%; background-color: red;">

        <div class="boxmenus" style="width: 100%; margin-top: 20px;">
          <div @click="Settab('Parttimemedical')" >
              <img src="/icon_page/doctor%20(1).png" class="mt-7" width="50" height="50">
              <div>
                <strong v-text="$t('Part-time medical visit form')"></strong>
              </div>

          </div>

          <div @click="Settab('Parttimenursing')" >
              <img src="/icon_page/nurse.png" class="mt-7" width="50" height="50">
              <div>
                <strong v-text="$t('Part-time nursing visit form')"></strong>
              </div>

          </div>
          <div @click="Settab('mnbb')" >
              <img src="/icon_page/letter.png" class="mt-7" width="50" height="50">
              <div>
                <strong v-text="$t('Insurance letter of introduction')"></strong>
              </div>

          </div>
          <div @click="Settab('Clearanceform')" >
              <img src="/icon_page/docs.png" class="mt-7" width="50" height="50">
              <div>
                <strong v-text="$t('Clearance sheet')"></strong>
              </div>

          </div>
          <div @click="Settab('abstacrdoc')" >
              <img src="/icon_page/document.png" class="mt-7" width="50" height="50">
              <div>
                <strong v-text="$t('File summary sheet')"></strong>
              </div>

          </div>
          <div  >
            <a href="/Dashboard">
              <img src="/icon_page/previous%20(1).png" class="mt-7" width="50" height="50">
              <div>
                <strong v-text="$t('back')"></strong>
              </div>
            </a>
          </div>



        </div>


      </div>
    </template>
    <template v-else>
      <v-btn @click="tab=null">{{ $t('back') }}</v-btn>
      <component :is="tab" :key="1"></component>

    </template>


    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
import Clearanceform from "~/components/Triaage/Clearanceform";
import Parttimemedical from "~/components/Triaage/Parttimemedical";
import Parttimenursing from "~/components/Triaage/Parttimenursing";
import abstacrdoc from "~/components/Triaage/abstacrdoc";
import mnbb from "@/components/Triaage/mnbb";
import {Money} from 'v-money'
export default {
  components: {Money,Clearanceform,Parttimemedical,Parttimenursing,abstacrdoc,mnbb},
  name: "index",
  layout: 'dashboard',
  data() {
    return {
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },

      money: {
        decimal: ',',
        thousands: '.',
        readonly: true,
        suffix: ' تومان',
        precision: 0,
        masked: false
      },
      tab: null,

    }
  },

  methods: {
    GetTraizh() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/Traizh", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.body = response.data;
        })
        .catch((error) => {


        });
    },
    Settab(text){
      this.tab = text;
    }
  },
  mounted() {
    this.GetTraizh();
  }
}
</script>

<style scoped>
.align-center {
  text-align: center;
}
.alert_title{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: center;
}


.show_Services {
  height: 150px;
  border-radius: 15px;
  border: #804600 1px solid;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.165703781512605) 0%, rgba(157, 156, 155, 0.3225665266106442) 55%, rgba(255, 255, 255, 0.4066001400560224) 100%);
}
.boxmenus{
  float: right;
  display: inline-block;
}
.show_Services i {
  margin-top: 10px;

}
.boxmenus div{
  background-color: #eee;
  width: 160px;
  height: 130px;
  cursor: pointer;

}
</style>
