<template>
  <div class="mt-15">
    <v-btn to="/Dashboard/Triage">{{ $t('back') }}</v-btn>
    <div v-if="dataform!=null">
      <form @submit.prevent="savedata">

        <v-card color="basil" >

          <v-card-title class="text-center justify-center py-6">

          </v-card-title>

          <v-tabs
            background-color="cyan"
            dark
            next-icon="mdi-arrow-right-bold-box-outline"
            prev-icon="mdi-arrow-left-bold-box-outline"
            show-arrows
            v-model="tab"
            color="basil"
            grow
          >
            <v-tab
              v-for="(item,index) in dataform.section"
              :key="index"
              @click="activetab=index"


            >
              {{ $t(index) }}
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item
              v-for="(item,index) in dataform.section"
              :key="index"
            >
              <v-card
                color="basil"
                flat
                style="margin: 5px; text-align: center;"
              >
                <h3>{{ $t(index) }}</h3>
                <hr>
                <v-card-text>
                  <v-row>
                    <v-col
                      cols="12"
                      md="4"
                    >
                      <span>{{ $t('status') }} : {{ item['status'] }}</span>

                    </v-col>
                    <template>
                      <v-col
                        cols="12"
                        md="12"
                        style="text-align: right;"
                      >
                        <label >{{ $t('‫‪Nursing‬‬ ‫‪Care‬‬')}}</label>
                        <div v-html="item.acare"></div>


                      </v-col>
                      <v-col
                        cols="12"
                        md="12"
                        style="text-align: right;"
                      >
                        <label >{{ $t('‫‪Nursing‬‬ ‫‪Interventions‬‬')}}</label>
                        <div v-html="item.inter"></div>

                      </v-col>
                    </template>


                  </v-row>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
        <v-slider
          :hint="dataform.G"
          :label="$t('motor')"
          disabled
          v-model="dataform.G"
          max="6"
          min="1"
          persistent-hint
        ></v-slider>
        <v-slider
          :hint="dataform.V"
          :label="$t('Verbal')"
          disabled
          v-model="dataform.V"
          max="5"
          min="1"
          persistent-hint
        ></v-slider>
        <v-slider
          :hint="dataform.E"
          :label="$t('Eyes')"
          disabled
          v-model="dataform.E"
          max="4"
          min="1"
          persistent-hint
        ></v-slider>
        <div>{{ $t('GCS') }} : {{ parseInt(dataform.G)+parseInt(dataform.V)+parseInt(dataform.E) }} </div>
        <div>{{ $t('HR') }} : {{ dataform.HR }} </div>
        <div>{{ $t('DP') }} : {{ dataform.DP }} </div>
        <div>{{ $t('T') }} : {{ dataform.T }} </div>
        <div>{{ $t('SPO2') }} : {{ dataform.SPO2 }} </div>
        <div>{{ $t('RR') }} : {{ dataform.RR }} </div>

        <h1 class="text-center w-100">{{ dataform.AVPU }}</h1>
        <hr>
        <div>{{ $t('Nursingmeasures') }} : {{ dataform.Nursingmeasures }} </div>
        <div>{{ $t('Nursingreport') }} : {{ dataform.Nursingreport }} </div>
        <div>{{ $t('Patienteducation') }} : {{ dataform.Patienteducation }} </div>

      </form>
    </div>

  </div>
</template>
<script>
export default {
  layout: 'dashboard',

  name: "periodicvisit",
  props:{
    id:{  default:null },

  },
  data(){
    return {

      status: [
        'Normal', 'Abnormal', 'NodExamined'
      ],
      tab: null,
      keyitem: 1,
      activetab: 'GeneralApperance',
      activedmoshaver: false,
      dataform: null
    }
  },
  methods:{

    addtoconst(e){
      this.activedmoshaver=false;

      this.dataform.const.push(e);

    },

    loaddata(){
      let that=this;
      this.$axios.get(this.$url+'Applicant/VisitUser/'+that.$route.params.id,{
        params:{
          triage:localStorage.traige,
          mode:'pnv',
        } ,
        headers: {
          Authorization: localStorage.access_token_user
        }
      }).then(function (res){
        that.dataform=res.data.data;
      });

    },
    savedata(){


    },
  },
  mounted() {
    this.loaddata();
  }
}
</script>

<style scoped>

</style>
