<template>
  <div >
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard/">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Visit and referral') }}
        </v-col>
      </v-row>


    </v-alert>

    <div v-if="list!=null">
      <template v-for="(i,index) in list.data">

        <div :key="index" class="card">
          <v-card  elevation="2" class="mt-4" style="margin-top:20px;" >
            <FlipCountdown :deadline="i.persiandate[0]+'-'+i.persiandate[1]+'-'+i.persiandate[1]+' '+i.time[0]+':'+i.time[1]+':00'"></FlipCountdown>
            <div>
              <div  style="padding:15px;" :dir="$t('dir')">
                <ul class="mylist">
                  <li>{{ $t('type of application') }} : {{ i.doc.form.name }}</li>
                  <li>{{  $t('Condition') }}: {{ i.doc.method }}</li>
                  <li>{{ $t('doctor') }}: {{ i.doc.doctors.fullname }}</li>
                  <li>{{ $t('Examination time') }}: {{ i.doc.date  }}</li>
                </ul>

              </div>

            </div>
          </v-card>
        </div>
      </template>


    </div>

  </div>
</template>


<script>

export default {

  name: "index",
  layout: 'dashboard',
  data(){
    return{
      list:null,
      edit:null,
      dialog:false,

    }
  },
  methods:{
    changemode(event,object){
      this.dialog=true;
      this.edit=object.doc;
      this.edit.status=event;




    },
    loaddata() {
      let that=this;
      this.$axios.get(this.$url+'Applicant/ScheduleController',{
        params:{
          mode:'nurse'
        },
        headers:{
          Authorization:localStorage.access_token_user
        }
      }).then(function (res) {
        that.list = res.data;
      })

    }
  },
  mounted(){
    this.loaddata();
  }
}
</script>

<style scoped>
.mylist li{
  list-style: none;
}
</style>
