<template>
  <div>

    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard/Dailybiography/Surgicalservice">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Surgical patients') }}
        </v-col>
      </v-row>


    </v-alert>

    <template v-if="body!=null" :dir="$t('dir')" >
      <v-card :dir="$t('dir')"  class="mt-15 pa-3" color="white" dense >
        <v-row>
          <v-col cols="12" v-for="item in body" >
            <small v-text="item.label"></small>
            <h5 v-text="$t(item.answer)"></h5>
            <h6 v-text="item.description"></h6>
          </v-col>
        </v-row>
      </v-card>
    </template>

    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "_id",
  layout: 'dashboard',
  data() {
    return {
      body:null,

      loadingpage: {
        absolute: true,
        overlay: false,
      },
    }
  },
  methods:{
    Getinfo(id){
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/Surgicalpatients/" + id, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.body = response.data.form.data;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    },

  },
  mounted() {

    this.Getinfo(this.$route.params.id);
  }
}
</script>

<style scoped>
.close_form{
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 5000;
}
</style>
