<template>
  <div class="mt-12" >
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard/Dailybiography">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Surgical patients') }}
        </v-col>
      </v-row>


    </v-alert>

    <v-btn block class="btn_color mb-2" elevation="2" to="/Dashboard/Dailybiography/Surgicalservice/new">{{  $t('Create a history') }}</v-btn>
    <template v-if="body!=null">
      <v-card dir="rtl" v-for="item in body" class="mt-1" color="white" dense :to="'/Dashboard/Dailybiography/Surgicalservice/'+item._id">
        <v-row  class="pa-2">
        <v-col cols="6" >

          <h5 v-text="item._id"></h5>
        </v-col>


          <v-col cols="6" align="left">

            <h5 v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></h5>
          </v-col>
        </v-row>
      </v-card>
    </template>


    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "index",
  layout: 'dashboard',
  data() {
    return {
      body:null,

      loadingpage: {
        absolute: true,
        overlay: false,
      },
    }
  },
  methods:{
    Getinfo(){
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/Surgicalpatients", {
        params:{
          triage:localStorage.traige
        },
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.body = response.data.data;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    this.Getinfo();
  }
}
</script>

<style scoped>
.plus_chat {
  position: fixed;
  bottom: 10px;
}
</style>
