<template>
  <div>
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard/Dailybiography/Surgicalservice">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Surgical patients') }}
        </v-col>
      </v-row>


    </v-alert>

    <v-form @click.prevent="Save()" :dir="$t('dir')" class="pa-2">
      <v-row>
        <v-col cols="12">
          <label v-text="data[0].label"></label>
          <v-radio-group v-model="data[0].answer" row>
            <v-radio :label="$t('Redness and swelling at the surgical site')" color="secondary" value="قرمزی و تورم محل عمل جراحی"></v-radio>
            <v-radio :label="$t('Fever above 38 degrees')"  color="secondary" value="تب بالای ۳۸ درجه"></v-radio>
            <v-radio  :label="$t('Infectious discharge from the surgical site')"   color="secondary" value="ترشحات عفونی از محل جراحی"></v-radio>
            <v-radio   :label="$t('Malodor')"   color="secondary" value="بوی بد"></v-radio>
          </v-radio-group>
        </v-col>

        <v-col cols="12">
          <label v-text="data[1].label"></label>
          <v-radio-group v-model="data[1].answer" row>
            <v-radio  :label="$t('yes')"  color="secondary" value="بلی"></v-radio>
            <v-radio    :label="$t('no')"   color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <template v-if="data[1].answer == 'بلی'">
            <label v-text="$t('If yes, give your pain a score of 0-10')"></label>
            <v-text-field
              solo-inverted
              v-model="data[1].description"
              Autocomplete="Autocomplete"
              type="number"
              class="text_center"
            ></v-text-field>
          </template>
        </v-col>
        <v-col cols="12">
          <label v-text="data[2].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[2].answer"
            Autocomplete="Autocomplete"
            class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[3].label"></label>
          <v-radio-group v-model="data[3].answer" row>
            <v-radio   :label="$t('yes')"  color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <template v-if="data[3].answer == 'خیر'">
            <v-text-field
              solo-inverted
              v-model="data[3].description"
              Autocomplete="Autocomplete"
              class="text_center"
            ></v-text-field>
          </template>
        </v-col>

        <v-col cols="12">
          <label v-text="data[4].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[4].answer"
            Autocomplete="Autocomplete"
            class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[5].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[5].answer"
            Autocomplete="Autocomplete"
            class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label
            v-text="$t('If you can fill in your vital signs for us in the box below')"></label>
          <v-row>
            <v-col cols="6">
              <label v-text="data[6].label"></label>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    solo-inverted
                    v-model="data[6].answer"
                    Autocomplete="Autocomplete"
                    class="text_center"
                    type="number"
                  ></v-text-field>
                </v-col>
              </v-row>

            </v-col>
            <v-col cols="6">
              <label v-text="data[7].label"></label>
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    solo-inverted
                    v-model="data[7].answer"
                    :placeholder="$t('down')"
                    Autocomplete="Autocomplete"
                    type="number"
                    class="text_center"
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    :placeholder="$t('up')"
                    solo-inverted
                    v-model="data[7].description"
                    type="number"
                    Autocomplete="Autocomplete"
                    class="text_center"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <label v-text="data[8].label"></label>
          <v-row>
            <v-col cols="12">
              <v-text-field
                solo-inverted
                v-model="data[8].answer"
                type="number"
                Autocomplete="Autocomplete"
                class="text_center"
              ></v-text-field>
            </v-col>
          </v-row>

        </v-col>
        <v-col cols="6">
          <label v-text="data[9].label"></label>
          <v-row>
            <v-col cols="12">
              <v-text-field
                solo-inverted
                v-model="data[9].answer"
                type="number"
                Autocomplete="Autocomplete"
                class="text_center"
              ></v-text-field>
            </v-col>
          </v-row>

        </v-col>
        <v-col cols="6">
          <label v-text="data[10].label"></label>
          <v-row>
            <v-col cols="12">
              <v-text-field
                solo-inverted
                v-model="data[10].answer"
                type="number"
                Autocomplete="Autocomplete"
                class="text_center"
              ></v-text-field>
            </v-col>
          </v-row>

        </v-col>
        <v-col cols="6">
          <label v-text="data[11].label"></label>
          <v-row>
            <v-col cols="12">
              <v-text-field
                solo-inverted
                v-model="data[11].answer"
                type="number"
                Autocomplete="Autocomplete"
                class="text_center"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <label v-text="data[12].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[12].answer"
            Autocomplete="Autocomplete"
            class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[13].label"></label>
          <v-radio-group v-model="data[13].answer" row>
            <v-radio :label="$t('Face-to-face visit')" color="secondary" value="ویزیت حضوری"></v-radio>
            <v-radio :label="$t('Online visit')" color="secondary" value="ویزیت آنلاین"></v-radio>

          </v-radio-group>
        </v-col>
        <v-col cols="12">
          <label v-text="data[14].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[14].answer"
            Autocomplete="Autocomplete"
            class="text_center"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" align="center">
          <v-btn class="btn_color" @click="Save()">
            {{ $t('submit') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>

  </div>
</template>

<script>
export default {
  name: "new",
  layout: 'dashboard',
  data() {
    return {
      loadingpage: {
        absolute: true,
        overlay: false,
      },
      traige:localStorage.traige,
      data: {

        0: {
          label: this.$t('Do you have any of the following symptoms associated with an infection?'),
          answer: null,
          description: null,
        },
        1: {
         // label: 'آیا درد دارید؟',
          label: this.$t('Are you in pain?'),

          answer: null,
          description: null,
        },
        2: {
        //  label: 'آیا محدودیت غیر معمول برای شما بعد از جراحی ایجاد شده است توضیح دهید؟',
          label: this.$t('Explain the unusual limitations imposed on you after surgery?'),

          answer: null,
          description: null,
        },
        3: {
          label: this.$t('Are you satisfied with your specialist?'),

          answer: null,
          description: null,
        },
        4: {
        //  label: 'آیا عوارض جانبی بعد از مصرف داروها مانند تغییرات خلق و خو و افزایش و کاهش فشار خون و غیره دارید.توضیح دهید؟',
          label: this.$t('Do you have side effects after taking medications such as mood swings and increase and decrease in blood pressure, etc. Explain?'),

          answer: null,
          description: null,
        },
        5: {
          //label: 'آیا دستورات پزشک را به درستی و کامل رعایت می کنید؟',
          label: this.$t('Do you follow your doctors instructions correctly and completely?'),

          answer: null,
          description: null,
        },
        6: {
          //label: ' تعداد تنفس در یک دقیقه',
          label: this.$t('Number of breaths per minute'),

          answer: null,
          description: null,
        },
        7: {
          //label: 'فشار خون',
          label: this.$t('blood pressure'),
          answer: null,
          description: null,
        },
        8: {
          label: this.$t('Body temperature'),
          answer: null,
          description: null,
        },
        9: {
          label: this.$t('Heart rate per minute'),
          answer: null,
          description: null,
        },
        10: {
          label: this.$t('Blood oxygen level'),
          answer: null,
          description: null,
        },
        11: {
          label: this.$t('Blood sugar levels'),
          answer: null,
          description: null,
        },
        12: {
          label: this.$t('If you have a question from your doctor, type the text of the question'),
          answer: null,
          description: null,
        },
        13: {
          label: this.$t('If you need to visit, choose one of these options'),
          answer: null,
          description: null,
        },
        14: {
          label: this.$t('If you need to visit, choose one of these options'),
          answer: null,
          description: null,
        },

      }
    }
  },
  methods: {
    Save(){
      let that = this;
      let data = {
        data:this.data,
        traige:this.traige,
      }
      this.loadingpage.overlay = true;
      this.$axios.post(this.$url + "Applicant/Surgicalpatients",data, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.$router.push("/Dashboard/Dailybiography/Surgicalservice");
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }

  },
  mounted() {

  }
}
</script>

<style scoped>
.alert_title {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}
</style>
