<template>
  <div>

    <v-row :dir="$t('dir')" class="pa-2">
      <v-col cols="12">
        <small>{{  $t('The patients main complaint and initial diagnosis') }} : </small>
        <strong v-text="data.model"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{  $t('Final diagnosis') }} : </small>

        <strong v-text="data.Preventive"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{  $t('Therapeutic procedures and surgeries') }} : </small>

        <strong v-text="data.Actions"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{  $t('Results of paralink tests') }} : </small>

        <strong v-text="data.lab"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{  $t('Sick garlic (in case of death cause of death)') }} : </small>

        <strong v-text="data.Preventive"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{  $t('Patient status at discharge') }} : </small>

        <strong v-text="data.garlic"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{  $t('Post-clearance recommendations') }} : </small>
        <strong v-text="data.recommendations"></strong>
      </v-col>
    </v-row>

  </div>
</template>

<script>
export default {
  name: "abstacrdoc",

  data(){
    return{
      triage : null,
      item:null,
      data:{
        model:null,
        Preventive:null,
        Actions:null,
        lab:null,
        garlic:null,
        clearance:null,
        recommendations:null,
      }
    }
  },
  methods:{
    save(){
      let that = this;

      this.$axios.post(this.$url + 'staff/Abstract',
        {
          doc:this.id,
          data:this.data
        },
        {

          headers: {
            Authorization: localStorage.token
          }
        }).then(function (res) {
        //  that.item = res.data;
      });
    },
    loaddata(){
      let that = this;

      this.$axios.get(this.$url +'Applicant/AbstractUser/'+this.triage,{

          headers: {
            Authorization: localStorage.access_token_user
          }
        }).then(function (res) {
        that.item = res.data;
        that.data = res.data.data;
      });
    }
  },
  mounted() {

    this.triage = localStorage.traige;
    if (this.triage!=null){
      this.loaddata();
    }
  }
}
</script>

<style scoped>

</style>
