<template>
  <div>
    <h3 class="text-center">{{ $t('Clearance sheet') }}</h3>
    <hr>
    <v-row :dir="$t('dir')" class="pa-2">
      <v-col cols="12">
        <small>{{ $t('Disease and type of treatment')}} </small>
        <strong v-text="data['بیماری و نوع درمان']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('Possible consequences of treatment')}} </small>

        <strong v-text="data['پیامدهای احتمالی ناشی از درمان']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('Alternative therapies')}} </small>

        <strong v-text="data['روش های جایگزین درمانی']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('Nutrition and diet')}} </small>

        <strong v-text="data['تغذیه ورژیم غذایی']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('medicine')}} </small>

        <strong v-text="data['دارو']"></strong>
      </v-col>
      <v-col cols="12">
        <v-data-table :headers="headerdata" :items="data.drug">
          <template v-slot:item.name="{ item }">  <span>{{ item['نام و شکل دارو'] }}</span>  </template>
          <template v-slot:item.morning="{ item }">  <span>{{ item['صبح'] }}</span>  </template>
          <template v-slot:item.noon="{ item }">  <span>{{ item['ظهر'] }}</span>  </template>
          <template v-slot:item.night="{ item }">  <span>{{ item['شب'] }}</span>  </template>
          <template v-slot:item.coomand="{ item }">  <span>{{ item['توصیه های حین مصرف'] }}</span>  </template>

        </v-data-table>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('diet')}}   </small>
        <strong v-text="data['رژیم غذایی']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('Type of Activity')}}   </small>

        <strong v-text="data['نوع فعالیت']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('date')}}   </small>

        <strong v-text="data['زمان بعد مراجعه']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('Next place of reception')}}   </small>

        <strong v-text="data['مکان بعدی پذیرش']"></strong>
      </v-col>
      <v-col cols="12">
        <small>{{ $t('Health Care')}}   </small>

        <strong v-text="data['مراقبت های پزشکی']"></strong>
      </v-col>
    </v-row>


  </div>
</template>

<script>
export default {
  name: "Clearanceform",

  data(){
    return{
      triage : null,
      headerdata:[
        { text: this.$t('Name and form of the drug'),   value: 'name' },
        { text: this.$t('Morning'),   value: 'morning' },
        { text: this.$t('noon'),   value: 'noon' },
        { text: this.$t('night'),   value: 'night' },
        { text: this.$t('Consumption recommendations'),   value: 'coomand' },



      ],
      drug:{
        'نام و شکل دارو':null,
        'صبح':null,
        'ظهر':null,
        'شب':null,
        'توصیه های حین مصرف':null,

      },
      dialog:false,
      data:{
        drug:[]
      }
    }
  },
  methods:{
    delitem(i){
      this.data.drug.splice(i);

    },
    resetdrug(){
      this.drug={
        'نام و شکل دارو':null,
        'صبح':null,
        'ظهر':null,
        'شب':null,
        'توصیه های حین مصرف':null,

      };
    },
    adddrug(){
      this.data.drug.push(this.drug);
      this.dialog=false;
      this.resetdrug();

    },
    save(){
      let that=this;
      this.$axios.post(this.$url+'Applicant/ClearanceUser/triageid',
        {
          triage:this.triage,
          data:this.data,
        },{

          headers: {
            Authorization: localStorage.access_token_user
          }
        })
        .then(function (res) {

        });

    },
    loaditem(){
      let that=this;
      this.$axios.get(this.$url+'Applicant/ClearanceUser/'+this.triage,{
        headers: {
          Authorization: localStorage.access_token_user
        }
      }).then(function (res){
        that.data=res.data.data;
      });
    }


  },
  mounted() {
    this.triage = localStorage.traige;
    if (this.triage!=null){
      this.loaditem();
    }

  }
}
</script>

<style scoped>

</style>
