<template>
  <div>
    <h3 class="text-center">{{ $t('Patient insurance referral letter') }}</h3>
    <v-card v-for="item in data" class="mt-1 pa-4 text-center" color="white" dense :to="'/Dashboard/mnbb/'+item._id">
      <v-row dir="rtl">
        <v-col cols="6">
          <h5 v-text="item.data.subject"></h5>
        </v-col>
        <v-col cols="6">
          <h5 v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></h5>

        </v-col>
      </v-row>

    </v-card>
  </div>
</template>

<script>
export default {
  name: "Parttimenursing",
  data(){
    return{
      triage : null,
      data:null,
    }
  },
  methods:{
    loaddata(){


      let that=this;
      this.$axios.get(this.$url+'Applicant/VisitUser',{

        params:{
          triage:this.triage,
          mode:'mnbb'
        } ,
        headers: {
          Authorization: localStorage.access_token_user
        }
      }).then(function (res){
        that.data=res.data;
      });
    }
  },

  mounted() {

    this.triage = localStorage.traige;
    if (this.triage!=null){
      this.loaddata();
    }
  }
}
</script>

<style scoped>

</style>
