<template>
    <div >
      <h4 class="pb-3 " style="text-align: center; color: #620303;">{{  $t('Part-time medical visit') }}</h4>
      <hr>
      <v-card v-for="item in data" class="mt-1 pa-4 text-center" color="white" dense :to="'/Dashboard/Nursingmedical/'+item._id">
      Date  <spanm v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></spanm>

      </v-card>
    </div>
</template>

<script>
export default {
  name: "Parttimemedical",
  data(){
    return{
      triage : null,
      data:null,
    }
  },
  methods:{
    loaddata(){


      let that=this;
      this.$axios.get(this.$url+'Applicant/VisitUser',{

        params:{
          triage:this.triage,
          mode:'visitparttime'
        } ,
        headers: {
          Authorization: localStorage.access_token_user
        }
      }).then(function (res){
        that.data=res.data;
      });
    }
  },

  mounted() {

    this.triage = localStorage.traige;
    if (this.triage!=null){
      this.loaddata();
    }
  }
}
</script>

<style scoped>

</style>
