<template>
  <div>
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >
        <v-col cols="2">
          <nuxt-link to="/Dashboard/Support">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Topic') }}
        </v-col>
      </v-row>
    </v-alert>

    <div class="mt-12">
      <template v-if="body!=null">
        <v-alert :dir="$t('dir')" border="left" color="orange" class="alert_title">

          <hr>
          <div class="pa-2">
            <small v-text="$t('title')"></small>
            <label v-text="body.title"></label>
          </div>
        </v-alert>

        <v-card class="mt-1">
          <v-row class="pa-2" :dir="$t('dir')">
            <v-col cols="12">
              <h6 v-text="body.description"></h6>
            </v-col>

            <v-col cols="12" class="text_left">
              <small
                v-text="$moment.from(body.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></small>
            </v-col>
          </v-row>
        </v-card>
        <v-card v-if="body.image">
          <img :src="'data:image/jpeg;base64,'+body.image" width="100%">
        </v-card>
        <v-card class="mt-1" v-for="item in body.to_answer">
          <v-row class="pa-2" :dir="$t('dir')">
            <v-col cols="12">
              <h6 v-text="item.description"></h6>
            </v-col>

            <v-col cols="12" class="text_left">
              <small
                v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></small>
            </v-col>
          </v-row>
        </v-card>
      </template>
    </div>
    <v-row class="btn_register_page pa-2" :dir="$t('dir')" v-bind:style="{opacity: showopacity}">

      <v-col cols="10">

        <v-text-field
          @focusin="opacityshow = 1"
          @focusout="opacityshow = 0"
          placeholder="..."
          v-model="chat.description"
          Autocomplete="Autocomplete"
          class="text_text"
        ></v-text-field>


      </v-col>

      <v-col cols="2" class="mt-6" >
        <v-btn block color="primary" elevation="2" block @click="SaveAnswer()">{{ $t('send') }}</v-btn>
      </v-col>


    </v-row>

    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "_id",
  layout: 'dashboard',
  data: function () {
    return {
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },

      chat: {
        parent: this.$route.params.id,
        description: null,
      },
      opacityshow : 0,
    }
  },
  computed:{
    showopacity:function (){
      if (this.opacityshow == 0){
        return "0.3"
      }else {
        return "1"
      }
    }
  },
  methods: {
    GetMessage(id) {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/ticket/" + id, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.body = response.data;
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    },
    SaveAnswer(){
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.put(this.$url + "Applicant/ticket/" + this.chat.parent,this.chat , {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.GetMessage(that.$route.params.id);
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    this.GetMessage(this.$route.params.id);

  }
}
</script>

<style scoped>
.alert_title {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;

}
</style>
