<template>
  <div>
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >
        <v-col cols="2">
          <nuxt-link to="/Dashboard/Support">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('New tickets and support') }}
        </v-col>
      </v-row>
    </v-alert>

    <v-card class="page_request" color="white" dense>
      <v-row align="center" class="pa-3" dir="rtl">
        <v-col cols="12">
          <label v-text="$t('Topic')"></label>
          <v-row>
            <v-col cols="12">
              <v-btn v-bind:style="{border:Cheakmodel}"   elevation="2"
                     @click="setgender('مالی')">
                {{  $t('Financial') }}
              </v-btn>
              <v-btn v-bind:style="{border:Cheakmodel1}"  elevation="2"
                     @click="setgender('بالینی')">
                {{  $t('Clinical') }}
              </v-btn>
              <v-btn v-bind:style="{border:Cheakmodel2}"   elevation="2"
                     @click="setgender('پرونده دیجیتال')">
                {{ $t('Digital file') }}
              </v-btn>
            </v-col>

          </v-row>
          <hr>
        </v-col>
        <v-col cols="12">
          <v-text-field

            :placeholder="$t('titr')"
            v-model="chat.title"
            class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="chat.description"

            class="text_center"
            rows="4"
            :placeholder="$t('description')"
          ></v-textarea>
        </v-col>
        <v-col cols="12" class="text-lg-center">
          <v-row>

            <input  type="file" @change="handleFileUpload( $event )"  accept="image/*"/>
            <v-col cols="12" @click.prevent="showFileChooser" align="center" class="pt-0 pb-0">
              <v-icon class="mdi-36px">mdi-cloud-upload</v-icon>
              <a href="#" role="button" v-text="$t('Upload')"></a>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

    </v-card>
    <v-row>
      <v-col cols="12" align="center">
        <v-btn class="btn_color" elevation="2" @click="SaveChat()">{{ $t('send') }}</v-btn>
      </v-col>


    </v-row>
    <v-row dir="rtl">
      <div class="text-center" v-bind:class="{error_page: isActive1}">
        <v-snackbar v-model="snackbar" :timeout="timeout">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
              {{ $t('Close') }}
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "Chatnew",
  layout: 'dashboard',

  data: function () {
    return {
      file:null,
      chat: {
        subject: 'مالی',
        title: null,
        description: null,
      },
      subject: [
        {
          name: 'مالی'
        },
        {
          name: 'بالینی'
        },
        {
          name: 'پرونده دیجیتال'
        }
      ],

      loadingpage: {
        absolute: true,
        overlay: false,
      },

      isActive: false,
      snackbar: null,
      timeout: 3000,
      text: null,
    }
  },
  computed: {

    Cheakmodel: function () {
      if (this.chat.subject == "مالی") {
        return "2px solid black";
      } else {
        return "none";
      }
    },
    Cheakmodel1: function () {
      if (this.chat.subject == "بالینی") {
        return "2px solid black";
      } else {
        return "none";
      }
    },
    Cheakmodel2: function () {
      if (this.chat.subject == "پرونده دیجیتال") {
        return "2px solid black";
      } else {
        return "none";
      }
    },

    isActive1: function () {
      if (this.isActive == false) {
        return true;
      }
    },
  },

  methods: {
    handleFileUpload( event ){
      this.file = event.target.files[0];
    },

    setgender(gender) {
      this.chat.subject = gender;
    },
    showFileChooser() {
      this.$refs.image.click();
    },
    SaveChat() {
      let that = this;
      var formData = new FormData();
      formData.append('file', this.file);
      formData.append("subject",this.chat.subject);
      formData.append("description",this.chat.description);
      formData.append("subject",this.chat.subject);
      formData.append("title",this.chat.title);
      formData.append("triage",localStorage.traige);


      this.loadingpage.overlay = true;
      this.$axios.post(this.$url + "Applicant/ticket", formData, {
        headers: {
          Authorization: localStorage.access_token_user,
          'Content-Type': 'multipart/form-data'

        }

      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.$router.push("/Dashboard/Support");

        })
        .catch((error) => {
          that.loadingpage.overlay = false;
          let er = error.response.data.errors;
          for (let i in er) {
            this.text = that.$t(er[i][0]);
            this.snackbar = true;
            return;
          }

        });

    }
  }
}
</script>

<style scoped>

</style>
