<template>
  <div>
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >
        <v-col cols="2">
          <nuxt-link to="/Dashboard/">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Tickets and support') }}
        </v-col>
      </v-row>
    </v-alert>
    <div class="mt-12  page_request" :dir="$t('dir')">

      <v-btn block class="btn_color mb-2" elevation="2" to="/Dashboard/Support/ChatNew">{{ $t('Create a new ticket') }}</v-btn>
      <template v-if="body!=null">
        <v-card v-for="item in body" class="mt-1" color="white" dense :to="'/Dashboard/Support/'+item._id">
          <v-row  class="pa-2">
            <v-col cols="12">
              <small   v-text="$t('Topic')"></small>
              <strong v-text="item.title"></strong>
              <br>
              <span></span>
            </v-col>
            <v-col cols="6">
              <small v-text="$t('Condition')"></small>
              <small v-if="item.status == 0" v-text="$t('Pending')"></small>
              <small v-if="item.status == 1" v-text="$t('Checked')" ></small>
              <small v-if="item.status == 3" v-text="$t('Done')"  ></small>
            </v-col>
            <v-col cols="6" align="left">

              <h5 v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></h5>
            </v-col>
          </v-row>
        </v-card>
      </template>

    </div>


<!--    <div class="plus_chat">
      <v-fab-transition>
        <v-btn :key="'mdi-plus'" fab large bottom left class="v-btn&#45;&#45;example" to="/Dashboard/Support/ChatNew">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-fab-transition>
    </div>-->
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>

  </div>
</template>

<script>

export default {
  name: "Support",
  layout: 'dashboard',
  data: function () {
    return {
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },
    }
  },
  methods: {
    GetChat() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/ticket", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.body = response.data;
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    this.GetChat();
    this.$title = 'پشتیبانی';



  }

}
</script>

<style scoped>
.plus_chat {
  position: fixed;
  bottom: 10px;
}

</style>
