<template>
  <div>
    <template v-if="locationsmaps!=null">
      <GmapMap v-bind:style="style_map" :zoom="10" :center="{lat: 35.7136851, lng: 51.3875009}"
               ref="map">
        <GmapMarker v-for="item in locationsmaps" :position="item"/>
        <gmap-marker v-for="(item, key) in locationsmaps" :key="key" :position="getPosition(item)" :clickable="true"  />

      </GmapMap>
    </template>


  </div>
</template>

<script>
  export default {
    name: "googlemapMarker",
    props: {
      style_map: {
        type: String,
        default: 'width: 100%;height: 800px'
      },
      marker: {
        type: Array,
        default: [],
      },

    },
    data() {
      return {
        start:null,
        locationsmaps:null,
        lat:null,
        lang:null,
      }
    },
    methods: {
      getPosition: function(marker) {
        return {
          lat: parseFloat(marker.lat),
          lng: parseFloat(marker.lng)
        }
      },
    },
    mounted() {
      navigator.geolocation.getCurrentPosition(position => {
        let lat = position.coords.latitude;
        let lang = position.coords.longitude;

      })
      let dataarray = this.marker;
      const myobject = [];
      for (let i in dataarray){

        let item ={
          full_name:dataarray[i].name,
          lat : dataarray[i].lat,
          lng : dataarray[i].lng
        }

        myobject.push(item)
      }
      console.log(myobject);
      this.locationsmaps = myobject;



    }
  }
</script>

<style scoped>

</style>
