<template>
  <div>
    <GmapMap v-bind:style="style_map" :zoom="10" :center="{lat: 35.7157713, lng: 51.4099659}"
             ref="map" @click="clicked">
      <GmapMarker v-if="start" :position="start"/>
    </GmapMap>

  </div>
</template>

<script>
export default {
  name: "googlemap",
  props: {
    style_map: {
      type: String,
      default: 'width: 100%;height: 300px'
    },
  },
  data() {
    return {
      start: null
    }
  },
  methods: {
    clicked(e) {
      var geocoder = new google.maps.Geocoder;
      let x = e.latLng;
      var latLng = {
        lat: parseFloat(x.lat().toString()),
        lng: parseFloat(x.lng().toString())
      };
      geocoder.geocode({'location': latLng}, function (results, status) {
        if (status === 'OK') {
          if (results[0]) {
            //console.log(results[0]);
            //console.log(results[0].formatted_address);
            //console.log(results[0]);
            //console.log(results[0].formatted_address);
          } else {

            window.alert('No results found');

          }
        } else {
          window.alert('Geocoder failed due to: ' + status);
        }

      });
      this.start = e.latLng;
      this.$emit('myevent', this.start);
    },
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>
