<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title v-text="$t(title) "></v-list-item-title>
      <v-list-item-subtitle v-html="value"> </v-list-item-subtitle>
      <v-list-item-subtitle v-html="other"> </v-list-item-subtitle>
      <v-list-item-subtitle v-if="more!=null" ><i v-html="more"></i> </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
  export default {
    name: "lisitem",
    props: {
      title:{
        default: null
      },
      value:{
        default: null
      }  ,
      more:{
        default: null
      }
    }


  }
</script>

<style scoped>

</style>
