<template>
  <div>
    <v-overlay :absolute="absolute" :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
  export default {
    name: "loadingpage",
    props: {
      absolute: {
        type: Boolean,
        default: true
      },
      overlay: {
        type: Boolean,
        default: false
      },

    },
    data() {
      return {

      }
    },
    methods:{

    }
  }
</script>

<style scoped>

</style>
