<template>
  <div class="oxin_Logo" v-bind:style="style_logo">
    <v-row justify="center">
      <v-img src="/logo.png">
      </v-img>
    </v-row>

  </div>
</template>
<script>
  export default {
    name: "googlemap",
    props: {
      style_logo: {
        type: String,
        default: 'width: 50px;margin: auto;margin-top:80px'
      },

    },
    data() {
      return {

      }
    },
    methods: {

    },
    mounted() {

    }
  }
</script>
<style scoped>
  .oxin_Logo{
    width: 120px!important;
    margin: 80px auto auto!important;
  }
</style>
