<template>
  <v-text-field
      placeholder="کد ملی"
      solo
      outlined
      v-model="value"
      v-bind:class="classObject"
      type="number"
      class="text_center"
  ></v-text-field>
</template>

<script>
export default {
  props: ['value'],
  name: "Nationalcode",
  data() {
    return {
      isActive: true,
      error: null,
    }
  },

  computed: {
    classObject: function () {
     /* if (this.mycode == false) {
        return 'pink lighten-3';
      } else {
        return 'green accent-3';
      }*/

      if (this.mycode == false) {
        return 'pink_lighten-3';
      } else {
        return 'green_accent-3';
      }
    },
    mycode: function () {
      let code = this.value;
      if (code == null) return false;
      var L = code.length;
      if (L < 10 || parseInt(code, 10) == 0) return false;
      code = ('0000' + code).substr(L + 4 - 10);
      if (parseInt(code.substr(3, 6), 10) == 0) return false;
      var c = parseInt(code.substr(9, 1), 10);
      var s = 0;
      for (var i = 0; i < 9; i++)
        s += parseInt(code.substr(i, 1), 10) * (10 - i);
      s = s % 11;
      this.$emit('events', code);
      return (s < 2 && c == s) || (s >= 2 && c == (11 - s));
      return true;
    }
  },
  methods: {}
}
</script>

<style>
  .pink_lighten-3 .v-input__control .v-input__slot{
    background-color: lightpink!important;
  }
  .green_accent-3 .v-input__control .v-input__slot{
    background-color: green!important;
  }
</style>
