<template>
  <div class="mt-15">
    <v-btn to="/Dashboard/Triage">{{ $t('back') }}</v-btn>
    <div v-if="dataform!=null">
      <form @submit.prevent="savedata">
        <v-card color="basil" dir="ltr">
          <v-card-title class="text-center justify-center py-6">
          </v-card-title>
          <v-tabs
            background-color="cyan"
            dark
            next-icon="mdi-arrow-right-bold-box-outline"
            prev-icon="mdi-arrow-left-bold-box-outline"
            show-arrows
            v-model="tab"
            color="basil"
            grow
          >
            <v-tab
              v-for="(item,index) in dataform.section"
              :key="index"
              @click="activetab=index"   >
              {{ $t(index) }}
            </v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab">
            <v-tab-item
              v-for="(item,index) in dataform.section"
              :key="index"      >
              <v-card
                color="basil"
                flat
                style="margin: 5px; text-align: center;"         >
                <h3>{{ $t(index) }}</h3>
                <hr>
                <v-card-text>
                  <v-row>
                    <v-col
                      cols="12"
                      md="4"     >
                      <div>{{ item['status'] }}</div>
                    </v-col>
                    <template>
                      <v-col
                        cols="12"
                        md="12"
                        style="text-align: right;"
                      >
                        <label >{{ $t('description')}}</label>
                       <div v-html="item.Description"></div>
                      </v-col>
                    </template>
                    <v-col>
                      {{ $t('List Of Drug') }}
                      <v-list three-line>
                        <template v-for="(items, indexs) in item.Drugs">
                          <v-list-item style="background-color: #d2f1d2; border-radius: 5px;">
                            <v-list-item-content>
                              <v-list-item-title v-html="items.name"></v-list-item-title>
                              <ul class="listofcalifornia  " >
                                <i >{{ $t('Dosage') }}{{ items.Ingredient }} {{ $t('Dosage g/mg') }}</i>
                                <v-row>
                                  <v-col xs="12">
                                    <span>{{ $t('Total consumption') }} </span>
                                    <div >  {{ $t('count') }} : {{ items.perday }} Q {{ items.modeperday }}</div>
                                    <div >  {{ $t('Route') }} : {{ items.RouteofAdmin }}</div>
                                    <div >  {{ $t('Medical Actions') }} : {{ items.MedicalActions }}</div>
                                  </v-col>

                                </v-row>
                              </ul>

                              <hr>
                            </v-list-item-content>
                          </v-list-item>
                        </template>
                      </v-list>

                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>

        <ul>

          <li class="btn mt-3" v-for="(i,index) in dataform.const" :key="index">
            <v-btn    x-small
                      fab style="color: red; cursor: pointer;" @click="delitem(index)" >x</v-btn> {{ i.name }}
            <hr>
            <p class="mt-3" v-html="i.descriptions"></p>

          </li>
        </ul>


      </form>
    </div>

  </div>
</template>
<script>
export default {
  layout: 'dashboard',

  name: "periodicvisit",
  props:{
    id:{  default:null },

  },
  data(){
    return {

      status: [
        'Normal', 'Abnormal', 'NodExamined'
      ],
      tab: null,
      keyitem: 1,
      activetab: 'GeneralApperance',
      activedmoshaver: false,
      dataform: null
    }
  },
  methods:{

    addtoconst(e){
      this.activedmoshaver=false;

      this.dataform.const.push(e);

    },

    loaddata(){
      let that=this;
      this.$axios.get(this.$url+'Applicant/VisitUser/'+that.$route.params.id,{
        params:{
          triage:localStorage.traige,
          mode:'pnv',
        } ,
        headers: {
          Authorization: localStorage.access_token_user
        }
      }).then(function (res){
        that.dataform=res.data.data;
      });

    },
    savedata(){


    },
  },
  mounted() {
    this.loaddata();
  }
}
</script>

<style scoped>

</style>
