<template>
  <div>
    <div v-if="list!=null">
      <vue-jitsi-meet
        style="height:500px;"
        ref="jitsiRef"
        domain="jitsi.toucanpg.com"
        :options="jitsiOptions"
      ></vue-jitsi-meet>
    </div>


  </div>

</template>

<script>
export default {
  layout: 'dashboard',
  data(){
    return{
      list:123
    }
  },
  computed: {
    jitsiOptions () {
      return {
        roomName: this.$route.params.id,
        noSSL: false,
        userInfo: {
          email: 'user@email.com',
          displayName: 'Mac',
        },
        configOverwrite: {
          enableNoisyMicDetection: false,


        },
        interfaceConfigOverwrite: {
          SHOW_JITSI_WATERMARK: false,
          SHOW_WATERMARK_FOR_GUESTS: false,
          SHOW_CHROME_EXTENSION_BANNER: false,
          TOOLBAR_BUTTONS: [
            'microphone', 'camera', 'hangup', 'profile', 'settings', 'raisehand',
            'videoquality'
          ]

        },
        SHOW_CHROME_EXTENSION_BANNER: false,

        onload: this.onIFrameLoad
      };
    },
  },
  methods: {
    onIFrameLoad () {
      // do stuff
    },
  },
  mounted(){

  }
};
</script>
