<template>
  <div>
    <div class=" page_request" color="white" dense>
      <div class="title_page" style="background-color: red; color: #ffff;">
        <h4 v-text="$t('Medical records')" class="text_center pt-12" style="color: #fff !important;"></h4>
        <nuxt-link to="/Dashboard">
          <v-icon class="mdi-36px" style="color: #fff !important;">mdi-chevron-left</v-icon>
        </nuxt-link>

        <hr class="mt-3 mb-3">
      </div>

    </div>
    <v-card class="page_request" color="white" dense>

      <template v-if="user!=null">
        <v-tabs background-color="#1F097E"
                color="white"
                style="color: #fff !important;"
                next-icon="mdi-arrow-right-bold-box-outline"
                prev-icon="mdi-arrow-left-bold-box-outline"
                show-arrows
                v-model="tab"
        >
          <v-tabs-slider color="yellow"></v-tabs-slider>

          <v-tab :key="2">
            {{ $t('Accompanying the client') }}
          </v-tab>
          <v-tab :key="3">
            {{ $t('Insurance') }}
          </v-tab>
          <v-tab :key="4">
            {{ $t('disease background') }}
          </v-tab>
          <v-tab :key="5">
            {{ $t('Sight and hearing') }}
          </v-tab>
          <v-tab :key="6">
            {{ $t('The client movement position') }}
          </v-tab>
          <v-tab :key="7">
            {{ $t('Nutrition') }}
          </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab" dir="rtl">

          <v-tab-item :key="2">
            <v-card color="basil" flat>
              <v-card-text>
                <v-row align="center" class="pa-3" dir="rtl">
                  <v-col cols="12" class="pa-2">
                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('name')"

                      v-model="user.hname"
                      Autocomplete="Autocomplete"
                      class="text_center"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" class="pa-2">
                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('phone')"
                      v-model="user.hphone"
                      Autocomplete="Autocomplete"
                      class="text_center"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" class="pa-2">
                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('mobile')"

                      v-model="user.hmobile"
                      Autocomplete="Autocomplete"
                      class="text_center"
                      type="number"
                    ></v-text-field>
                  </v-col>
                </v-row>

              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item :key="3">
            <v-card color="basil" flat>
              <v-card-text>
                <v-row align="center" class="pa-3" dir="rtl">
                  <v-col cols="12" class="pa-2">
                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('Main insurance')"

                      v-model="user.masterins"
                      Autocomplete="Autocomplete"
                      class="text_center"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" class="pa-2">
                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('Supplementary insurance')"

                      v-model="user.Insurance"
                      Autocomplete="Autocomplete"
                      class="text_center"
                    ></v-text-field>
                  </v-col>

                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item :key="4">
            <v-card color="basil" flat>
              <v-card-text>
                <v-row>
                  <v-col cols="4">
                    <v-checkbox v-model="user.bloodpressure"
                                :label="$t('blood pressure')"

                                color="primary" hide-details
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="4">
                    <v-checkbox v-model="user.diabet"
                                :label="$t('Diabetes')"
                               color="primary" hide-details></v-checkbox>
                  </v-col>
                  <v-col cols="4">
                    <v-checkbox v-model="user.addiction"
                                :label="$t('Addiction')"
                               color="primary" hide-details></v-checkbox>
                  </v-col>

                  <v-col cols="12">
                    <v-checkbox v-model="user.heartdisease"
                                :label="$t('Addiction')"
                               color="primary"
                                hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.heartdisease == true">
                    <v-col cols="12" class="sub_info">
                      <v-textarea
                        solo
                        outlined
                        v-model="user.heartdiseasecomment"
                        outlined
                        class="text_center"
                        rows="4"
                        :placeholder="$t('description')"
                      ></v-textarea>
                    </v-col>
                    <v-col cols="12" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        placeholder="EF"
                        v-model="user.heartdiseasef"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                  </template>

                  <v-col cols="12">
                    <v-checkbox v-model="user.Kidney" :label="$t('Kidney problems')" color="primary" hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Kidney == true">
                    <v-col cols="12" class="sub_info">
                      <v-textarea
                        solo
                        outlined
                        v-model="user.Kidneycomment"
                        outlined
                        class="text_center"
                        rows="4"
                        :placeholder="$t('description')"
                      ></v-textarea>
                    </v-col>

                  </template>

                  <v-col cols="12">
                    <v-checkbox v-model="user.Lung"          :label="$t('Pulmonary problems')"  color="primary" hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Lung == true">
                    <v-col cols="12" class="sub_info">
                      <v-textarea
                        solo
                        outlined
                        v-model="user.Lungcomment"
                        outlined
                        class="text_center"
                        rows="4"
                        :placeholder="$t('description')"
                      ></v-textarea>
                    </v-col>

                  </template>

                  <v-col cols="12">
                    <v-checkbox v-model="user.Internalglands"   :label="$t('Endocrine glands')"  color="primary"
                                hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Internalglands == true">
                    <v-col cols="12" class="sub_info">
                      <v-textarea
                        solo
                        outlined
                        v-model="user.Internalglandscomment"
                        outlined
                        class="text_center"
                        rows="4"
                        :placeholder="$t('description')"
                      ></v-textarea>
                    </v-col>

                  </template>

                  <v-col cols="12">
                    <v-checkbox v-model="user.surgery"  :label="$t('surgery')"  color="primary" hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.surgery == true">
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Number of hospitalizations') "
                        v-model="user.surgerycount"
                        Autocomplete="Autocomplete"
                        class="text_center"
                        type="number"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Place of hospitalization') "
                        v-model="user.surgeryplace"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Last hospitalization') "
                        v-model="user.surgerylast"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Time of hospitalization') "
                        v-model="user.surgerydate"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                  </template>

                  <v-col cols="12">
                    <v-checkbox v-model="user.Brainnerve"
                                :label="$t('neurology and psychiatry')"
                                color="primary"
                                hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Brainnerve == true">
                    <v-col cols="12" class="sub_info">
                      <v-textarea
                        solo
                        outlined
                        v-model="user.Brainnervecomment"
                        outlined
                        class="text_center"
                        rows="4"
                        :placeholder="$t('description')"
                      ></v-textarea>
                    </v-col>
                  </template>

                  <v-col cols="6">
                    <v-checkbox v-model="user.Depression"
                                :label="$t('neurology and psychiatry')"
                                color="primary" hide-details></v-checkbox>
                  </v-col>
                  <v-col cols="6">
                    <v-checkbox v-model="user.Suicide" :label="$t('Suicide')"    color="primary" hide-details></v-checkbox>
                  </v-col>

                  <v-col cols="12">
                    <v-checkbox v-model="user.Hospitalization"  :label="$t('Number of hospitalizations')"  color="primary"
                                hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Hospitalization == true">
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Number of hospitalizations')"
                        v-model="user.surgerycount"
                        Autocomplete="Autocomplete"
                        class="text_center"
                        type="number"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Place of hospitalization')"

                        v-model="user.Hospitalizationplace"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Last hospitalization')"
                        v-model="user.Hospitalizationlast"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" class="sub_info">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Time of hospitalization')"

                        v-model="user.Hospitalizationdate"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                  </template>
                  <v-col cols="12">
                    <v-checkbox v-model="user.Hereditary" :label="$t('Hereditary')"   color="primary" hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Hereditary == true">
                    <v-col cols="12" class="sub_info">
                      <v-textarea
                        solo
                        outlined
                        v-model="user.Hereditarycomment"
                        outlined
                        class="text_center"
                        rows="4"
                        :placeholder="$t('description')"
                      ></v-textarea>
                    </v-col>
                  </template>

                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item :key="5">
            <v-card color="basil" flat>
              <v-card-text>
                <v-row align="center" class="pa-3" dir="rtl">
                  <v-col cols="12">
                    <v-checkbox v-model="user.Hearing" :label="$t('Hearing')"   color="primary" hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Hearing == true">

                    <v-col cols="6">
                      <strong>{{ $t('Right hearing')  }}</strong>
                      <v-radio-group v-model="user.Hearingright">
                        <v-radio label="Hearing loss" color="primary" value="Hearing loss"></v-radio>
                        <v-radio label="Deafness" color="primary" value="Deafness"></v-radio>
                        <v-radio label="normal" color="primary" value="normal"></v-radio>
                      </v-radio-group>
                    </v-col>
                    <v-col cols="6">
                      <strong>{{ $t('left hearing')  }} </strong>
                      <v-radio-group v-model="user.Hearingleft">
                        <v-radio label="Hearing loss" color="primary" value="Hearing loss"></v-radio>
                        <v-radio label="Deafness" color="primary" value="Deafness"></v-radio>
                        <v-radio label="normal" color="primary" value="normal"></v-radio>
                      </v-radio-group>
                    </v-col>

                  </template>

                  <v-col cols="12">
                    <v-checkbox v-model="user.Vision" :label="$t('Sight')"  color="primary" hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.Vision == true">
                    <v-col cols="12">
                      <strong>{{ $t('Eye cover')  }} </strong>

                      <v-radio-group v-model="user.Visiongcover">
                        <v-radio label="nothing" color="primary" value="nothing"></v-radio>
                        <v-radio label="lenz" color="primary" value="lenz"></v-radio>
                        <v-radio label="Glasses" color="primary" value="Glasses"></v-radio>
                      </v-radio-group>
                    </v-col>
                    <v-col cols="6">
                      <strong>{{  $t('Right vision') }}</strong>
                      <v-radio-group v-model="user.Visionright">
                        <v-radio label="Blindness" color="primary" value="Blindness"></v-radio>
                        <v-radio label="Lowvision" color="primary" value="Lowvision"></v-radio>
                        <v-radio label="normal" color="primary" value="normal"></v-radio>
                      </v-radio-group>
                    </v-col>
                    <v-col cols="6">
                      <strong>{{  $t('Left vision') }}</strong>

                      <v-radio-group v-model="user.Visiongleft">
                        <v-radio label="Blindness" color="primary" value="Blindness"></v-radio>
                        <v-radio label="Lowvision" color="primary" value="Lowvision"></v-radio>
                        <v-radio label="normal" color="primary" value="normal"></v-radio>
                      </v-radio-group>
                    </v-col>

                  </template>

                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item :key="6">
            <v-card color="basil" flat>
              <v-card-text>
                <v-row align="center" class="pa-3" dir="rtl">
                  <v-col cols="12">
                    <v-checkbox v-model="user.medicalallergy"  :label="$t('Patient movement position')"  color="primary"
                                hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.medicalallergy == true">

                    <v-col cols="6">

                      <v-radio-group v-model="user.medicalallergycomment">
                        <v-radio :label="$t('Trolleys')" color="primary" value="Trolleys"></v-radio>
                        <v-radio :label="$t('wheelchair')" color="primary" value="wheelchair"></v-radio>
                        <v-radio :label="$t('Walker')" color="primary" value="Walker"></v-radio>
                        <v-radio :label="$t('Cane')" color="primary" value="Cane"></v-radio>
                        <v-radio :label="$t('Need help')" color="primary" value="Need help"></v-radio>
                        <v-radio :label="$t('Walks independently')" color="primary" value="Walks independently"></v-radio>
                      </v-radio-group>
                    </v-col>


                  </template>
                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item :key="7">
            <v-card color="basil" flat>
              <v-card-text>
                <v-row align="center" class="pa-3" dir="rtl">
                  <v-col cols="12">
                    <v-checkbox v-model="user.lostweight" :label="$t('Body BMI status')"  color="primary"
                                hide-details></v-checkbox>
                  </v-col>
                  <template v-if="user.lostweight == true">

                    <v-col cols="6">
                      <v-text-field
                        solo
                        outlined
                        placeholder="ارتفاع"
                        v-model="user.Height"
                        type="number"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                      <v-text-field
                        solo
                        outlined
                        :placeholder="$t('Weight')"
                        v-model="user.weight"
                        type="number"
                        Autocomplete="Autocomplete"
                        class="text_center"
                      ></v-text-field>
                    </v-col>
                  </template>

                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
        <v-row>
          <v-col cols="12" align="center">
            <v-btn class="btn_color" elevation="2" @click="Save()">{{ $t('Confirmation') }}</v-btn>
          </v-col>


        </v-row>
      </template>
    </v-card>

    <v-row dir="rtl">
      <div class="text-center" v-bind:class="{error_page: isActive1}">
        <v-snackbar v-model="snackbar" :timeout="timeout">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
              {{ $t('Close') }}
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
import Nationalcode from "~/components/nationalcode";

export default {
  name: "Edituser",
  components: {Nationalcode},
  layout: 'dashboard',
  data: function () {
    return {
      tab: null,
      user: {

        // Hamrah
        hname: null,
        hphone: null,
        hmobile: null,
        //Address
        city: null,
        state: null,
        address: null,
        password: null,
        mobile: null,
        phone: null,
        //Insurance
        masterins: null,
        Insurance: null,
        //History Sick
        bloodpressure: false,
        diabet: false,
        addiction: false,

        heartdisease: false,
        heartdiseasecomment: null,
        heartdiseasef: null,

        Kidney: false,
        Kidneycomment: null,

        Lung: false,
        Lungcomment: null,

        Internalglands: false,
        Internalglandscomment: null,

        surgery: false,
        surgerycount: null,
        surgerylast: null,
        surgerydate: null,
        surgeryplace: null,

        Brainnerve: false,
        Brainnervecomment: null,

        Depression: false,
        Suicide: false,

        Hospitalization: false,
        Hospitalizationlast: null,
        Hospitalizationdate: null,
        Hospitalizationplace: null,

        Hereditary: false,
        Hereditarycomment: null,


        Hearing: false,
        Hearingright: null,
        Hearingleft: null,

        Vision: false,
        Visionright: null,
        Visiongleft: null,
        Visiongcover: null,

        medicalallergy: false,
        medicalallergycomment: null,
        // Have you lost weight in the last week?
        lostweight: false,
        Height: 0,
        weight: 0,


        Foodallergies: false,
        Foodallergiescomment: null,
        // The patient's ability to move
        Bedsore: false,
        // External device in the body
        Externaldevice: false,
        Prosthesis: false,
        Prosthesisplace: null,
        Stent: false,
        Stentcount: 0,
        pacemaker: 0,
        //Nutrition
        Nutrition: null,

        dosepain: null,
        dosepaindegree: 1,
        //uplaod
        mri: null,
        sono: null,
        radiology: null,
        scan: null,
        Medicineprescription: null,
        other: null,
      },
      loadingpage: {
        absolute: true,
        overlay: false,
      },
      isActive: false,
      snackbar: null,
      timeout: 3000,
      text: null,

    }
  },
  computed: {
    Cheakmodel: function () {
      if (this.user.gender == "male") {
        return "2px solid black";
      } else {
        return "none";
      }
    },
    Cheakmodel1: function () {
      if (this.user.gender == "female") {
        return "2px solid black";
      } else {
        return "none";
      }
    },
    isActive1: function () {
      if (this.isActive == false) {
        return true;
      }
    },
  },
  methods: {
    setgender(gender) {
      this.user.gender = gender;
    },
    doSomething(e) {
      this.user.nationlcode = e;
    },
    Save() {
      let that = this;
      this.loadingpage.overlay = true;

      if (this.user.roll != null) {
        this.$axios.put(this.$url + "Applicant/profile/1", this.user, {
          headers: {
            Authorization: localStorage.access_token_user
          }
        })
          .then(function (response) {
            that.loadingpage.overlay = false;
            that.text = that.$t('Information successfully recorded');
            that.snackbar = true;
            that.Idmshow();
          })
          .catch((error) => {


          });
      } else {
        this.$axios.post(this.$url + "Applicant/profile", this.user, {
          headers: {
            Authorization: localStorage.access_token_user
          }
        })
          .then(function (response) {
            that.loadingpage.overlay = false;
          })
          .catch((error) => {


          });
      }

    },
    Idmshow() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/idmshow", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.user = response.data;
          that.loadingpage.overlay = false;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    let that = this;
    this.loadingpage.overlay = true;
    this.$axios.get(this.$url + "Applicant/idmshow/create", {
      headers: {
        Authorization: localStorage.access_token_user
      }
    })
      .then(function (response) {
        if (response.data.roll != null) {
          that.Idmshow();
          return;
        }
        that.user.phone = response.data.phone;
        that.loadingpage.overlay = false;
      });

  }
}
</script>

<style scoped>
.sub_info {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.v-tab {
  color: white !important;
}
</style>
