<template>
  <div>
    <div class="mt-12 page_request" dir="rtl">
      <div class="title_page">
        <h4 v-text="titlepage" class="text_center"></h4><hr class="mt-3 mb-3">
      </div>
      <div class="back_box">
        <nuxt-link to="/Dashboard">
          <v-icon class="mdi-36px">mdi-chevron-left-circle-outline</v-icon>
        </nuxt-link>
      </div>
      <template v-if="body!=null">
        <template v-if="credit" dir="rtl">
          <v-alert border="left" dense icon="mdi-credit-card" type="success">
            <h5 class="pr-2">اعتبار :</h5>
            <strong>
              <money class="mony" v-model="credit" v-bind="money"></money>
            </strong>
          </v-alert>
        </template>

        <div class="mb-15">
          <template v-if="item.peygiri == null || item.peygiri == '' " v-for="item in body">
            <v-card class="mt-1 " color="white" dense dir="rtl">
              <v-row class="pa-2 text-right">
                <v-col cols="3">
                  <img src="/image/debit-card.png" width="50px">
                </v-col>
                <v-col cols="8" class="pr-2">
                  <h5>{{ $t('Credits required') }}</h5>
                  <h5>
                    <money class="mony" v-model="item.recived" v-bind="money"></money>
                  </h5>
                  <small class="text-left"
                    v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')">
                  </small>

                </v-col>
              </v-row>

            </v-card>
          </template>
          <template v-else>
            <v-card class="mt-1"  dense dir="rtl">
              <v-row class="pa-2 text-right">
                <v-col cols="2">
                  <img src="/image/credit-card.png" width="50px">
                </v-col>
                <v-col cols="10">
                  <v-row>
                    <h5 class="text-center" v-text="$t('transaction from the bank') + item.bankename + $t('Successful')"></h5>
                    <v-col cols="6" >
                      <h5>
                        <money class="mony" v-model="item.payment" v-bind="money"></money>
                      </h5>
                      <small
                        v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')">

                      </small>
                    </v-col>
                    <v-col cols="6" >
                      <small v-text="$t('Issue Tracking')"></small>
                      <h5 v-text="item.peygiri"></h5>
                    </v-col>
                  </v-row>

                </v-col>

              </v-row>
            </v-card>

          </template>

        </div>
        <template v-if="credit" dir="rtl">
        <v-row class="btn_register_page">


          <v-btn block color="primary" elevation="2" block @click="Payment()">{{ $t('the payment') + this.credit}}</v-btn>


        </v-row>
        </template>
      </template>
      <template v-if="body!=null">
        <template v-if="body.length ==0">
          <div class="empty_data">
            <v-icon class="48px">mdi-database-remove</v-icon><br>
            <strong> {{  $t('There are no transactions') }}</strong>
          </div>
        </template>
      </template>
    </div>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
import {Money} from 'v-money'

export default {
  name: "index",
  layout: 'dashboard',
  data: function () {
    return {
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },
      money: {
        decimal: ',',
        thousands: '.',
        readonly: true,
        suffix: this.$t('toman') ,
        precision: 0,
        masked: false

      },
      credit: null,
      titlepage:this.$t('Transactions and accounting')
    }
  },
  components: {Money},
  methods: {
    GetTransaction() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/TransactionModel", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.body = response.data;
          let total = that.body ;
          let credit = 0 ;
          let payment = 0 ;
          for(let i in total){
            if (total[i].peygiri == null || total[i].peygiri == ''){
              payment += parseInt(total[i].recived);
            }else {
              credit += parseInt(total[i].payment);
            }

          }
          that.credit = credit -  payment ;
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    },
    Payment() {
      let that = this;
      this.loadingpage.overlay = true;
      let data = {
        mode : 'mode',
        log : 'bank',
        payment : Math.abs(this.credit),
        datepayment : "1399/10/06",
        bankename : "ملت",
        peygiri : "1020304050",
      }
      this.$axios.post(this.$url + "Applicant/TransactionModel",data, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.GetTransaction();
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    this.GetTransaction();
  }
}
</script>

<style scoped>

</style>
