<template>
  <v-app class="myapplayout">

    <v-app-bar style="background-color: red;color: #fff;" dir="ltr" color="translate" dense fixed>
      <logo :style_logo="'width: 35px!important;margin-top:6px!important'"/>
      <v-spacer></v-spacer>
      <v-icon @click.stop="drawer = !drawer" >mdi-menu</v-icon>

    </v-app-bar>



    <v-main>
      <v-container>
        <nuxt/>
      </v-container>
    </v-main>

    <v-navigation-drawer v-model="drawer" fixed right temporary class="t_navigation-drawer">
      <v-list nav dense>
        <v-list-item-group dir="rtl" active-class="deep-purple--text text--accent-4 ">
          <template v-if="user!=null">
            <v-list color="blue">
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title class="title pa-1">
                    <h5 v-text="user.name"></h5>
                  </v-list-item-title>

                </v-list-item-content>
              </v-list-item>
            </v-list>
          </template>
          <v-divider></v-divider>
          <v-list dir="rtl">
            <v-list-item>
              <v-icon class="mdi-24px">mdi-view-dashboard</v-icon>
              <nuxt-link to="/Dashboard">
                <h6 v-text="$t('Dashboard')"></h6>
              </nuxt-link>
            </v-list-item>
            <v-list-item>
              <v-icon class="mdi-24px">mdi-account-edit</v-icon>
              <nuxt-link to="/Dashboard/Edituser">
                <h6 v-text="$t('Edit User')"></h6>
              </nuxt-link>
            </v-list-item>
            <v-list-item>
              <v-icon class="mdi-24px">mdi-medical-bag</v-icon>
              <nuxt-link to="/Dashboard/Medicalrecords">
                <h6 v-text="$t('Medical records')"></h6>
              </nuxt-link>
            </v-list-item>
            <v-list-item>
              <v-icon class="mdi-24px">mdi-filter</v-icon>
              <nuxt-link to="/Dashboard/Admissionqueue">
                <h6 v-text="$t('Admission queue')"></h6>

              </nuxt-link>
            </v-list-item>
            <v-list-item>
              <v-icon class="mdi-24px">mdi-flask-empty-plus</v-icon>
              <nuxt-link to="/Dashboard/Service">
                <h6 v-text="$t('Add Service')"></h6>
              </nuxt-link>
            </v-list-item>

            <v-list-item>
              <v-icon class="mdi-24px">mdi-exit-to-app</v-icon>
              <a @click="Logout()">
                  <h6 v-text="$t('Exit')"></h6>
              </a>
            </v-list-item>
          </v-list>
          <h5>Change Language</h5>
          <a
            v-for="locale in availableLocales"
            :key="locale.code"
            @click.prevent.stop="changelang(locale.code)"><img :src="locale.flag" width="30px"></a>

        </v-list-item-group>

      </v-list>
    </v-navigation-drawer>

  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        drawer: false,
        user: null,
        items: [
          {
            action: 'mdi-ticket',
            items: [{title: 'Add Service'}],
            title: 'Service',
            url: 'Service',

          },
          {
            action: 'mdi-silverware-fork-knife',
            active: true,
            items: [
              {title: 'Breakfast & brunch'},
              {title: 'New American'},
              {title: 'Sushi'},
            ],
            title: 'Dining',
          },
          {
            action: 'mdi-school',
            items: [{title: 'List Item'}],
            title: 'Education',
          },
          {
            action: 'mdi-run',
            items: [{title: 'List Item'}],
            title: 'Family',
          },
          {
            action: 'mdi-bottle-tonic-plus',
            items: [{title: 'List Item'}],
            title: 'Health',
          },
          {
            action: 'mdi-content-cut',
            items: [{title: 'List Item'}],
            title: 'Office',
          },
          {
            action: 'mdi-tag',
            items: [{title: 'List Item'}],
            title: 'Promotions',
          },
        ],
      }
    },
    methods:{
      changelang(i){
        this.$i18n.setLocale(i);
        localStorage.lang=i;

      },
      Logout(){
        localStorage.removeItem('access_token_user');
        location.reload();
      },
      switchLocaleLang(lang){
       this.$i18n.locale='fa';
      }
    },
    computed: {

      availableLocales () {
        return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
      }
    },
    mounted() {
      if (localStorage.access_token_user) {

        this.$i18n.setLocale(localStorage.lang);
      };
      var x = "Platform: " + navigator.platform;
      if (localStorage.access_token_user) {
        let that = this;
        this.$axios.get(this.$url + "user/profile", {
          headers: {
            Authorization: localStorage.access_token_user
          }
        })
          .then(function (response) {

            if (response.data.roll == null){
              that.$router.push("/Dashboard/Edituser");
            }
            that.$axios.get(that.$url + "Applicant/TransactionModel", {
              headers: {
                Authorization: localStorage.access_token_user
              }
            })
              .then(function (response) {
                let total = response.data ;
                let credit = 0 ;
                let payment = 0 ;
                let price = 0 ;
                for(let i in total){
                  if (total[i].peygiri == null || total[i].peygiri == ''){
                    payment += parseInt(total[i].recived);
                  }else {
                    credit += parseInt(total[i].payment);
                  }
                }
                price = credit -  payment ;
                console.log( price );
                if (price < 0 ){
                  that.$router.push("/Dashboard/Transaction");
                }

              })
              .catch((error) => {


              });
            that.user = response.data;
            that.$user = response.data;
          })
          .catch((error) => {

            if (error.response.status == 401) {
              localStorage.clear();
              that.$router.push("/");
            }
            if (error.response.status == 422) {
              that.loadingpage.overlay = false;
              let errordata = error.response.data.errors;
              for (let i in errordata){
                this.text = that.$t(errordata[i][0]);
                this.snackbar = true;
                return;

              }
            }
          });

      } else {
        this.$router.push("/");
      }
    }
  }
</script>
<style>
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/eot/IRANSansWeb.eot');
    src: url('/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/IRANSansWeb.woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/IRANSansWeb.ttf') format('truetype');
  }

  body * {
    font-family: IRANSans, Tahoma !important;

  }

  body {
    overflow-x: hidden;
    background-color: #eeeeee !important;
  }


  a {
    text-decoration: none;
  }

  .text_number input {
    text-align: left !important;

  }

  .text_text input {
    text-align: right !important;
    direction: rtl;
  }

  .v-select__slot {
    direction: rtl;
    text-align: right;
  }

  .v-select__slot label {
    right: 0px !important;
  }

  .tittle_panel_page {
    padding: 10px;
  }


  .vpd-input-group {
    direction: rtl !important;
  }

  .dateanddata {
    width: 100%;
  }


  .footer_bar {
    /*margin-right: -20px; */
    /* margin-left: -15px; */
    position: fixed !important;
    bottom: 0px;
    width: 100%;
    height: 55px;
    z-index: 1;

    right: 0;
    background-color: #eeeeee !important;
  }

  .btn_register_page {

    position: fixed;
    bottom: 5px;
    margin: auto 0;
    text-align: center;
  }

  .btn_register_page_q {

    position: absolute;
    bottom: 5px;
    width: 80%;
    text-align: center;
    right: 25px;
  }

  .btn_questions {
    left: 10px;
    /* margin-right: 5px; */
    /* margin-left: 5px; */
    position: fixed;
    bottom: 4px;
    width: 15%;
    text-align: center;
  }

  .notifi {
    width: 90% !important;
    right: 5% !important;
    direction: rtl;
    text-align: right !important;
    position: fixed;
    bottom: 20px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 10px;
  }


  .notifi .vue-notification-wrapper .vue-notification-template {
    border-radius: 10px !important;
    text-align: right !important;
  }

  header {
    direction: ltr;
  }

  .theme--light.v-application {
    background: #ffffff !important;
  }

  .v-application a {
    color: black;
  }

  .v-main {
    height: 100%;
  }

  .error_page div .v-snack__wrapper {
    background-color: brown !important;
  }


  .v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 5px !important;
  }
  .v-application--is-ltr .v-text-field .v-label{
    text-align: right;
    right: 0px!important;
    transform-origin: top right!important;
  }

  .text_center{
    text-align: center!important;
  }
  .text_right{
    text-align: right!important;
  }
  .text_left{
    text-align: left!important;
  }
  .v-icon{
   color: #006838!important;
  }
  .btn_color{
    background-color: #1F097E!important;
    color: white!important;
    padding-right: 50px!important;
    padding-left: 50px!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
  .close_form{
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 5000;
  }

  .empty_data{
    margin: auto 0;
    text-align: center;
    margin-top: 40%;
  }
  .mdi-database-remove{
    font-size: 80px!important;
  }
  .title_page h4{
    color: #1F097E!important;
  }

  .back_box{
    position: absolute;
    top: 55px;
    left: 20px;
  }
  .dateanddata{
    height: 50px!important;
  }
  .vpd-icon-btn{
    width: 25px!important;
    height: 25px!important;
  }
  .myapplayout{
    background-image: url("/bg.jpg");
    background-blend-mode: color;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

  }
  .mdi-menu::before{
    color: #ffffff !important;
  }
</style>
