<template>
  <v-app>
    <v-main>

        <nuxt />

    </v-main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  }
}
</script>
<style>
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/eot/IRANSansWeb.eot');
    src: url('/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/IRANSansWeb.woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/IRANSansWeb.ttf') format('truetype');
  }

  body * {
    font-family: IRANSans, Tahoma !important;

  }

  body {
    overflow-x: hidden;
    background-color: #ffffff !important;
  }


  a {
    text-decoration: none;
  }

  .text_number input {
    text-align: left !important;

  }

  .text_text input {
    text-align: right !important;
    direction: rtl;
  }

  .v-select__slot {
    direction: rtl;
    text-align: right;
  }

  .v-select__slot label {
    right: 0px !important;
  }

  .tittle_panel_page {
    padding: 10px;
  }


  .vpd-input-group {
    direction: rtl !important;
  }

  .dateanddata {
    width: 100%;
  }



  .footer_bar {
    /*margin-right: -20px; */
    /* margin-left: -15px; */
    position: fixed !important;
    bottom: 0px;
    width: 100%;
    height: 55px;
    z-index: 1;

    right: 0;
    background-color: #ffffff !important;
  }

  .btn_register_page {
    margin-right: 5%;
    margin-left: 5%;
    position: fixed;
    bottom: 5px;
    width: 90%;
    text-align: center;
  }

  .btn_register_page_q {

    position: absolute;
    bottom: 5px;
    width: 80%;
    text-align: center;
    right: 25px;
  }

  .btn_questions {
    left: 10px;
    /* margin-right: 5px; */
    /* margin-left: 5px; */
    position: fixed;
    bottom: 4px;
    width: 15%;
    text-align: center;
  }

  .notifi {
    width: 90% !important;
    right: 5% !important;
    direction: rtl;
    text-align: right !important;
    position: fixed;
    bottom: 20px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 10px;
  }


  .notifi .vue-notification-wrapper .vue-notification-template {
    border-radius: 10px !important;
    text-align: right !important;
  }

  header {
    direction: ltr;
  }

  .theme--light.v-application {
    background: #ffffff !important;
  }

  .v-application a {
    color: black;
  }

  .v-main {
    height: 100%;
  }

  .error_page div .v-snack__wrapper {
    background-color: brown !important;
  }
  .text_center input{
    text-align: center!important;
  }
  .top_page{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .top_page_one{
    height: 20px;
    background-color: #006838!important;
  }
  .top_page_two{
    height: 10px;
    background-color: #1F097E!important;
  }
  .title_ckeakbox{
    font-size: 14px;
    color: grey!important;
  }
  .btn_color{
    background-color: #1F097E!important;
    color: white!important;
    padding-right: 50px!important;
    padding-left: 50px!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
</style>
