<template>
  <div>
    <div class="mt-12 page_request" dir="rtl">
      <div class="close_form">
        <nuxt-link to="/Dashboard/HealthAndUpdate">
          <v-icon>mdi-close</v-icon>
        </nuxt-link>
      </div>
      <template v-if="body!=null">
        <div class="title_page">
          <h4 v-text="body.name" class="text_center"></h4>
          <hr class="mt-3 mb-3">


          <v-card class="mt-1" color="white" dense>
            <v-row class="pa-2">
              <v-col cols="12" class="show_image">
                <img v-bind:src="'https://api.macremedy24.com/media/blog/'+body.id+'/thump/'+body.image" width="80%">
              </v-col>
              <v-col cols="12" class="pa-5" v-html="body.text">

              </v-col>
            </v-row>

          </v-card>
        </div>


      </template>

    </div>


    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "_id",
  layout: 'dashboard',
  data: function () {
    return {
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },
    }
  },
  methods: {
    GetBlog(id) {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "article/" + id, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.body = response.data.data;
          let str = that.body.text;
          console.log(str);
          that.body.text = str.replaceAll("/%url%/gi", "https://api.macremedy24.com/");
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    this.GetBlog(this.$route.params.id);


  }
}
</script>

<style scoped>
.show_image {
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
</style>
