<template>
  <div>
    <div class="mt-12 page_request" dir="rtl">
      <div class="title_page">
        <h4 v-text="'اخبار سلامتی'" class="text_center"></h4><hr class="mt-3 mb-3">
      </div>
    </div>
    <div class="back_box">
      <nuxt-link to="/Dashboard">
        <v-icon class="mdi-36px">mdi-chevron-left-circle-outline</v-icon>
      </nuxt-link>
    </div>
    <template v-if="mode=='list'">
      <template v-if="body!=null">
        <div   dir="rtl">
          <v-card v-for="item in body" class="mt-1" color="white" dense :to="'/Dashboard/HealthAndUpdate/'+item.url">
            <v-row class="pa-2">
              <v-col cols="12"  class="show_image">
                <img v-bind:src="'https://api.macremedy24.com/media/blog/'+item.id+'/thump/'+item.image" width="80%" >

              </v-col>
              <v-col cols="12">
                <h5 v-text="item.name"></h5>
                <small v-text="item.abstract"></small>
              </v-col>
              <v-col cols="12" dir="ltr">
                <div class="show_date ">
                  <h5 v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></h5>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </div>

      </template>
    </template>
    <template v-if="mode=='show'">
      <div class="mt-12">
        <div @click="CloseComponent()" class="close_component">
          <v-icon>mdi-close</v-icon>
        </div>
      </div>
      <div class="mt-1">

      </div>
    </template>

    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "index",
  layout: 'dashboard',
  data: function () {
    return {
      data: [],
      mode: 'list',
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },
    }
  },
  methods: {
    GetBlog() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "blog/BlogFa", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.body = response.data.article.data;
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    this.GetBlog();


  }
}
</script>

<style scoped>
  .show_date{
    position: absolute;
    bottom: 0;
  }
  .show_image{
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
  }
</style>
