<template>
  <div>
    <v-row>
      <v-col cols="12" class="top_page">
        <div class="top_page_one"></div>
        <div class="top_page_two"></div>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="12" md="12">
        <div class="text-center">
          <logo/>
        </div>
      </v-col>
      <v-col v-if="loadpage==true" cols="12" sm="12" md="12" dir="rtl"  align="center">

        <v-flex xs9 sm4 align-center justify-center>
          <template v-if="getcode == false">
            <v-card-text class="pt-6" align="center">
              <div>
                <v-text-field
                  solo-inverted
                  dir="ltr"
                  :placeholder="$t('شماره همراه')"
                  v-model="user.mobile"
                  class="text_center"
                  type="number"
                ></v-text-field>
                <v-layout justify-center>
                  <v-flex justify-center>
                    <v-btn class="btn_color pr-50" @click="Forget()" >
                      {{ $t('ارسال') }}
                    </v-btn>

                  </v-flex>
                </v-layout>
              </div>
            </v-card-text>
          </template>
          <template v-else>
            <v-card-text class="pt-6" align="center">
              <div>
                <v-text-field
                  solo-inverted
                  dir="ltr"
                  :placeholder="$t('کد ارسالی را وارد نماید')"
                  v-model="code.code"
                  class="text_center"
                  type="number"
                ></v-text-field>
                <v-layout justify-center>
                  <v-flex justify-center>
                    <v-btn class="btn_color pr-50" @click="SendCode()" >
                      {{ $t('ارسال') }}
                    </v-btn>

                  </v-flex>
                </v-layout>
              </div>
            </v-card-text>
          </template>
        </v-flex>

      </v-col>
      <v-col cols="12" align="center">
        <nuxt-link to="/">
          {{$t('ورود')}}
        </nuxt-link>

      </v-col>
      <v-col cols="12" align="center">
        <nuxt-link :to="'/register'">
          {{$t('Membership')}}
        </nuxt-link>
      </v-col>

    </v-row>
    <v-row class="pa-6">



    </v-row>
    <v-row>
      <div class="text-center" v-bind:class="{error_page: isActive1}" >
        <v-snackbar v-model="snackbar" :timeout="timeout" dir="rtl">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-icon @click="snackbar = false">mdi-close</v-icon>
          </template>
        </v-snackbar>
      </div>
    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>

  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
export default {
name: "forget",
  data: function () {
    return {
      getcode: false,

      user: {
        mobile: null,
      },
      code: {
        code: null,
        mobile: null,
      },

      loadpage: true,
      loadingpage: {
        absolute: true,
        overlay: false,
      },

      isActive: false,
      snackbar: null,
      timeout: 3000,
      text: null,
    }
  },
  computed: {
    isActive1: function () {
      if (this.isActive == false) {
        return true;
      }
    },

  },
  methods:{
    Forget(){
      let that = this;
      if (this.user.mobile == null) {
        this.text = that.$t('شماره موبایل رو وارد کنید');
        this.snackbar = true;

        return;
      }
      let regex = /^[0][9][0-9][0-9]{8,8}$/;
      if (regex.test(this.user.mobile) == false) {
        this.text = that.$t('The number entered is incorrect.');
        this.snackbar = true;

        return;
      }
      let data = this.user;
      this.loadingpage.overlay = true;
      this.$axios.post(this.$url + "forgetpasswords", data, {
        headers: {
          Authorization: localStorage.globaltoken
        }
      })
        .then(function (response) {
          that.getcode = true;
          that.code.mobile = that.user.mobile;
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;
          that.text = that.$t('کاربر وجود ندارد');
          that.snackbar = true;

          return;
          if (that.code.code == null) {
            that.text = that.$t(error.response.data.code[0]);
            that.snackbar = true;
            return;
          }


        });
    },
    SendCode(){
      let that = this;
      if (this.code.code == null) {
        this.text = that.$t('کد را وارد نماید.');
        this.snackbar = true;
        return;
      }
      this.$axios.put(this.$url + "forgetpasswords/"+this.code.mobile, this.code, {
        headers: {
          Authorization: localStorage.globaltoken
        }
      })
        .then(function (response) {
          localStorage.access_token_user = 'Bearer ' + response.data.data.token;
          that.loadingpage.overlay = false;
          localStorage.forget = true;
          that.$router.push("/Dashboard");
        })
        .catch((error) => {
          that.loadingpage.overlay = false;
          this.text = that.$t('کد وارد شده صحیح نمی باشد');
          this.snackbar = true;

          return;
          if (that.code.code == null) {
            that.text = that.$t(error.response.data.code[0]);
            that.snackbar = true;
            return;
          }
        });
    }
  }

}
</script>

<style scoped>

</style>
