<template>
  <div :dir="$t('dir')" class="bg">

    <v-row justify="center" align="center"  style="margin-top: -70px;" >
      <v-col cols="12" sm="12" md="12">
        <div class="text-center">
          <logo/>
        </div>
      </v-col>
      <v-col v-if="loadpage==true" cols="12" sm="12" md="12" dir="rtl"  align="center">

          <v-row class="pa-5" xs9 sm4 align-center justify-center>
              <template v-if="getcode == false">
                <v-card-text class="pt-6" align="center">

                  <div>
                    <v-text-field
                      solo-inverted
                      dir="ltr"
                      :placeholder="$t('mobile')"
                      v-model="user.email"
                      class="text_center"
                      type="number"

                    ></v-text-field>
                    <v-text-field
                      dir="ltr"

                      solo-inverted
                      :placeholder="$t('Password')"
                      v-model="user.password"
                      class="text_center"
                      type="password"
                    ></v-text-field>

                    <v-checkbox v-model="user.checkbox1">
                      <template v-slot:label>
                        <div class="title_ckeakbox" dir="ltr">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <a
                                target="_blank"
                                href="http://macremedy24.com/terms"
                                @click.stop
                                v-on="on"
                                v-text="$t('the rules')"
                              >
                              </a>
                            </template>
                            Opens in new window
                          </v-tooltip>
                          {{$t('I read and accepted the rules.')}}
                        </div>
                      </template>
                    </v-checkbox>
                    <div>Change Language</div>
                    <a
                      v-for="locale in availableLocales"
                      :key="locale.code"
                      @click.prevent.stop="changelang(locale.code)"><img :src="locale.flag" width="30px"></a>

                    <v-layout justify-center>
                      <v-flex justify-center>
                        <v-btn class="btn_color pr-50" @click="Login()" >
                          {{ $t('login') }}
                        </v-btn>
                        <v-col>
                          <nuxt-link :to="'/sendrequest'" class="dddd">
                            {{$t('Request clinical services')}}
                          </nuxt-link>
                        </v-col>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-card-text>
              </template>

            <v-btn class="bttn" :to="'/register'">
              {{$t('Membership')}}
            </v-btn>
            <v-btn class="btn mt-4" style="width: 100%" :to="'/forget'">
              {{$t('forget password')}}
            </v-btn>
          </v-row>
      </v-col>
    </v-row>
    <v-row>
      <div class="text-center" v-bind:class="{error_page: isActive1}" >
        <v-snackbar v-model="snackbar" :timeout="timeout" dir="rtl">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-icon @click="snackbar = false">mdi-close</v-icon>
          </template>
        </v-snackbar>
      </div>


    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>

</template>

<script>
  import Logo from '~/components/Logo.vue'

  var intervalTimer;
  export default {

      layout:'login',
    data: function () {
      return {
        loadpage: false,
        user: {
          email: null,
          password: null,
          checkbox1: false,

        },
        getcode: false,
        code: {

          code: null,
          mobile: null,
        },
        login: null,


        isActive: false,
        snackbar: null,
        timeout: 3000,
        text: null,


        loadingpage: {
          absolute: true,
          overlay: false,
        },


        datenumber: null,


        selectedTime: 0,
        timeLeft: '00:00',
        endTime: '0',
        times: [
          {
            sec: 3,
            display: '3s'
          },
          {
            sec: 600,
            display: ' 10m'
          },
          {
            sec: 1800,
            display: '30m'
          },
        ]

      }

    },
    components: {
      Logo,

    },
    computed: {
      isActive1: function () {
        if (this.isActive == false) {
          return true;
        }
      },
      availableLocales () {
        return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
      }
    },
    methods: {
      Login() {
        let that = this;
        let regex = /^[0][9][0-9][0-9]{8,8}$/;
        if (regex.test(this.user.email) == false) {

          this.text = that.$t('The number entered is incorrect.');
          this.snackbar = true;

          return;
        }
        if (this.user.checkbox1 == false) {

          this.text = that.$t('You must accept the rules to register.');
          this.snackbar = true;
          return;
        }
        this.code.mobile = this.user.email;
        let data = this.user;
        this.loadingpage.overlay = true;
        this.$axios.post(this.$url + "loginuser", data, {

        })
          .then(function (response) {
            that.loadingpage.overlay = false ;

              if (response.data.data.user.roll=="3"){
                 if (response.data.data.token){
                localStorage.access_token_user = 'Bearer ' + response.data.data.token;
                that.loadingpage.overlay = false ;
                that.$router.push("/Dashboard");
                 }
              }else{
               that.text = that.$t('user or password is wrong');
              that.snackbar = true;
              return;
              }
          })
          .catch((error) => {
            that.loadingpage.overlay = false ;
            if (error.response.status == 422) {
              that.text = that.$t('user or password is wrong');
              that.snackbar = true;
              return;
            }
            if (error.response.status == 401) {

              location.reload();
            }

          });
      },
      changelang(i){
          this.$i18n.setLocale(i);
        localStorage.lang=i;

      },
      signin() {
        let that = this;

        if (this.code.code == null) {
          this.text = that.$t('Enter the code');
          this.snackbar = true;
          return;
        }
        let data = this.code;
        this.loadingpage.overlay = true;
        this.$axios.post(this.$url + "signin", data, {
          headers: {
            Authorization: localStorage.globaltoken
          }
        })
          .then(function (response) {
            if (response.data.message == "not login") {

              that.text = that.$t('The code entered is incorrect');
              that.snackbar = true;
              that.loadingpage.overlay = false;
              return;
            }
            let token = response.data.body.token_type + ' ' + response.data.body.access_token;
            localStorage.access_token_user = token;


            if (that.login == "login") {
              that.$router.push("/Dashboard");
            } else {
              localStorage.register = true;
              that.$router.push("/register");

            }
            that.loadingpage.overlay = false;
          })
          .catch((error) => {

            if (that.code.code == null) {
              that.text = that.$t(error.response.data.code[0]);
              that.snackbar = true;
              return;
            }


          });
      },


      Settimer() {
        this.getcode = false;
      },

      setTime(seconds) {
        clearInterval(intervalTimer);
        this.timer(seconds);
      },
      timer(seconds) {
        const now = Date.now();
        const end = now + seconds * 1000;
        this.displayTimeLeft(seconds);

        this.selectedTime = seconds;
        // this.initialTime = seconds;
        this.displayEndTime(end);
        this.countdown(end);
      },
      countdown(end) {
        // this.initialTime = this.selectedTime;
        intervalTimer = setInterval(() => {
          const secondsLeft = Math.round((end - Date.now()) / 1000);

          if (secondsLeft === 0) {
            this.endTime = 0;
          }

          if (secondsLeft < 0) {
            clearInterval(intervalTimer);
            return;
          }
          this.displayTimeLeft(secondsLeft)
        }, 1000);
      },
      displayTimeLeft(secondsLeft) {
        const minutes = Math.floor((secondsLeft % 3600) / 60);
        const seconds = secondsLeft % 60;

        this.timeLeft = `${zeroPadded(minutes)}:${zeroPadded(seconds)}`;
      },
      displayEndTime(timestamp) {
        const end = new Date(timestamp);
        const hour = end.getHours();
        const minutes = end.getMinutes();

        this.endTime = `${hourConvert(hour)}:${zeroPadded(minutes)}`
      },


    },
    mounted() {
      if (localStorage.access_token_user) {

        this.$i18n.setLocale(localStorage.lang);
        };
      if (localStorage.access_token_user) {
        this.$router.push("/Dashboard");
      } else {
        this.loadpage = true;
      }
      this.countdown(90);

    }
  }

  function zeroPadded(num) {
    // 4 --> 04
    return num < 10 ? `0${num}` : num;
  }

  function hourConvert(hour) {
    // 15 --> 3
    return (hour % 12) || 12;
  }

</script>
<style scoped>
  .btn_sendcode {
    text-align: right;
    margin-top: 20px;
  }

  .v-input input{
    text-align: center!important;
  }
.btn_color{
  background-color: red !important;
  width: 100%;
}
.dddd *{
  color: #666;

}
.bttn {
  background-color: #1F097E !important;
  color: #ffffff;
  width: 100%;

}
.bg{
  background-image: url("/bg.jpg");
  background-blend-mode: color;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
</style>
