<template>
  <div>
    <v-row>
      <v-col cols="12" class="top_page">
        <div class="top_page_one"></div>
        <div class="top_page_two"></div>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="12" md="12">
        <div class="text-center">
          <logo/>
        </div>
      </v-col>

      <v-col v-if="loadpage==true" cols="12" sm="12" md="12" dir="rtl">
        <v-layout flex align-center justify-center px-2>
          <v-flex xs9 sm4  dir="rtl" align-center justify-center align="center">

              <template v-if="getcode == false">
                <v-card-text class="pt-6" align="center">

                  <div>
                    <v-text-field
                      solo-inverted
                      dir="ltr"
                      :placeholder="$t('09121234567')"
                      v-model="user.phone"
                      class="text_center"
                      type="number"

                    ></v-text-field>
                    <v-text-field
                      solo-inverted
                      dir="ltr"
                      :placeholder="$t('Password')"
                      v-model="user.password"
                      class="text_center"
                      type="password"
                    ></v-text-field>
                    <v-checkbox v-model="user.accept">
                      <template v-slot:label>
                        <div class="title_ckeakbox">

                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <a
                                target="_blank"
                                href="https://oxinapp.com/rules/1"
                                @click.stop
                                v-on="on"
                                v-text="$t('the rules')"
                              >
                              </a>
                            </template>
                            Opens in new window
                          </v-tooltip>
                          {{$t('I read and accepted the rules.')}}
                        </div>
                      </template>
                    </v-checkbox>

                    <v-layout justify-center>
                      <v-flex justify-center>
                        <v-btn class="btn_color"  @click="Register()">
                          {{ $t('Register') }}
                        </v-btn>
                        <v-btn class="btn_color"  to="/">
                          {{ $t('login') }}
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-card-text>
              </template>
              <template v-else>
                <v-card-text class="pt-6">
                  <p class="font-weight-black align-center" align="center"
                     v-text="$t('Enter the 4-digit code sent')"></p>
                  <div dir="ltr">
                    <v-text-field
                      label="کد"
                      v-model="code.code"
                      Autocomplete="Autocomplete"
                      class="text_number"

                    ></v-text-field>
                    <v-layout style="text-align: center">
                      <v-flex>

                        <div class="outer-container">
                          <div class="inner-container">
                            <div class="countdown">
                              <h2>
                                {{ timeLeft }}
                              </h2>
                              <template v-if="endTime == 0">
                                <a dir="rtl" @click="Settimer()"><h4><strong>{{ $t('New send code.') }}</strong></h4>
                                </a>
                              </template>


                            </div>
                          </div>
                        </div>


                        <br>
                        <v-btn primary @click="signin()">{{ $t('login') }}</v-btn>

                      </v-flex>
                    </v-layout>
                  </div>
                </v-card-text>
              </template>

            </v-card>
          </v-flex>
        </v-layout>
      </v-col>
    </v-row>

    <v-row dir="rtl">
      <div class="text-center" v-bind:class="{error_page: isActive1}">
        <v-snackbar v-model="snackbar" :timeout="timeout">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
              {{ $t('Close') }}
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>


  </div>

</template>

<script>
  import Logo from '~/components/Logo.vue'

  var intervalTimer;
  export default {

    data: function () {
      return {
        loadpage: false,
        user: {
          phone:null,
          password:null,
          password_confirmation:null,
          accept:false

        },
        getcode: false,
        code: {

          code: null,
          mobile: null,
        },
        login: null,


        isActive: false,
        snackbar: null,
        timeout: 3000,
        text: null,


        loadingpage: {
          absolute: true,
          overlay: false,
        },


        datenumber: null,


        selectedTime: 0,
        timeLeft: '00:00',
        endTime: '0',
        times: [
          {
            sec: 3,
            display: '3s'
          },
          {
            sec: 600,
            display: ' 10m'
          },
          {
            sec: 1800,
            display: '30m'
          },
        ]

      }

    },
    components: {
      Logo,

    },
    computed: {
      isActive1: function () {
        if (this.isActive == false) {
          return true;
        }
      },

    },

    methods: {
      Register() {
        let that = this;
        let regex = /^[0][9][0-9][0-9]{8,8}$/;
        if (regex.test(this.user.phone) == false) {

          this.text = that.$t('The number entered is incorrect.');
          this.snackbar = true;

          return;
        }
        if (this.user.password == null) {

          this.text = that.$t('Enter the password.');
          this.snackbar = true;
          return;
        }
        if (this.user.accept == false) {

          this.text = that.$t('You must accept the rules to register.');
          this.snackbar = true;
          return;
        }

        this.user.password_confirmation = this.user.password;

        let data = this.user;
        this.loadingpage.overlay = true;
        this.$axios.post(this.$url + "register", data, {

        })
          .then(function (response) {
            that.loadingpage.overlay = false ;
            that.$router.push("/");
          })
          .catch((error) => {
            that.loadingpage.overlay = false ;

            if (error.response.status == 422) {
              console.log(error.response.data.errors);
              if (error.response.data.errors.password) {
                this.text = that.$t(error.response.data.errors.password[0]);
                this.snackbar = true;
                return;
              }
              if (error.response.data.errors.phone) {
                this.text = that.$t(error.response.data.errors.phone[0]);
                this.snackbar = true;
                return;
              }
            }
            if (error.response.status == 401) {

              location.reload();
            }

          });
      },
      signin() {
        let that = this;

        if (this.code.code == null) {
          this.text = that.$t('Enter the code');
          this.snackbar = true;
          return;
        }
        let data = this.code;
        this.loadingpage.overlay = true;
        this.$axios.post(this.$url + "signin", data, {
          headers: {
            Authorization: localStorage.globaltoken
          }
        })
          .then(function (response) {
            if (response.data.message == "not login") {

              that.text = that.$t('The code entered is incorrect');
              that.snackbar = true;
              that.loadingpage.overlay = false;
              return;
            }
            let token = response.data.body.token_type + ' ' + response.data.body.access_token;
            localStorage.access_token_user = token;


            if (that.login == "login") {
              that.$router.push("/Dashboard");
            } else {
              localStorage.register = true;
              that.$router.push("/register");

            }
            that.loadingpage.overlay = false;
          })
          .catch((error) => {

            if (that.code.code == null) {
              that.text = that.$t(error.response.data.code[0]);
              that.snackbar = true;
              return;
            }


          });
      },


      Settimer() {
        this.getcode = false;
      },

      setTime(seconds) {
        clearInterval(intervalTimer);
        this.timer(seconds);
      },
      timer(seconds) {
        const now = Date.now();
        const end = now + seconds * 1000;
        this.displayTimeLeft(seconds);

        this.selectedTime = seconds;
        // this.initialTime = seconds;
        this.displayEndTime(end);
        this.countdown(end);
      },
      countdown(end) {
        // this.initialTime = this.selectedTime;
        intervalTimer = setInterval(() => {
          const secondsLeft = Math.round((end - Date.now()) / 1000);

          if (secondsLeft === 0) {
            this.endTime = 0;
          }

          if (secondsLeft < 0) {
            clearInterval(intervalTimer);
            return;
          }
          this.displayTimeLeft(secondsLeft)
        }, 1000);
      },
      displayTimeLeft(secondsLeft) {
        const minutes = Math.floor((secondsLeft % 3600) / 60);
        const seconds = secondsLeft % 60;

        this.timeLeft = `${zeroPadded(minutes)}:${zeroPadded(seconds)}`;
      },
      displayEndTime(timestamp) {
        const end = new Date(timestamp);
        const hour = end.getHours();
        const minutes = end.getMinutes();

        this.endTime = `${hourConvert(hour)}:${zeroPadded(minutes)}`
      },


    },
    mounted() {

      if (localStorage.access_token_user) {
        this.$router.push("/Dashboard");


      } else {
        this.loadpage = true;
      }
      this.countdown(90);

    }
  }

  function zeroPadded(num) {
    // 4 --> 04
    return num < 10 ? `0${num}` : num;
  }

  function hourConvert(hour) {
    // 15 --> 3
    return (hour % 12) || 12;
  }

</script>
<style scoped>

  .btn_sendcode {
    text-align: right;
    margin-top: 20px;
  }

</style>
