<template>
  <div>
    <v-app-bar dense fixed class="app_bar_color">
      <v-row>
        <v-col cols="2" align="left">
          <v-list-item>
            <a>
              <nuxt-link to="/">
                <div>
                  <v-icon>mdi-keyboard-backspace</v-icon>
                </div>
              </nuxt-link>
            </a>

          </v-list-item>
        </v-col>
        <v-col cols="10" align="right">
          <div class="tittle_panel_page">
            <strong v-text="$t('Home')"></strong>
          </div>

        </v-col>
      </v-row>
    </v-app-bar>


    <template v-if="peygiri == null">

      <v-row  align="center" class="pa-3 mt-1 " dir="rtl" align-content="center">
        <v-col  cols="12" sm="12" md="12" dir="rtl"  align="center" class="page_request">
          <v-flex xs10 sm4 align-center justify-center>

            <v-text-field
              solo-inverted
              :placeholder="$t('name')"
              v-model="Request.name"
              Autocomplete="Autocomplete"
              class="text_center"

            ></v-text-field>

            <v-text-field
              solo-inverted
              :placeholder="$t('last name')"
              v-model="Request.family"
              Autocomplete="Autocomplete"
              class="text_center"

            ></v-text-field>

            <v-text-field
              solo-inverted
              :placeholder="$t('mobile')"
              v-model="Request.mobile"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"
            ></v-text-field>

            <v-text-field
              solo-inverted
              :placeholder="$t('tel')"
              v-model="Request.phone"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"
            ></v-text-field>

            <v-text-field
              solo-inverted
              :placeholder="$t('national code / passport number')"
              v-model="Request.melli"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"
            ></v-text-field>

            <v-text-field
              solo-inverted
              :placeholder="$t('Name and surname of the client')"
              v-model="Request.namehamrah"
              Autocomplete="Autocomplete"
              class="text_center"
            ></v-text-field>

            <v-text-field
              solo-inverted
              :placeholder="$t('Clients cell phone')"
              v-model="Request.tellhamrah"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"
            ></v-text-field>

            <v-text-field
              solo-inverted
              :placeholder="$t('Ratio')"
              v-model="Request.nesbat"
              Autocomplete="Autocomplete"
              class="text_center"
            ></v-text-field>

          <template v-if="service!=null">



            <v-select  solo-inverted dir="rtl" :placeholder="$t('Service')" :options="service" v-model="Request.modelservice"
                      label="name"></v-select><br>



          </template>
          <template v-if="service!=null">
            <template v-if="Request.modelservice!=null">


                <v-select :placeholder="$t('Type Service')"

                          :dir="$t('dir')"
                          :options="Request.modelservice.to_sub"
                          v-model="Request.subservice"
                          label="name"></v-select>
<br>


            </template>

          </template>

            <custom-date-picker
              type="date"

              name="startDate"
              id="endDate"
              :clearable="true"
              inputClass="dateanddata"
              v-model="Request.date">
            </custom-date-picker>
            <br>

            <v-textarea
              solo-inverted
              v-model="Request.address"
              outlined
              class="text_text"
              name="input-7-4"
              :label="$t('address')"
            ></v-textarea>

            <v-textarea
              solo-inverted
              v-model="Request.comments"
              outlined
              class="text_text"
              name="input-7-4"
              :placeholder="$t('Biography')"
            ></v-textarea>
            <v-btn class="btn_color" block elevation="2"
                   @click="saverequest()">{{ $t('Confirmation') }}</v-btn>

        </v-flex>
        </v-col>



      </v-row>

    </template>
    <template v-else>
      <v-row>
        <v-col cols="12" class="text-lg-center">
          <h4 v-text="$t('Issue Tracking')" class="text-center"></h4>
          <div class="pa-5 text-center page_peygiri">
            <strong v-text="peygiri"> </strong>
          </div>

        </v-col>
        <v-col cols="12" class="text-lg-center">
          <v-row>

            <input ref="image" type="file" class="d-none" accept="image/*"/>
            <v-col cols="12" @click.prevent="showFileChooser" align="center" class="pt-0 pb-0">
              <v-icon class="mdi-36px">mdi-cloud-upload</v-icon>
              <a href="#" role="button" v-text="$t('Upload')"></a>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="btn_register_page">

        <v-btn block color="primary" elevation="2" block @click="SaveFile()">{{ $t('Upload') }}</v-btn>


      </v-row>

    </template>


  </div>
</template>

<script>
export default {
  name: "sendrequest",
  data: function () {
    return {
      loadpage: false,
      Request: {
        name: null,
        family: null,
        mobile: null,
        phone: null,
        melli: null,
        namehamrah: null,
        tellhamrah: null,
        nesbat: null,
        modelservice: null,
        subservice: null,
        date: null,
        address: null,
        comments: null,
      },
      service: null,
      peygiri: null,
      image: null,
    }
  },
  methods: {
    GetService() {
      let that = this;
      this.$axios.get(this.$url + "mservice", {})
        .then(function (response) {
          that.service = response.data;

        })
        .catch((error) => {
          that.error = error.response.data.data.errors;
        });

    },
    saverequest() {
      let that = this;
      this.$axios.post(this.$url + "requestmedical", this.Request, {})
        .then(function (response) {


        })
        .catch((error) => {
          that.error = error.response.data.data.errors;
        });
    },
    SaveFile() {
      let that = this;
      let formData = new FormData();
      formData.append('file', this.$refs.image.files[0]);
      formData.append('peygiri', this.peygiri);
      this.$axios.post(this.$url + "requestmedical/uploadfile?", formData, {})
        .then(function (response) {


        })
        .catch((error) => {
          that.error = error.response.data.data.errors;
        });
    },
    showFileChooser() {
      this.$refs.image.click();
    },

  },
  mounted() {
    this.GetService();
  }

}
</script>

<style scoped>
.page_request {
  margin-top: 50px;

}

.page_peygiri {
  border: 1px solid gray;
  padding: 20px !important;
  margin: 10px;
  border-radius: 20px;
}

.app_bar_color {
  background-color: #006838 !important;
  color: white !important;
}
.v-select{
  height: 35px;
  background-color: #f0f0f0;
}
.v-select .vs__dropdown-toggle{
  height: 50px!important;
}
.dateanddata{
  height: 45px!important;
  background-color: #f0f0f0!important;
}
.v-icon {
  color: #1F097E !important;
}
</style>
