<template>
  <div class="mt-15">
    <v-btn to="/Dashboard/Triage">{{ $t('back') }}</v-btn>
    <div dir="rtl" v-if="dataform!=null">
      <h1>{{ dataform.subject }}</h1>
      <div v-html="dataform.text"></div>
    </div>

  </div>
</template>
<script>
export default {
  layout: 'dashboard',

  name: "periodicvisit",
  props:{
    id:{  default:null },

  },
  data(){
    return {

      status: [
        'Normal', 'Abnormal', 'NodExamined'
      ],
      tab: null,
      keyitem: 1,
      activetab: 'GeneralApperance',
      activedmoshaver: false,
      dataform: null
    }
  },
  methods:{

    addtoconst(e){
      this.activedmoshaver=false;

      this.dataform.const.push(e);

    },

    loaddata(){
      let that=this;
      this.$axios.get(this.$url+'Applicant/VisitUser/'+that.$route.params.id,{
        params:{
          triage:localStorage.traige,
          mode:'pnv',
        } ,
        headers: {
          Authorization: localStorage.access_token_user
        }
      }).then(function (res){
        that.dataform=res.data.data;
      });

    },
    savedata(){


    },
  },
  mounted() {
    this.loaddata();
  }
}
</script>

<style scoped>

</style>
