<template>
  <div>
    <div class="close_form">
      <nuxt-link to="/Dashboard/Dailybiography/Psychotherapyservice">
        <v-icon>mdi-close</v-icon>
      </nuxt-link>
    </div>
    <template v-if="body!=null">
      <v-card dir="rtl" class="mt-15 pa-3" color="white" dense >
        <v-row>
          <v-col cols="12" v-for="item in body" >
            <small v-text="item.label"></small>
            <h5 v-text="item.answer"></h5>
            <h6 v-text="item.description"></h6>
          </v-col>
        </v-row>
      </v-card>
    </template>

    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "_id",
  layout: 'dashboard',
  data() {
    return {
      body:null,

      loadingpage: {
        absolute: true,
        overlay: false,
      },
    }
  },
  methods:{
    Getinfo(id){
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/Psychotherapyservices/" + id, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.body = response.data.data.data;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    },

  },
  mounted() {

    this.Getinfo(this.$route.params.id);
  }
}
</script>

<style scoped>
.close_form{
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 5000;
}
</style>
