<template>
  <div>
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard/Dailybiography/Psychotherapyservice">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Psychotherapy patients') }}
        </v-col>
      </v-row>


    </v-alert>

    <v-form @click.prevent="Save()"  :dir="$t('dir')" class="pa-2">
      <v-row>
        <v-col cols="12">
          <label v-text="data[0].label"></label>
          <v-radio-group v-model="data[0].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[0].answer == 'خیر'"
            solo-inverted
            v-model="data[0].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>

        <v-col cols="12">
          <label v-text="data[1].label"></label>
          <v-radio-group v-model="data[1].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[1].answer == 'خیر'"
            solo-inverted
            v-model="data[1].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[2].label"></label>
          <v-radio-group v-model="data[2].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[2].answer == 'خیر'"
            solo-inverted
            v-model="data[2].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[3].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[3].answer"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[4].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[4].answer"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[5].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[5].answer"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[6].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[6].answer"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[7].label"></label>
          <v-radio-group v-model="data[7].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[7].answer == 'بلی'"
            solo-inverted
            v-model="data[7].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[8].label"></label>
          <v-radio-group v-model="data[8].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[8].answer == 'خیر'"
            solo-inverted
            v-model="data[8].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[9].label"></label>
          <v-radio-group v-model="data[9].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
        </v-col>
        <v-col cols="12">
          <label v-text="data[10].label"></label>
          <v-radio-group v-model="data[10].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[10].answer == 'خیر'"
            solo-inverted
            v-model="data[10].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[11].label"></label>
          <v-radio-group v-model="data[11].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[11].answer == 'خیر'"
            solo-inverted
            v-model="data[11].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[12].label"></label>
          <v-radio-group v-model="data[12].answer" row>
            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field
            v-if="data[12].answer == 'خیر'"
            solo-inverted
            v-model="data[12].description"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[13].label"></label>
          <v-radio-group v-model="data[13].answer" row>
            <v-radio :label="$t('Face-to-face visit')" color="secondary" value="ویزیت حضوری"></v-radio>
            <v-radio :label="$t('Online visit')" color="secondary" value="ویزیت آنلاین"></v-radio>
          </v-radio-group>

        </v-col>


      </v-row>
      <v-row>
        <v-col cols="12" align="center">
          <v-btn class="btn_color"@click="Save()">
            {{ $t('submit') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>

    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "new",
  layout: 'dashboard',
  data() {
    return {
      loadingpage: {
        absolute: true,
        overlay: false,
      },
      traige:localStorage.traige,
      data: {

        0: {
          //label: 'آیا امروز حالتان خوب است؟',
          label: this.$t('Are you feeling well today?'),
          answer: null,
          description: null,
        },
        1: {
          label: this.$t('Does anything bother you?'),

          answer: null,
          description: null,
        },
        2: {
          label: this.$t('Do you have any annoying thoughts that bother you?'),

          answer: null,
          description: null,
        },
        3: {
          label: this.$t('What were you thinking about today?'),

          answer: null,
          description: null,
        },
        4: {
          label: this.$t('How do those around you treat you?'),

          //label: 'برخورد و رفتار  اطرافیان با شما چگونه است.',
          answer: null,
          description: null,
        },
        5: {

          label:this.$t('Do you have a plan for your future, write to us?'),

          answer: null,
          description: null,
        },
        6: {
          label:this.$t('Do you have a plan for your future, write to us?'),
          answer: null,
          description: null,
        },
        7: {
          label:this.$t('Do you have problems falling asleep and insomnia?'),

          answer: null,
          description: null,
        },
        8: {
          label:this.$t('Have you used the medication prescribed by your doctor today?'),
          answer: null,
          description: null,
        },
        9: {
          label:this.$t('Have you talked to your family and friends??'),
          answer: null,
          description: null,
        },
        10: {
          label:this.$t('Do you have motivation and purpose in your life?'),
          answer: null,
          description: null,
        },
        11: {
          label:this.$t('Are you satisfied with your psychologist and psychiatrist?'),
          answer: null,
          description: null,
        },
        12: {
          label:this.$t('Are you satisfied with your doctor?'),
          answer: null,
          description: null,
        },
        13: {
          label:this.$t('Are you satisfied with your doctor?'),
          answer: null,
          description: null,
        },


      }
    }
  },
  methods: {
    Save(){
      let that = this;
      let data = {
        data:this.data,
        traige:this.traige,
      }
      this.loadingpage.overlay = true;
      this.$axios.post(this.$url + "Applicant/Psychotherapyservices",data, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.$router.push("/Dashboard/Dailybiography/Psychotherapyservice");
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {

  }
}
</script>

<style scoped>
.alert_title {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}
</style>
