<template>
  <div class="mt-12">
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >
        <v-col cols="2">
          <nuxt-link to="/Dashboard/">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('editing information') }}
        </v-col>
      </v-row>
    </v-alert>

    <v-card class=" page_request" color="white" dense>

      <template v-if="user!=null">
        <v-tabs background-color="#1F097E"
                dir="rtl"
                next-icon="mdi-arrow-right-bold-box-outline"
                prev-icon="mdi-arrow-left-bold-box-outline"
                show-arrows
                v-model="tab"
        >
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-tab :key="1" style="color: #fff;">
            {{ $t('General specifications') }}
          </v-tab>

        </v-tabs>
        <v-tabs-items v-model="tab" dir="rtl">
          <v-tab-item :key="1">
            <v-card color="basil" flat>
              <v-card-text>
                <v-row align="center" class="pa-3 mt-1 " dir="rtl" align-content="center">
                  <v-col cols="12" sm="12" md="12" dir="rtl" align="center" class="page_request">
                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('name')"
                      :label="$t('name')"
                      v-model="user.name"
                      Autocomplete="Autocomplete"
                      class="text_center"
                    ></v-text-field>

                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('last name')"
                      :label="$t('last name')"

                      v-model="user.lastname"
                      Autocomplete="Autocomplete"
                      class="text_center"

                    ></v-text-field>

                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('fathers name')"
                      :label="$t('fathers name')"
                      v-model="user.fathername"
                      Autocomplete="Autocomplete"
                      class="text_center"

                    ></v-text-field>

                    <nationalcode v-on:events="doSomething" :value="user.nationlcode"></nationalcode>




                    <custom-date-picker
                      solo
                      outlined
                      :placeholder="$t('Date of birth')"
                      :label="$t('Date of birth')"
                      type="date"
                      name="startDate"
                      id="endDate"
                      :clearable="true"
                      inputClass="dateanddata"
                      v-model="user.birthday"
                    >
                    </custom-date-picker><br>

                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('Date age')"
                      :label="$t('age')"
                      v-model="user.age"
                      Autocomplete="Autocomplete"
                      class="text_center"
                      type="number"
                    ></v-text-field>

                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('birth place')"
                      :label="$t('birth place')"

                      v-model="user.birthdayplace"
                      Autocomplete="Autocomplete"
                      class="text_center"

                    ></v-text-field>


                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('state')"
                      :label="$t('state')"

                      v-model="user.city"
                      Autocomplete="Autocomplete"
                      class="text_center"

                    ></v-text-field>

                    <v-text-field
                      solo
                      outlined
                      :placeholder="$t('city')"
                      :label="$t('city')"
                      v-model="user.state"
                      Autocomplete="Autocomplete"
                      class="text_center"
                    ></v-text-field>

                    <v-textarea
                      solo
                      v-model="user.address"
                      outlined
                      class="text_text"
                      name="input-3-1"
                      :placeholder="$t('address')"
                      :label="$t('address')"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="6">
                        <v-btn v-bind:style="{border:Cheakmodel}" class="man_button" block color="" elevation="2" large
                               @click="setgender('male')">
                          {{ $t('Male') }}
                        </v-btn>
                      </v-col>
                      <v-col cols="6">
                        <v-btn v-bind:style="{border:Cheakmodel1}" class="female_button" block elevation="2" large
                               @click="setgender('female')">
                          {{ $t('Female') }}
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>

        </v-tabs-items>
        <v-row>
          <v-col cols="12" align="center">
            <v-btn class="btn_color" elevation="2" @click="Save()">{{ $t('Confirmation') }}</v-btn>
          </v-col>


        </v-row>
      </template>

    </v-card>

    <v-row dir="rtl">
      <div class="text-center" v-bind:class="{error_page: isActive1}">
        <v-snackbar v-model="snackbar" :timeout="timeout">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
              {{ $t('Close') }}
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
import Nationalcode from "~/components/nationalcode";

export default {
  name: "Edituser",
  components: {Nationalcode},
  layout: 'dashboard',
  data: function () {
    return {
      tab: null,
      user: {
        id: null,
        name: null,
        lastname: null,
        fathername: null,
        nationlcode: null,
        birthday: null,
        age: null,
        birthdayplace: null,
        gender: null,

      },
      loadingpage: {
        absolute: true,
        overlay: false,
      },
      isActive: false,
      snackbar: null,
      timeout: 3000,
      text: null,

    }
  },
  computed: {
    Cheakmodel: function () {
      if (this.user.gender == "male") {
        return "2px solid black";
      } else {
        return "none";
      }
    },
    Cheakmodel1: function () {
      if (this.user.gender == "female") {
        return "2px solid black";
      } else {
        return "none";
      }
    },
    isActive1: function () {
      if (this.isActive == false) {
        return true;
      }
    },
  },
  methods: {
    setgender(gender) {
      this.user.gender = gender;
    },
    doSomething(e) {
      this.user.nationlcode = e;
    },
    Save() {
      let that = this;
      this.loadingpage.overlay = true;

      if (this.user.roll != null) {
        this.$axios.put(this.$url + "Applicant/profile/1", this.user, {
          headers: {
            Authorization: localStorage.access_token_user
          }
        })
          .then(function (response) {
            that.loadingpage.overlay = false;

            that.text = that.$t('اطلاعات با موفقیت ثبت شد');
            that.snackbar = true;
            that.Idmshow();
            return;
          })
          .catch((error) => {
            that.loadingpage.overlay = false;
            let err = error.response.data.errors;
            for (let i in err) {
              this.text = that.$t(err[i][0]);
              this.snackbar = true;
              return;

            }

          });
      } else {
        this.$axios.post(this.$url + "Applicant/profile", this.user, {
          headers: {
            Authorization: localStorage.access_token_user
          }
        })
          .then(function (response) {
            that.loadingpage.overlay = false;
          })
          .catch((error) => {
            that.loadingpage.overlay = false;
            let err = error.response.data.errors;
            for (let i in err) {
              this.text = that.$t(err[i][0]);
              this.snackbar = true;

              return;
            }
          });
      }

    },
    Idmshow() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/idmshow", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.user = response.data;
          that.loadingpage.overlay = false;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {
    let that = this;
    this.loadingpage.overlay = true;
    this.$axios.get(this.$url + "Applicant/idmshow/create", {
      headers: {
        Authorization: localStorage.access_token_user
      }
    })
      .then(function (response) {
        if (response.data.roll != null) {
          that.Idmshow();
          return;
        }
        that.user.phone = response.data.phone;
        that.loadingpage.overlay = false;
      });

  }
}
</script>

<style scoped>
.sub_info {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
</style>
