<template>
  <div class="mt-15">
    <div class="title_page">
      <h4 v-text="'تغییر رمز عبور'" class="text_center"></h4><hr class="mt-3 mb-3">
    </div>
    <v-card-text class="pt-6" align="center">
      <div>
        <v-text-field
          solo-inverted
          dir="ltr"
          :placeholder="$t('رمز عبور')"
          v-model="user.password"
          class="text_center"
          type="password"
        ></v-text-field>
        <v-text-field
          solo-inverted
          dir="ltr"
          :placeholder="$t('تکرار رمز عبور')"
          v-model="user.password_confirmation"
          class="text_center"
          type="password"
        ></v-text-field>
        <v-layout justify-center>
          <v-flex justify-center>
            <v-btn class="btn_color pr-50" @click="Save()">
              {{ $t('ذخیره') }}
            </v-btn>

          </v-flex>
        </v-layout>
      </div>
    </v-card-text>
    <v-row>
      <div class="text-center" v-bind:class="{error_page: isActive1}" >
        <v-snackbar v-model="snackbar" :timeout="timeout" dir="rtl">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-icon @click="snackbar = false">mdi-close</v-icon>
          </template>
        </v-snackbar>
      </div>
    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "forget",
  layout: 'dashboard',
  data: function () {
    return {
      user: {
        password: null,
        password_confirmation: null,
      },

      loadingpage: {
        absolute: true,
        overlay: false,
      },

      isActive: false,
      snackbar: null,
      timeout: 3000,
      text: null,
    }
  },
  computed: {
    isActive1: function () {
      if (this.isActive == false) {
        return true;
      }
    },

  },
  methods:{
    Save(){

      let that = this;

      if (this.user.password == null) {

        this.text = that.$t('رمز عبور را وارد نماید');
        this.snackbar = true;
        return;
      }
      if (this.user.password_confirmation == null) {
        this.text = that.$t('تکرار رمز عبور را وارد نماید');
        this.snackbar = true;
        return;
      }
      if (this.user.password_confirmation != this.user.password) {
        this.text = that.$t('رمز عبور با تکرار یکسان نمی باشد');
        this.snackbar = true;
        return;
      }

      this.$axios.put(this.$url + "changepassword/1", this.user, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {

          localStorage.removeItem('forget');
          that.loadingpage.overlay = false;
          that.$router.push("/Dashboard");
        })
        .catch((error) => {
          that.loadingpage.overlay = false;
          that.text = that.$t('رمز عبور باید بیش از 8 کارکتر باشد');
          that.snackbar = true;
          return;

        });
    }
  }
}
</script>

<style scoped>

</style>
