<template>
  <div >
    <template v-if="body!=null">
      <div  class="bglayout">
        <div>
          .
          <div @click="dialog=true" class="mybtnsselected"  outlined block >{{  $t('Select digital file') }}</div>
          <div>
            <div class="profilema"></div>
          </div>
        </div>

      </div>
      <div class="mt-12">

      <div class="boxmenus" style="width: 100%; margin-top: 20px;">
        <div v-bind:class="{disableddiv:cheakdisable}" >
          <a href="/Dashboard/Triage">
            <div style="width: 100%;">
              <img src="/icon_page/medical-records.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder;" v-text="$t('View digital file')"></div>

            </div>
          </a>

        </div>
        <div v-bind:class="{disableddiv:cheakdisable}">

          <a href="/Dashboard/Visit">
            <div style="width: 100%;">
              <img src="/icon_page/doctor (1).png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; " v-text="$t('Visit and referral')"></div>

            </div>

          </a>
        </div>
        <div v-bind:class="{disableddiv:cheakdisable}">
          <a href="/Dashboard/telemedicine">
            <div style="width: 100%;">
              <img src="/icon_page/doctor.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; " v-text="$t('tele medicine')"></div>

            </div>

          </a>
        </div>
        <div v-bind:class="{disableddiv:cheakdisable}">
          <a href="/Dashboard/Viewmedical">
            <div style="width: 100%;">
              <img src="/icon_page/4139598.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; font-size: 10px;" >{{ $t('View medical records') }}</div>

            </div>

          </a>
        </div>
        <div v-bind:class="{disableddiv:cheakdisable}">
          <a href="/Dashboard/Laboratoryresults">
            <div style="width: 100%;">
              <img src="/icon_page/947539.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; font-size: 10px;" >{{ $t('Laboratory and radiology results') }}</div>

            </div>

          </a>
        </div>
        <div >
          <a href="/Dashboard/HealthAndUpdate">
            <div style="width: 100%;">
              <img src="/icon_page/898655.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; font-size: 10px;" >{{ $t('Health And Update') }}</div>

            </div>

          </a>
        </div>
        <div >
          <a href="/Dashboard/Support">
            <div style="width: 100%;">
              <img src="/icon_page/support.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; font-size: 10px;" >{{ $t('Support') }}</div>

            </div>

          </a>
        </div>
        <div >
          <a href="/Dashboard/Dailybiography">
            <div style="width: 100%;">
              <img src="/icon_page/note.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; font-size: 10px;" >{{ $t('Daily biography') }}</div>

            </div>

          </a>
        </div>
        <div >
          <a href="/Dashboard/Transaction">
            <div style="width: 100%;">
              <img src="/icon_page/4144893.png" class="mt-2" width="50" height="50">
              <div style="width: 100%; text-align: center;font-weight: bolder; font-size: 10px;" >{{ $t('Transactions and accounting') }}</div>

            </div>

          </a>
        </div>
      </div>
      </div>
    </template>

    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card >
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
          </v-toolbar>
          <template v-if="body!=null">
            <v-card v-for="item in body" class="mt-1" color="white" dense :dir="$t('dir')" @click="Changetriage(item._id)">
              <v-row  v-if="item.status == 1">
                <v-col cols="7" >
                  <v-row class="pa-2">
                    <v-col cols="12">
                      <template v-if="item.modelservice">
                        <small v-text="$t('service')"></small>
                        <strong v-text="$t(item.modelservice.name)"></strong><br>
                      </template>
                      <template v-if="item.doctor">
                        <small v-text="$t('The main doctor')"></small>
                        <strong v-text="item.doctor.fullname"></strong><br>
                      </template>
                      <template v-if="item.trapist">
                        <small v-text="$t('Therapist')"></small>

                        <strong v-text="item.trapist.fullname"></strong>
                      </template>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="5" class="align-center">

                  <div class="mt-8">
                    <small v-text="'تاریخ'"></small>
                    <h5
                      v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></h5>
                  </div>

                </v-col>
              </v-row>
            </v-card>

          </template>
          <template v-if="body!=null">
            <template v-if="body.length ==0">
              <div class="empty_data">
                <v-icon class="48px">mdi-database-remove</v-icon><br>
                <strong>{{ $t('There is no information')}}</strong>
              </div>
            </template>
          </template>
       </v-card>
      </v-dialog>
    </v-row>

   <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
export default {
  name: "index",
  layout: 'dashboard',
  data: function () {
    return {
      selecttriage: null,
      body: null,
      fuseSearch: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },


      dialog: false,
    }
  },
  computed:{
    cheakdisable:function (){
      if (this.body==null || this.body.length == 0){
        return true;
      }
    }
  },
  methods: {
    Traizh() {
      let that = this;
      this.$axios.get(this.$url + "Applicant/Traizh", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {

          that.body = response.data;
          localStorage.traige = response.data[0]._id
          that.loadingpage.overlay = false;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;
        });
    },
    Changetriage(item) {
      localStorage.traige = item;
      this.dialog =false;
    }
  },
  mounted() {
    this.Traizh();
    if (localStorage.forget) {
      this.$router.push("/Dashboard/forget");
    }
  }
}
</script>

<style >
.show_Services {
  height: 150px;
  border-radius: 15px;
  border: #804600 1px solid;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.165703781512605) 0%, rgba(157, 156, 155, 0.3225665266106442) 55%, rgba(255, 255, 255, 0.4066001400560224) 100%);
}

.show_Services i {
  margin-top: 10px;

}

.show_Services div {

}

.show_Services_one {
  background-color: #1F097E !important;
  color: white;
  border-radius: 15px;


}

.show_Services_one2 {
  background-color: #69097e !important;
  color: white;
  border-radius: 15px;

}

.select_show {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

.show_Services1, .show_Services_one, .show_Services_one2 {
  height: 100px !important;
}
.disableddiv{
  pointer-events: none;
  opacity: 0.6;
  filter: alpha(opacity=50);
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}
.bglayout{
  background-image: url("/dash.jpg");
  width: 100%;
  height: 170px;
  background-size: cover;
  border-bottom: dashed 2px #003c6a;

}
.mybtnsselected{
  width: 150px;
  margin-top: 20px;
  border: solid 1px #570202;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  margin-left: 50%;
  background-color: rgba(90, 90, 90, 0.9);
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: -7px 5px 15px 5px #BCBCBC;
  box-shadow: -7px 5px 15px 5px #BCBCBC;
}
.boxmenus{
  width: 100%;
  clear: both;
  text-align: center;
}
.boxmenus{
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;text-align: center;
}
.boxmenus div{
  background-color: #eee;
  width: 30%;
  text-align: center;
  height: 110px;
  overflow: hidden;
  padding-left:7px;
  float: right;
  margin: 5px;
  border-radius: 15px;
  border-bottom: solid #888 1px;
}
.boxmenus div *{
  font-size: 10px;
}
.profilema{
    width: 110px;
    height: 110px;
  border-radius: 90%;
    overflow: hidden;
  background-color: #fff;
  border: solid 1px #bbbbbb;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-image: url("/user.png");
  background-position: center;
  background-size: 90px 90px;

}
</style>
