<template>
  <div>
    <div class="mt-12 page_request" color="white" dense>
      <div class="title_page">
        <h4 v-text="'سرویس جدید'" class="text_center"></h4>
        <hr class="mt-3 mb-3">
      </div>
      <div class="back_box">
        <nuxt-link to="/Dashboard">
          <v-icon class="mdi-36px">mdi-chevron-left-circle-outline</v-icon>
        </nuxt-link>
      </div>
    </div>
    <v-card class="page_request" color="white" dense>


      <template v-if="peygiri == null">
        <v-row align="center" class="pa-3 mt-1 " dir="rtl" align-content="center">
          <v-col cols="12" sm="12" md="12" dir="rtl" align="center" class="page_request">
            <v-text-field
              solo
              outlined
              :placeholder="$t('name')"
              v-model="Request.name"
              Autocomplete="Autocomplete"
              class="text_center"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-2">
            <v-text-field
              solo
              outlined
              :placeholder="$t('last name')"
              v-model="Request.family"
              Autocomplete="Autocomplete"
              class="text_center"

            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-2">
            <v-text-field
              solo
              outlined
              :placeholder="$t('mobile')"
              v-model="Request.mobile"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-2">
            <v-text-field
              solo
              outlined
              :placeholder="$t('tel')"
              v-model="Request.phone"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-2">
            <v-text-field
              solo
              outlined
              :placeholder="$t('national code / passport number')"

              v-model="Request.melli"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"

            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-2">
            <v-text-field
              solo
              outlined
              :placeholder="$t('Name and surname of the client')"
              v-model="Request.namehamrah"
              Autocomplete="Autocomplete"
              class="text_center"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-2">
            <v-text-field
              solo
              outlined
              :placeholder="$t('Clients cell phone')"
              v-model="Request.tellhamrah"
              Autocomplete="Autocomplete"
              class="text_center"
              type="number"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-2">
            <v-text-field
              solo
              outlined
              :placeholder="$t('Ratio')"
              v-model="Request.nesbat"
              Autocomplete="Autocomplete"
              class="text_center"
        
            ></v-text-field>
          </v-col>
          <template v-if="service!=null">

            <v-col cols="12">
              <label v-text="$t('Service')"></label><br><br>
              <select v-model="Request.modelservice" class="select_service">
                <template v-for="item in service">
                  <option :value="item" v-text="item.name"></option>
                </template>
              </select>

            </v-col>
          </template>
          <template v-if="service!=null">
            <template v-if="Request.modelservice!=null">
              <v-col cols="12">
                <label v-text="$t('Type Service')"></label><br><br>
                <select v-model="Request.subservice" class="select_service">
                  <template v-for="item in Request.modelservice.to_sub">
                    <option :value="item" v-text="item.name"></option>
                  </template>
                </select>

              </v-col>
            </template>

          </template>
          <v-col cols="12">
            <custom-date-picker
              type="date"
              name="startDate"
              :label="$t('Date of birth')"
              id="endDate"
              :clearable="true"
              inputClass="dateanddata"
              v-model="Request.date">
            </custom-date-picker>
          </v-col>
          <v-col cols="12">
            <v-textarea
              solo
              outlined
              v-model="Request.address"
              class="text_text"
              name="input-7-4"
              :label="$t('address')"
            ></v-textarea>
          </v-col>
          <v-col cols="12">
            <v-textarea
              solo
              outlined
              v-model="Request.comments"

              class="text_text"
              name="input-7-4"
              :placeholder="$t('Biography')"
            ></v-textarea>
          </v-col>
          <v-col cols="12">
            <v-card-text>
              <l-map
                @ready="onReady"
                @click="onLocationFound"
                ref="map"
                style="width: 100%;height: 400px" :zoom="zoom" :center="center">
                <l-tile-layer :url="url"></l-tile-layer>
                <l-marker :lat-lng="circle.center"></l-marker>
                <l-circle
                  :lat-lng="circle.center"
                  :radius="circle.radius"
                  :color="circle.color"
                />
              </l-map>
            </v-card-text>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" align="center">
            <v-btn class="btn_color" elevation="2" @click="saverequest()">{{ $t('Confirmation') }}</v-btn>
          </v-col>


        </v-row>
      </template>
      <template v-else>
        <v-row>
          <v-col cols="12" class="text-lg-center">
            <h4 v-text="$t('Issue Tracking')" class="text-center"></h4>
            <div class="pa-5 text-center page_peygiri">
              <strong v-text="peygiri"> </strong>
            </div>

          </v-col>
          <v-col cols="12" class="text-lg-center">
            <v-row>

              <input ref="image" type="file" class="d-none" accept="image/*"/>
              <v-col cols="12" @click.prevent="showFileChooser" align="center" class="pt-0 pb-0">
                <v-icon class="mdi-36px">mdi-cloud-upload</v-icon>
                <a href="#" role="button" v-text="$t('Upload')"></a>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <v-row class="btn_register_page">

          <v-btn block color="primary" elevation="2" block @click="SaveFile()">{{ $t('Upload') }}</v-btn>


        </v-row>

      </template>
    </v-card>
    <v-row>
      <div class="text-center" v-bind:class="{error_page: isActive1}" dir="rtl">
        <v-snackbar v-model="snackbar" :timeout="timeout">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
              {{ $t('Close') }}
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-row>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>

export default {
  name: "Service",
  layout: 'dashboard',
  data: function () {
    return {
      loadpage: false,
      user: null,
      Request: {
        name: null,
        family: null,
        mobile: null,
        phone: null,
        melli: null,
        namehamrah: null,
        tellhamrah: null,
        nesbat: null,
        modelservice: null,
        subservice: null,
        date: null,
        address: null,
        comments: null,
        location: {
          lng: null,
          lat: null
        },
      },
      service: null,
      peygiri: null,
      image: null,


      loadingpage: {
        absolute: true,
        overlay: false,
      },


      isActive: false,
      snackbar: null,
      timeout: 3000,
      text: null,


      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 12,
      mydata: null,
      mylocation: null,
      center: [35.7090346, 51.381702],
      circle: {
        center: [35.699416, 51.337757],
        radius: 5,
        color: 'red'
      },



    }
  },
  computed: {
    isActive1: function () {
      if (this.isActive == false) {
        return true;
      }
    },

  },
  methods: {
    backagoogle(e) {
      this.Request.location.lat = e.lat();
      this.Request.location.lng = e.lng();

    },
    GetService() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "mservice", {})
        .then(function (response) {

          that.service = response.data;
          that.loadingpage.overlay = false;

        })
        .catch((error) => {
          that.error = error.response.data.data.errors;
        });

    },
    saverequest() {
      let that = this;
      if (this.Request.name == null) {
        that.text = that.$t('Enter the name');
        that.snackbar = true;
        return;
      }
      if (this.Request.family == null) {
        that.text = that.$t('Enter the last name');
        that.snackbar = true;
        return;
      }
      if (this.Request.mobile == null) {
        that.text = that.$t('Enter the mobile number');
        that.snackbar = true;
        return;
      }
      if (this.Request.melli == null) {
        that.text = that.$t('Enter the national code');

        that.snackbar = true;
        return;
      }
      if (this.Request.modelservice == null || this.Request.subservice == null) {
        that.text = that.$t('Select the type of service');
        that.snackbar = true;
        return;
      }
      if (this.Request.date == null) {

        that.text = that.$t('Select the referral date');
        that.snackbar = true;
        return;
      }
      if (this.Request.address == null) {
        that.text = that.$t('Enter the address');
        that.snackbar = true;
        return;
      }
      if (this.Request.location.lng == null || this.Request.location.lat == null) {
        that.text = that.$t('Enter the location');

        that.snackbar = true;
        return;
      }

      this.loadingpage.overlay = true;
      this.$axios.post(this.$url + "requestmedical", this.Request, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.peygiri = response.data.peygiri;
          that.loadingpage.overlay = false;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;
          that.error = error.response.data.data.errors;
        });
    },
    SaveFile() {
      let that = this;
      let formData = new FormData();
      formData.append('file', this.$refs.image.files[0]);
      formData.append('peygiri', this.peygiri);
      this.$axios.post(this.$url + "requestmedical/uploadfile?", formData, {})
        .then(function (response) {


        })
        .catch((error) => {
          that.error = error.response.data.data.errors;
        });
    },
    showFileChooser() {
      this.$refs.image.click();
    },
    onReady(mapObject) {
      mapObject.locate();
    },
    onLocationFound(location) {
      let that = this;
      this.$axios.get('https://nominatim.openstreetmap.org/reverse', {
        params: {
          format: 'jsonv2',
          lat: location.latlng.lat,
          lon: location.latlng.lng,
          'accept-language': 'fa'
        }
      }).then(function (res) {

        let center = [res.data.lat, res.data.lon];
        that.circle.center = center;
        let city = "";
        if (res.data.address.city){
          city +=  res.data.address.city ;
        }
        if (res.data.address.neighbourhood){
          city += ' - ' + res.data.address.neighbourhood ;

        }else if (res.data.address.suburb){
          city += ' - ' + res.data.address.suburb ;

        }
        that.Request.address = city;
        that.Request.location.lat = res.data.lat;
        that.Request.location.lng = res.data.lon;


      });

    },




  },
  mounted() {
    if (localStorage.access_token_user) {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "user/profile", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.user = response.data;
          that.Request.name = that.user.name;
          that.Request.family = that.user.lastname;
          that.Request.mobile = that.user.phone;
          that.Request.melli = that.user.natioanlcode;

          that.loadingpage.overlay = false;
          that.GetService();
        });

    } else {
      this.$router.push("/");
    }


  }

}
</script>

<style scoped>
.page_request {
  margin-top: 50px;
}

.page_peygiri {
  border: 1px solid gray;
  padding: 20px !important;
  margin: 10px;
  border-radius: 20px;
}

.select_service {
  width: 100%;
  border: 2px solid grey;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}
</style>
