<template>
  <div>
    <v-card class="mt-15 page_request" color="white" dense>
      <div class="b-1" v-if="data!=null" dir="rtl">
        <v-list two-line>
          <lisitem :title="$t('FormerRecord')" :value="truefalse(data.Hospitalization)"></lisitem>
          <lisitem :title="$t('surgerycount')" :value="data.surgerycount"></lisitem>
          <lisitem :title="$t('surgerylast')" :value="data.surgerylast"></lisitem>
          <lisitem :title="$t('surgerydate')" :value="data.surgerydate"></lisitem>
          <lisitem :title="$t('masterins')" :value="data.masterins"></lisitem>
          <lisitem :title="$t('Insurancescompleted')" :value="data.Insurance"></lisitem>
          <lisitem :title="$t('bloodpressure')" :value="data.masterins"></lisitem>
          <lisitem :title="$t('diabet')" :value="truefalse(data.diabet)"></lisitem>
          <lisitem :title="$t('addiction')" :value="truefalse(data.addiction)"></lisitem>
          <lisitem :title="$t('heartdisease')" :value="truefalse(data.heartdisease)" :more="data.comment"></lisitem>
          <lisitem :title="$t('Kidney')" :value="truefalse(data.Kidney)" :more="data.Kidneycomment"></lisitem>
          <lisitem :title="$t('Lung')" :value="truefalse(data.Lung)" :more="data.Lungcomment"></lisitem>
          <lisitem :title="$t('Internalglands')" :value="truefalse(data.Lung)"
                   :more="data.Internalglandscomment"></lisitem>
          <lisitem :title="$t('Brainnerve')" :value="truefalse(data.Brainnerve)"
                   :more="data.Brainnervecomment"></lisitem>
          <lisitem :title="$t('Depression')" :value="truefalse(data.Depression)"></lisitem>
          <lisitem :title="$t('Suicide')" :value="truefalse(data.Suicide)"></lisitem>
          <lisitem :title="$t('Hearing')" :value="truefalse(data.Hearing)"></lisitem>
          <lisitem :title="$t('Hearingright')" :value="data.Hearingright"></lisitem>
          <lisitem :title="$t('Hearingleft')" :value="data.Hearingleft"></lisitem>
          <lisitem :title="$t('Vision')" :value="truefalse(data.Vision)"></lisitem>
          <lisitem :title="$t('Visionright')" :value="data.Visionright"></lisitem>
          <lisitem :title="$t('Visiongleft')" :value="data.Visiongleft"></lisitem>
          <lisitem :title="$t('Visiongcover')" :value="data.Visiongcover"></lisitem>
          <lisitem :title="$t('medicalallergy')" :value="truefalse(data.medicalallergy)"
                   :more="data.medicalallergycomment"></lisitem>
          <lisitem :title="$t('lostweight')" :value="truefalse(data.lostweight)"></lisitem>
          <lisitem :title="$t('Height')" :value="data.Height"></lisitem>
          <lisitem :title="$t('weight')" :value="data.weight"></lisitem>
          <lisitem :title="$t('dosepain')" :value="data.dosepain"></lisitem>

        </v-list>
      </div>
    </v-card>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
  import Lisitem from "../../components/lisitem";
  export default {
    name: "Viewmedical",
    components: {Lisitem},
    layout: 'dashboard',
    data: function () {
      return {
        data: null,
        loadingpage: {
          absolute: true,
          overlay: false,
        },
      }
    },
    methods: {
      Getdata() {
        let that = this;
        this.loadingpage.overlay = true;
        this.$axios.get(this.$url + "Applicant/idmshow", {
          headers: {
            Authorization: localStorage.access_token_user
          }
        })
          .then(function (response) {
            that.data = response.data;
            that.loadingpage.overlay = false;

          });
      },
      truefalse(id) {
        if (id == false) {
          return this.$t('havent');
        } else {
          return this.$t('have');
        }
      }
    },
    mounted() {
      if (localStorage.access_token_user) {
        this.Getdata();

      } else {
        this.$router.push("/");
      }
    }
  }
</script>

<style scoped>

</style>
