<template>
  <div>
    <div class="mt-12 page_request" color="white" dense>
      <div class="title_page">
        <h4 v-text="$t('View medical records')" class="text_center"></h4>
        <hr class="mt-3 mb-3">
      </div>

      <div class="back_box">
        <nuxt-link to="/Dashboard">
          <v-icon class="mdi-36px">mdi-chevron-left-circle-outline</v-icon>
        </nuxt-link>
      </div>
    </div>
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Visit and referral') }}
        </v-col>
      </v-row>


    </v-alert>
    <v-card class="page_request" color="white" dense>


      <v-tabs v-model="tab" background-color="#1F097E" dir="rtl">
        <v-tab :key="1">
          {{ $t('Send documents') }}
        </v-tab>
        <v-tab :key="2">
          {{ $t('forwarded documents') }}
        </v-tab>
        <v-tab :key="3">
          {{ $t('Site documents') }}
        </v-tab>
      </v-tabs>


      <v-tabs-items v-model="tab">
        <v-tab-item :key="1">
          <v-card flat>
            <v-card-text>
              <v-row align="center" class="pa-3" dir="rtl">
                <v-col cols="12" class="pa-2">
                  <v-text-field
                    solo
                    outlined

                    placeholder="نام فایل"
                    v-model="documents.name"
                    Autocomplete="Autocomplete"
                    class="text_center"

                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <custom-date-picker
                    type="date"
                    name="startDate"
                    :label="$t('date')"
                    id="endDate"
                    :clearable="true"
                    inputClass="dateanddata"
                    v-model="documents.date">
                  </custom-date-picker>
                </v-col>
                <v-col cols="12" class="text-lg-center">
                  <v-row>

                    <input ref="image" type="file" class="d-none" accept="image/*"/>
                    <v-col cols="12" @click.prevent="showFileChooser" align="center" class="pt-0 pb-0">
                      <v-icon class="mdi-36px">mdi-cloud-upload</v-icon>
                      <a href="#" role="button" v-text="$t('Upload')"></a>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item :key="2">
          <v-card flat>
            <v-card-text>
              <v-card elevation="2" v-if="body!=null">
                <v-simple-table fixed-header height="300px" dir="rtl">
                  <template v-slot:default>
                    <thead c>
                    <tr>
                      <th class="text-center">

                        {{  $t('pic') }}
                      </th>
                      <th class="text-center">
                        {{  $t('date') }}
                      </th>
                      <th class="text-center">
                        {{  $t('download') }}


                      </th>
                      <th class="text-center">
                        {{  $t('remove') }}


                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in body" :key="item._id">
                      <td class="text-center">{{ item.name }}</td>
                      <td class="text-center">{{ item.date }}</td>
                      <td class="text-center">
                        <v-icon @click="DownloadImage(item._id)">mdi-download-box</v-icon>
                      </td>
                      <td class="text-center">
                        <v-icon @click="DeleteImage(item._id)">mdi-trash-can</v-icon>
                      </td>
                    </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card>
              <v-card elevation="2" v-if="imagload!=null">
                <img v-bind:src="'data:image/jpeg;base64,'+imagload" width="100%">
              </v-card>

            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item :key="3">
          <v-card flat>
            <v-card-text>

            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
      <v-row>
        <v-col cols="12" align="center">
          <v-btn class="btn_color" elevation="2" @click="SaveFile()">{{ $t('Confirmation') }}</v-btn>
        </v-col>


      </v-row>
    </v-card>
    <v-row dir="rtl">
      <div class="text-center" v-bind:class="{error_page: isActive1}">
        <v-snackbar v-model="snackbar" :timeout="timeout">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
              {{ $t('Close') }}
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-row>


    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>

export default {
  name: "Viewmedical",
  layout: 'dashboard',
  data: function () {
    return {
      data: null,
      tab: null,
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },
      documents: {
        name: null,
        date: null,
        file: null
      },

      imagload:null,
      isActive: false,
      snackbar: null,
      timeout: 3000,
      text: null,
      headers: [
        {
          text: 'Dessert (100g serving)',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        {text: 'Calories', value: 'calories'},
        {text: 'Fat (g)', value: 'fat'},
        {text: 'Carbs (g)', value: 'carbs'},
        {text: 'Protein (g)', value: 'protein'},
        {text: 'Iron (%)', value: 'iron'},
      ],

    }
  },
  computed: {

    isActive1: function () {
      if (this.isActive == false) {
        return true;
      }
    },
  },
  methods: {
    showFileChooser() {
      this.$refs.image.click();
    },
    SaveFile() {
      let that = this;
      that.loadingpage.overlay = true;
      let formData = new FormData();
      formData.append('file', this.$refs.image.files[0]);
      formData.append('name', this.documents.name);
      formData.append('date', this.documents.date);
      this.$axios.post(this.$url + "Applicant/UserDocuments", formData, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.GetImage();
          that.tab = 1;
          that.loadingpage.overlay = false;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;
        });
    },
    GetImage() {
      let that = this;
      that.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/UserDocuments", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.body = response.data;

          that.loadingpage.overlay = false;

        })
        .catch((error) => {
          that.loadingpage.overlay = false;
        });
    },
    DownloadImage(id){
      let that = this;
      that.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/UserDocuments/"+id, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.imagload = response.data;
        })
        .catch((error) => {
          that.loadingpage.overlay = false;
          that.imagload = null;
        });
    },


    DeleteImage(id){
      let that = this;
      that.loadingpage.overlay = true;
      this.$axios.delete(this.$url + "Applicant/UserDocuments/"+id, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.GetImage();
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    },

  },
  mounted() {
    if (localStorage.access_token_user) {
      this.GetImage();

    } else {
      this.$router.push("/");
    }
  }
}
</script>

<style scoped>
.v-tab {
  color: white !important;
}
</style>
