<template>
  <div class="mt-12">
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >
        <v-col cols="2">
          <nuxt-link to="/Dashboard/">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Laboratory and radiology results') }}
        </v-col>
      </v-row>
    </v-alert>

    <template v-if="body!=null">
      <v-card v-for="item in body" class="mt-1" color="white" dense  :dir="$t('dir')" :to="'/Dashboard/Laboratoryresults/'+item._id">
        <v-row class="pa-2" v-if="item.status == 1">
          <v-col cols="7">
            <v-row>
              <v-col cols="12">
                <template v-if="item.modelservice">
                  <small v-text="$t('service')"></small>
                  <strong v-text="item.modelservice.name"></strong><br>
                </template>
                <template v-if="item.doctor">
                  <small v-text="$t('The main doctor')"  ></small>
                  <strong v-text="item.doctor.fullname"></strong><br>
                </template>
                <template v-if="item.trapist">
                  <small v-text="$t('Therapist')" ></small>
                  <strong v-text="item.trapist.fullname"></strong>
                </template>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5" class="align-center">

            <div class="mt-1 " >
              <small v-text="$t('date')"></small>
              <h5
                v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></h5>
            </div>

          </v-col>
        </v-row>
      </v-card>

    </template>
    <template v-if="body!=null">
      <template v-if="body.length ==0">
        <div class="empty_data">
          <v-icon class="48px">mdi-database-remove</v-icon><br>
          <strong>هیچ اطلاعاتی وجود ندارد</strong>
        </div>
      </template>
    </template>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>
import {Money} from 'v-money'
export default {
  name: "index",
  layout: 'dashboard',
  data() {
    return {
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },



      tab: null,

    }
  },
  components: {Money},
  methods: {
    GetTraizh() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/LabController", {
        params:{
          triage:localStorage.traige
        },
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.body = response.data;
        })
        .catch((error) => {


        });
    }
  },
  mounted() {
    this.GetTraizh();
  }
}
</script>

<style scoped>
.align-center {
  text-align: center;
}
.alert_title{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: center;
}
</style>
