<template>
  <div class="mt-12" dir="rtl" >
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Daily biography') }}
        </v-col>
      </v-row>


    </v-alert>


    <template v-if="body!=null">
      <v-row class="pa-5">
        <v-col cols="12">
          <v-btn block class="btn_color" to="/Dashboard/Dailybiography/Internalservice">
            {{ $t('Internal service seekers') }}
          </v-btn>
        </v-col>
        <v-col cols="12">
          <v-btn block class="btn_color pr-50" to="/Dashboard/Dailybiography/Surgicalservice">
            {{ $t('Surgical patients') }}
          </v-btn>
        </v-col>
        <v-col cols="12">
          <v-btn block class="btn_color pr-50" to="/Dashboard/Dailybiography/Psychotherapyservice">
            {{ $t('Psychotherapy patients') }}
          </v-btn>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <div class="empty_data">
        <v-icon class="48px">mdi-database-remove</v-icon><br>
        <strong>امکان وارد کردن شرحال ندارید.</strong>
      </div>
    </template>




  </div>
</template>

<script>
export default {
  name: "index",
  layout: 'dashboard',
  data: function () {
    return {
      body:null,
    }
  },
  mounted() {
    this.body = localStorage.traige;
  }
}
</script>

<style scoped>

</style>
