<template>
  <div class="mt-12">
    <div class="title_page">
      <h4 v-text="$t('Admission queue')" class="text_center"></h4><hr class="mt-3 mb-3">
    </div>
    <div class="back_box">
      <nuxt-link to="/Dashboard">
        <v-icon class="mdi-36px">mdi-chevron-left-circle-outline</v-icon>
      </nuxt-link>
    </div>
    <template v-if="body!=null">
      <v-card v-for="item in body" class="mt-1" color="white" dense dir="rtl">
        <v-row class="pa-2" v-if="item.status != 1">
          <v-col cols="7">
            <v-row>
              <v-col cols="12">
                <template v-if="item.modelservice">
                  <small v-text="'خدمات'"></small>
                  <strong v-text="item.modelservice.name"></strong><br>
                </template>
                <template v-if="item.doctor">
                  <small v-text="'پزشک اصلی'"></small>
                  <strong v-text="item.doctor.fullname"></strong><br>
                </template>
                <template v-if="item.trapist">
                  <small v-text="'تراپیست'"></small>
                  <strong v-text="item.trapist.fullname"></strong>
                </template>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="5" class="align-center">
            <div>
              <small v-text="'قیمت'"></small>
              <money class="mony" v-model="item.price" v-bind="money"></money>
            </div>

            <hr >
            <div class="mt-1 " >
              <small v-text="'تاریخ'"></small>
              <h5
                v-text="$moment.from(item.created_at, 'en', 'YYYY-MM-DDThh:mm').locale('fa').format('hh:mm YYYY/MM/DD')"></h5>
            </div>

          </v-col>
        </v-row>
      </v-card>

    </template>
    <template v-if="body!=null">
    <template v-if="body.length ==0">
      <div class="empty_data">
        <v-icon class="48px">mdi-database-remove</v-icon><br>
        <strong>هیچ اطلاعاتی وجود ندارد</strong>
      </div>
    </template>
    </template>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>
  </div>
</template>

<script>

import {Money} from 'v-money'
export default {
  name: "index",
  layout: 'dashboard',
  data() {
    return {
      body: null,
      loadingpage: {
        absolute: true,
        overlay: false,
      },
      money: {
        decimal: ',',
        thousands: '.',
        readonly: true,
        suffix: ' تومان',
        precision: 0,
        masked: false

      },

      tab: null,
      items: [
        '', '',
      ],
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid'
    }
  },
  components: {Money},

  methods: {
    GetTraizh() {
      let that = this;
      this.loadingpage.overlay = true;
      this.$axios.get(this.$url + "Applicant/Traizh", {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.body = response.data;
        })
        .catch((error) => {


        });
    }
  },
  mounted() {
    this.GetTraizh();
  }
}
</script>

<style scoped>
.align-center {
  text-align: center;
}
.alert_title{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: center;
}

</style>
