<template>
  <div style="margin-top: -40px;">
    <v-alert :dir="$t('dir')" border="right" color="red" class="alert_title">
      <v-row >

        <v-col cols="2">
          <nuxt-link to="/Dashboard/Dailybiography/Internalservice">
            <v-icon style="color: #fff !important;">mdi-arrow-left-bold-box-outline</v-icon>
          </nuxt-link>

        </v-col>
        <v-col cols="10"  class="text-left">
          {{ $t('Internal service clients') }}
        </v-col>
      </v-row>


    </v-alert>
    <v-form @click.prevent="Save()" :dir="$t('dir')" class="pa-2">
      <v-row>
        <v-col cols="12">
          <label v-text="data[0].label"></label>
          <v-radio-group v-model="data[0].answer" row>

            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>

            <v-radio :label="$t('no')"   color="secondary" value="خیر"></v-radio>

          </v-radio-group>
        </v-col>

        <v-col cols="12">
          <label v-text="data[1].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[1].answer"
            Autocomplete="Autocomplete"
            class="text_right"
          ></v-text-field>
        </v-col>

        <v-col cols="12">
          <label v-text="data[2].label"></label>
          <v-radio-group v-model="data[2].answer" row>

            <v-radio :label="$t('yes')" color="secondary" value="بلی"></v-radio>

            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
        </v-col>
        <v-col cols="12">
          <label
            v-text="$t('Please if you have diabetes or high blood pressure. Send us your symptoms according to the doctor\'s instructions at the appointed time./Otherwise, send your daily symptoms')"></label>
          <v-row>
            <v-col cols="6">
              <label v-text="data[3].label"></label>
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    solo-inverted
                    v-model="data[3].answer"
                    :placeholder="$t('down')"
                    Autocomplete="Autocomplete"
                    class="text_center"
                    type="number"
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    :placeholder="$t('up')"
                    solo-inverted
                    v-model="data[3].description"
                    type="number"
                    Autocomplete="Autocomplete"
                    class="text_center"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="6">
              <label v-text="data[4].label"></label>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    solo-inverted
                    v-model="data[4].answer"
                    Autocomplete="Autocomplete"
                    class="text_center"
                    type="number"
                  ></v-text-field>
                </v-col>
              </v-row>

            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <label v-text="data[5].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[5].answer"
            Autocomplete="Autocomplete"
            class="text_center"
            type="number"
          ></v-text-field>
        </v-col>
        <v-col cols="6">
          <label v-text="data[6].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[6].answer"
            Autocomplete="Autocomplete"
            class="text_center"
            type="number"
          ></v-text-field>
        </v-col>
        <v-col cols="6">
          <v-row>
            <v-col cols="6">
              <label v-text="data[7].label"></label>
              <v-text-field
                solo-inverted
                v-model="data[7].answer"
                Autocomplete="Autocomplete"
                class="text_center"
                type="number"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <label v-text="data[8].label"></label>
              <v-text-field
                solo-inverted
                v-model="data[8].answer"
                Autocomplete="Autocomplete"
                class="text_center"
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="6">
          <v-row>
            <v-col cols="12">
              <label v-text="data[9].label"></label>
              <v-text-field
                solo-inverted
                v-model="data[9].answer"
                Autocomplete="Autocomplete"
                class="text_center"
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <label v-text="data[10].label"></label>
          <v-radio-group v-model="data[10].answer" row>
            <v-radio  :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio  :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
          <v-text-field v-if="data[10].answer == 'خیر'"
                        solo-inverted
                        v-model="data[10].description"
                        Autocomplete="Autocomplete"
                        class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[11].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[11].answer"
            Autocomplete="Autocomplete"
            class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[12].label"></label>
          <v-radio-group v-model="data[12].answer" row>
            <v-radio  :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio  :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>

        </v-col>
        <v-col cols="12">
          <label v-text="data[13].label"></label>
          <v-text-field
            solo-inverted
            v-model="data[13].answer"
            Autocomplete="Autocomplete"
            class="text_center"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <label v-text="data[14].label"></label>
          <v-radio-group v-model="data[14].answer" row>
            <v-radio  :label="$t('yes')" color="secondary" value="بلی"></v-radio>
            <v-radio :label="$t('no')" color="secondary" value="خیر"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
       <v-row>
         <v-col cols="12" align="center">
           <v-btn class="btn_color" @click="Save()">
             {{ $t('submit') }}
           </v-btn>
         </v-col>
       </v-row>
    </v-form>
    <loadingpage :absolute="loadingpage.absolute" :overlay="loadingpage.overlay"></loadingpage>














  </div>
</template>

<script>
export default {
  name: "new",
  layout: 'dashboard',
  data() {
    return {

      loadingpage: {
        absolute: true,
        overlay: false,
      },
      traige:localStorage.traige,
      data: {
        0: {
        //  label: 'آیا از آخرین مراجعه ی خود یا ویزیت آنلاین احساس بهبودی در حال خود دارید ',
          label: this.$t('Do you feel better from your last visit or online visit?'),
          answer: null,
          description: null,
        },
        1: {
      //    label: 'آیا مصرف داروها دارای عوارض غیر عادی د بدن شما بوده است؟ لطفا نام دارو و عوارض را تایپ کنید',
          label: this.$t('Did the medication have any unusual side effects on your body? Please type the name of the drug and the side effects'),

          answer: null,
          description: null,
        },
        2: {
         // label: 'آیا داروها و دستورات پزشک را در زمان صحیح و به شیوه ی صحیح اجرا می کنید؟',
          label: this.$t('Do you follow your doctor\'s medications and prescriptions at the right time and in the right way?'),

          answer: null,
          description: null,
        },
        3: {
        //  label: 'فشار خون',
        label:  this.$t('blood pressure'),
          answer: null,
          description: null,
        },
        4: {
        //  label: 'سطح اکسیژن خون',
          label: this.$t('Blood oxygen level'),
          answer: null,
          description: null,
        },
        5: {
         // label: 'تعداد تنفس در یک دقیقه',
          label: this.$t('Number of breaths per minute'),

          answer: null,
          description: null,
        },
        6: {
          //label: 'تعداد ضربان قلب در هر دقیقه',
          label: this.$t('Heart rate per minute'),

          answer: null,
          description: null,
        },
        7: {
        //  label: 'قند خون',
          label: this.$t('Blood sugar'),
          answer: null,
          description: null,
        },
        8: {
          //  label: 'قند ناشتا',

          label:this.$t('Fasting sugar'),
          answer: null,
          description: null,
        },
        9: {
         // label: 'قند 2 ساعت بعد از غذا',
          label:this.$t('Sugar 2 hours after a meal'),

          answer: null,
          description: null,
        },
        10: {
         // label: 'آیا از مراحل درمان خود راضی هستید؟',
          label: this.$t('Are you satisfied with your treatment process?'),
          answer: null,
          description: null,
        },
        11: {
         // label: 'امروز چه غذاهایی مصرف کردید.',
          label: this.$t('What foods did you eat today?'),

          answer: null,
          description: null,
        },
        12: {
          // label: 'امروز چه غذاهایی مصرف کردید.',

          label: this.$t('Did you follow the diet?'),
          answer: null,
          description: null,
        },
        13: {
        //  label: 'در صورت داشتن سوال در مورد نحوه درمان و داروها در کادر زیر تایپ کنید.',
          label: this.$t('If you have any questions about the treatment and medications, type in the box below'),

          answer: null,
          description: null,
        },
        14: {
        //  label: 'در صورت نیاز به ویزیت و پرستاری پزشکی یکی از گزینه ها زیر را انتخاب کنید',
          label: this.$t('If you need a medical visit and nursing, choose one of the following options'),

          answer: null,
          description: null,
        },

      }
    }
  },
  methods: {
    Save(){
      let that = this;
      this.loadingpage.overlay = true;
      let data = {
        data:this.data,
        traige:this.traige,
      }
      this.$axios.post(this.$url + "Applicant/Internalserviceseekers",data, {
        headers: {
          Authorization: localStorage.access_token_user
        }
      })
        .then(function (response) {
          that.loadingpage.overlay = false;
          that.$router.push("/Dashboard/Dailybiography/Internalservice");
        })
        .catch((error) => {
          that.loadingpage.overlay = false;

        });
    }
  },
  mounted() {

  }
}
</script>

<style scoped>
.alert_title {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}
</style>
