<template>
  <div>
    <div class="primary mt-4">
      <v-btn  class="ma-2 white--text" outlined @click="listofforms">{{ $t('reload') }}</v-btn>
      <div>
        <v-list
          v-if="listitem!=null"
          two-line
          subheader
        >

          <v-list-item v-for="(i,index) in listitem" :key="index">
            <v-list-item-content>
              <v-list-item-title>{{ $t(i.mode) }}</v-list-item-title>
              <v-list-item-subtitle>{{ i.created_at }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-avatar>
              <v-icon
                large
                color="blue darken-2"
              >
                mdi-eye
              </v-icon>
              <v-icon
                large
                color="blue darken-2"
              >

              </v-icon>
            </v-list-item-avatar>
            <v-list-item-avatar @click="edit(i.mode,i._id)">
              <v-icon
                large
                color="blue darken-2"
              >
                mdi-table-edit              </v-icon>
              <v-icon
                large
                color="blue darken-2"
              >

              </v-icon>
            </v-list-item-avatar>

          </v-list-item>
        </v-list>
      </div>

    </div>

  </div>
</template>

<script>
  export default {
    name: "listform",
    props:{
      id:{
        default:null
      },
      edit:{
        default: null,

      }
    },
    data(){
      return{
        listitem:null
      }
    },
    methods:{
      edit(mode,id){
        this.$emit('myevent',{mode,id})
      },

      listofforms(){
        let that=this;
        this.$axios.get(this.$url+'staff/fromController',
          {
          params:{
            id:this.id,
          },
          headers: {
            Authorization: localStorage.token
          }
        })
          .then(function (res) {
            that.listitem=res.data;

          })
      }
    },
    mounted() {
      this.listofforms();

    }
  }
</script>

<style scoped>

</style>
