<template>
  <div dir="rtl">
    <form @submit.prevent="savedata">
      <label v-text="$t('Dateofacceptance')" class="ma-1"></label>
      <div>{{ dataform.Dateofacceptance }}</div>


      <label v-text="$t('description')" class="ma-1"></label>
      <div v-html="dataform.Description"></div>

      {{ $t('List Of Drug') }}
      <v-list three-line>
        <template v-for="(item, index) in dataform.drug">
          <v-list-item style="background-color: #d2f1d2; border-radius: 5px;">
            <v-list-item-content>

              <v-list-item-title v-html="item.name"></v-list-item-title>

              <ul class="listofcalifornia  ">
                <v-row

                >
                  <v-col cols="12">

                    <v-text-field :label="$t('Dosage g/mg')" :placeholder="$t('Dosage')"
                                  v-model="item.Ingredient"></v-text-field>

                  </v-col>



                  <v-col cols="12">
                    <label :label="$t('Total consumption per day')" type="number" :placeholder="$t('count')"
                                  v-model="item.perday"></label>

                  </v-col>
                  <v-col cols="12">


                    <label :label="$t('Total consumption per day')" readonly :placeholder="$t('type detail')"
                                  value="Q"></label>

                  </v-col>


                  <v-col>
                    <i>{{ $t('Route') }}</i>
                    <label :placeholder="$t('Route')" v-model="item.RouteofAdmin"></label>

                  </v-col>
                </v-row>
                <i>{{ $t('Medical Actions') }}</i>
                <label :placeholder="$t('type detail')" v-model="item.MedicalActions"></label>

              </ul>


              <hr>
            </v-list-item-content>

          </v-list-item>
        </template>
      </v-list>
      {{ $t('List Of California Code') }}
      <hr>
      <v-list three-line>
        <template v-for="(item, index) in dataform.california">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title v-html="item.Code"></v-list-item-title>

              <ul class="listofcalifornia">
                <li>{{ $t('TerminologyId') }} : <strong>{{ item.TerminologyId }}</strong></li>

                <li>{{ $t('Group') }} : <strong>{{ item.Group }}</strong></li>
                <li>{{ $t('Value') }} : <strong>{{ item.Value }}</strong></li>
                <li>{{ $t('Comment') }} : <strong>{{ item.Comment }}</strong></li>

              </ul>


            </v-list-item-content>

          </v-list-item>
        </template>
      </v-list>
      <!-- Drug !-->
      <v-dialog
        v-model="drugdialog"
        persistent
      >
        <template v-slot:activator="{ on, attrs }">

        </template>
        <v-card>
          <v-card-title class="headline">
            {{ $t('List Of Drug') }}

          </v-card-title>
          <v-card-text>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>


          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- California !-->
      <v-dialog
        v-model="dialog"
        persistent
      >
        <template v-slot:activator="{ on, attrs }">

        </template>
        <v-card>
          <v-card-title class="headline">
            {{ $t('List Of California Code') }}

          </v-card-title>
          <v-card-text>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>


          </v-card-actions>
        </v-card>
      </v-dialog>
      <div>

      </div>

    </form>
  </div>
</template>

<script>
export default {
  name: "medicalinstructions",
  layout: 'dashboard',
  props: {
    dataform: {default: null},
  },
  data() {
    return {


    }
  },
  methods: {


  },
  mounted() {

  }
}
</script>

<style scoped>
.listofcalifornia * {
  font-size: 1em;
}
</style>
