<template>
  <div>
    <h2 @click="loaddata" v-text="$t('medicalbioform')"> </h2>

    <form @submit.prevent="savedata">

      <v-card  style="direction: ltr;">
        <v-tabs
         dir="ltr"
          dark
          background-color="teal darken-3"
          show-arrows
         next-icon="mdi-arrow-right-bold-box-outline"
         prev-icon="mdi-arrow-left-bold-box-outline"
        >
          <v-tab v-text="$t('Preliminary medical examinations')"></v-tab>
          <v-tab v-text="$t('Physical examinations and clinical examinations')"></v-tab>
          <v-tab v-text="$t('level of consciousness')"></v-tab>
          <v-tab v-text="$t('Consciousness score')"></v-tab>
          <v-tab v-text="$t('Diagnosis')"></v-tab>

          <v-tab-item class="pa-4"  style="direction: rtl; text-align: right;">
            <div class="ma-1"            fill-width>
              <label  v-text="$t('Dateofacceptance')" class="ma-1" ></label>

              <date-picker


                v-model="dataform.Dateofacceptance"
                format="YYYY-MM-DD HH:mm:ss"
                display-format="dddd jDD jMMMM jYYYY"
              />
            </div>
            <div class="ma-2">
              <label  v-text="$t('patientsmaincomplaint')" class="ma-1" ></label>
              <v-text-field filled      dense   v-model="dataform.patientsmaincomplaint"   ></v-text-field>

            </div>
            <div class="ma-2">
              <label  v-text="$t('Physicalexaminationsandbal')" class="ma-1" ></label>
              <v-text-field filled      dense   v-model="dataform.Physicalexaminationsandbal"   ></v-text-field>

            </div>




          </v-tab-item>

          <v-tab-item>
            <v-container fluid>
              <v-btn  elevation="2"   @click="openmodal('Eye','custom')"           outlined    raised    rounded text   >
                <v-icon v-if="dataform.Eye.status==true" >mdi-close-thick</v-icon>{{ $t('Eye' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Skin','custom')"          outlined    raised    rounded text  >
                <v-icon v-if="dataform.Skin.status==true" >mdi-close-thick</v-icon>
                {{ $t('Skin' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('ear')"           outlined    raised    rounded  text    >
                <v-icon v-if="dataform.ear.status==true" >mdi-close-thick</v-icon>{{ $t('ear' )}}
              </v-btn>
              <v-btn  elevation="2"   @click="openmodal('Nose')"          outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Nose.status==true" >mdi-close-thick</v-icon> {{ $t('Nose' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Mouth')"         outlined    raised    rounded  text    >
                <v-icon v-if="dataform.Mouth.status==true" >mdi-close-thick</v-icon> {{ $t('Mouth' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Neck')"          outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Neck.status==true" >mdi-close-thick</v-icon> {{ $t('Neck' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Lymphnodes')"    outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Lymphnodes.status==true" >mdi-close-thick</v-icon>
                {{ $t('Lymphnodes' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Chest')"         outlined    raised    rounded  text   >
                {{ $t('Chest' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Breast')"        outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Breast.status==true" >mdi-close-thick</v-icon> {{ $t('Breast' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Lung')"          outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Breast.Lung==true" >mdi-close-thick</v-icon> {{ $t('Lung' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Artery')"        outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Artery.status==true" >mdi-close-thick</v-icon>
                {{ $t('Artery' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Abdominal')"     outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Abdominal.status==true" >mdi-close-thick</v-icon> {{ $t('Abdominal' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Malegenitalia')" outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Malegenitalia.status==true" >mdi-close-thick</v-icon> { {{ $t('Malegenitalia' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Anus')"          outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Anus.status==true" >mdi-close-thick</v-icon> {{ $t('Anus' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Nerves')"        outlined    raised    rounded  text   >
                <v-icon v-if="dataform.Anus.Nerves==true" >mdi-close-thick</v-icon>
                {{ $t('Nerves' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Lowerlimbs')"    outlined    raised    rounded  text  >
                <v-icon v-if="dataform.Anus.Lowerlimbs==true" >mdi-close-thick</v-icon>
                {{ $t('Lowerlimbs' )}}</v-btn>
              <v-btn  elevation="2"   @click="openmodal('Bonejointsmuscles')"    outlined    raised    rounded  text  >
                <v-icon v-if="dataform.Anus.Bonejointsmuscles==true" >mdi-close-thick</v-icon>
                {{ $t('Bonejointsmuscles' )}}</v-btn>



            </v-container>
          </v-tab-item>
          <v-tab-item>
            <template>
              <v-card>
                <v-toolbar
                  flat
                  color="primary"
                  dark
                >
                  <v-toolbar-title>{{ $t('level of consciousness') }} | {{ numbergcs }}</v-toolbar-title>
                </v-toolbar>
                <v-tabs vertical>
                  <v-tab> {{ $t('Open your eyes') }}  </v-tab>
                  <v-tab>{{ $t('Verbal answer') }}</v-tab>
                  <v-tab>{{ $t('Open your eyes') }}</v-tab>


                  <v-tab-item>

                    <v-checkbox  v-model="dataform.gcs.oye1" :label="$t('patient1')"    ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye2"  :label="$t('patient2')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye3"  :label="$t('patient3')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye4"  :label="$t('patient4')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye5"  :label="$t('patient5')"     ></v-checkbox>

                  </v-tab-item>
                  <v-tab-item>savedata
                    <v-checkbox  v-model="dataform.gcs.oye1" :label="$t('oye1')"    ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye2"  :label="$t('oye2')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye3"  :label="$t('oye3')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye4"  :label="$t('oye4')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.oye5"  :label="$t('oye5')"     ></v-checkbox>

                  </v-tab-item>
                  <v-tab-item>

                    <v-checkbox  v-model="dataform.gcs.cs1" :label="$t('cs1')"    ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.cs2"  :label="$t('cs2')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.cs3"  :label="$t('cs3')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.cs4"  :label="$t('cs4')"     ></v-checkbox>
                    <v-checkbox v-model="dataform.gcs.cs5"  :label="$t('cs5')"     ></v-checkbox>


                  </v-tab-item>
                </v-tabs>
              </v-card>
            </template>

          </v-tab-item>
          <v-tab-item class="pa-4">
            <div class="text-center" center>
              <div class="mb-3">{{ $t('Consciousness score')}}</div>
              <div class="font-weight-black" style="font-size: 120px;">{{ dataform.AVPU }}</div>
              <div>

                <v-btn @click="dataform.AVPU='A'"  primary>A</v-btn>
                <v-btn  @click="dataform.AVPU='V'" primary>V</v-btn>
                <v-btn  @click="dataform.AVPU='B'"  primary>B</v-btn>
                <v-btn @click="dataform.AVPU='U'" primary>U</v-btn>
              </div>
            </div>
          </v-tab-item>
          <v-tab-item class="pa-4">
            <label>{{ $t('Diagnosis') }}</label>
            <v-textarea
              name="input-7-1"
              v-model="dataform.Diagnosis"
              :hint="$t('description')"
            ></v-textarea>
          </v-tab-item>
        </v-tabs>


        <v-dialog
          v-model="dialogs"
          fullscreen
          hide-overlay
          transition="dialog-bottom-transition"
        >

          <v-card>

            <v-toolbar
              dark
              color="primary"
            >
              <v-btn
                icon
                dark
                @click="dialogs = false"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-spacer></v-spacer>
              <v-toolbar-items>

              </v-toolbar-items>
              <v-toolbar-title>{{ $t(events) }}</v-toolbar-title>
            </v-toolbar>
            <v-card class="pa-3" dir="ltr">
              <template v-if="modemodal=='custom'">
                <template v-if="events=='Eye'">
                  <div dir="ltr" class="text-right">
                    <label v-text="$t('Eye')"></label>
                    <v-row>
                      <v-col cols="12">
                        <v-checkbox
                          v-model="dataform.Eye.status"
                          :label="`${normaltext(dataform.Eye.status)}`"
                        ></v-checkbox>
                      </v-col>
                    </v-row>

                    <template v-if="dataform.Eye.status!=0">
                      <div center>
                        <v-subheader>{{ $t('righteye') }}</v-subheader>
                        <v-row>
                          <v-col cols="6">
                            <label>{{ $t('Rightpupilreaction') }}</label>
                            <v-text-field  type="number" v-model="dataform.Eye.Rightpupilreaction">
                              <v-icon
                                slot="append"
                                color="red"
                                @click="dataform.Eye.Rightpupilreaction++"
                              >
                                mdi-plus
                              </v-icon>
                              <v-icon
                                slot="prepend"
                                color="green"
                                @click="dataform.Eye.Rightpupilreaction--"

                              >
                                mdi-minus
                              </v-icon>
                            </v-text-field>
                            <label>{{ $t('Rightpupilreaction') }}</label>
                            <v-text-field type="number" v-model="dataform.Eye.Rightcornealreaction">
                              <v-icon    slot="append"  color="red"  @click="dataform.Eye.Rightcornealreaction++" > mdi-plus
                              </v-icon>
                              <v-icon
                                slot="prepend"
                                color="green"
                                @click="dataform.Eye.Rightcornealreaction--"
                              >
                                mdi-minus
                              </v-icon>
                            </v-text-field>


                            <label>{{ $t('Righteyesize') }}</label>
                            <v-text-field type="number" v-model="dataform.Eye.Righteyesize">

                            </v-text-field>
                          </v-col>
                          <v-col cols="6">
                            <label>{{ $t('Leftpupilreaction') }}</label>
                            <v-text-field type="number" v-model="dataform.Eye.Leftpupilreaction">
                              <v-icon
                                slot="append"
                                color="red"
                                @click="dataform.Eye.Leftpupilreaction++"
                              >
                                mdi-plus
                              </v-icon>
                              <v-icon
                                slot="prepend"
                                color="green"
                                @click="dataform.Eye.Leftpupilreaction--"

                              >
                                mdi-minus
                              </v-icon>
                            </v-text-field>
                            <label>{{ $t('Leftcornealreaction') }}</label>
                            <v-text-field type="number" v-model="dataform.Eye.Leftcornealreaction">
                              <v-icon    slot="append"  color="red"  @click="dataform.Eye.Leftcornealreaction++" > mdi-plus
                              </v-icon>
                              <v-icon
                                slot="prepend"
                                color="green"
                                @click="dataform.Eye.Leftcornealreaction--"
                              >
                                mdi-minus
                              </v-icon>
                            </v-text-field>


                            <label>{{ $t('Lefteyesize') }}</label>
                            <v-text-field type="number" v-model="dataform.Eye.Lefteyesize">

                            </v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <label>{{ $t('description') }}</label>
                            <v-textarea
                              name="input-7-1"
                              v-model="dataform.Eye.Description"
                              :hint="$t('description')"
                            ></v-textarea>
                            <vue-record-audio :mode="recordMode.audio"  :key="events" @result="onResult"  />

                            <audio v-if="audio!=null" controls :src="audio"   type="audio/mp3"> </audio>

                          </v-col>

                        </v-row>

                      </div>
                    </template>

                  </div>
                </template>
                <template v-if="events=='Skin'">
                  <div dir="ltr" class="text-right">
                    <label v-text="$t('Skin')"></label>
                    <v-row>
                      <v-col cols="12">
                        <v-checkbox
                          v-model="dataform.Skin.status"
                          :label="`${normaltext(dataform.Skin.status)}`"
                        ></v-checkbox>
                      </v-col>
                    </v-row>

                    <template v-if="dataform.Skin.status!=false">
                      <div center>
                        <v-subheader>{{ $t('righteye') }}</v-subheader>
                        <v-row>
                          <v-col cols="6">
                            <v-checkbox
                              v-model="dataform.Skin.Poorskinturgor"
                              :label="$t('Poorskinturgor')"
                            ></v-checkbox>
                          </v-col>
                          <v-col cols="6">
                            <v-checkbox
                              v-model="dataform.Skin.Normalskinturgor"
                              :label="$t('Normalskinturgor')"
                            ></v-checkbox>
                          </v-col>
                          <v-col cols="12">
                          </v-col>

                        </v-row>
                        <v-row>
                          <label>{{ $t('description') }}</label>
                          <v-textarea
                            name="input-7-1"
                            v-model="dataform.Skin.Description"
                            :hint="$t('description')"
                          ></v-textarea>

                        </v-row>
                        <v-row>
                          <vue-record-audio :mode="recordMode.audio"  :key="events" @result="onResult"  />

                          <audio v-if="audio!=null" controls :src="audio"   type="audio/mp3"> </audio>

                        </v-row>

                      </div>
                    </template>

                  </div>
                </template>
              </template>
              <template v-else>
                <template v-if="events!=null">
                  <div dir="ltr" class="text-right">
                    <label v-text="$t(events)"></label>
                    <v-row>
                      <v-col cols="12">
                        <v-checkbox
                          v-model="dataform[events].status"
                          :label="`${normaltext(dataform[events].status)}`"
                        ></v-checkbox>
                      </v-col>
                    </v-row>

                    <template v-if="dataform[events].status!=false">
                      <div center>

                        <v-row>
                          <label>{{ $t('description') }}</label>
                          <v-textarea
                            name="input-7-1"
                            v-model="dataform[events].Description"
                            :hint="$t('description')"
                          ></v-textarea>

                        </v-row>
                        <v-row>
                          <vue-record-audio :mode="recordMode.audio"  :key="events" @result="onResult"  />

                          <audio v-if="audio!=null" controls  :key="keyvoice">
                            <source :src="audio"  type="audio/mp3" />
                          </audio>

                        </v-row>

                      </div>
                    </template>

                  </div>
                </template>

              </template>

              <v-col class="text-center">
                <v-btn  @click="dialogs = false">{{ $t('close') }}</v-btn>
              </v-col>
            </v-card>
          </v-card>
        </v-dialog>
      </v-card>
      <v-btn class="ma-3" primary type="submit">{{ $t('save') }}</v-btn>
    </form>
  </div>
</template>

<script>
  export default {
    name: "medicalbio",
    watch: {

    },
    props:{
      id:{  default:null },
      edit:{ default: null },
      triage:{ default: null }
    },
      data(){
      return{
        keyvoice:1,
        recordMode: {
          audio: 'hold',
        },
        dialog: false,
        audio: null,
        events: null,
        modemodal:null,
        dialogs: false,
        event:null,
        numbergcs:0,

        dataform:{

          Dateofacceptance:null,
          patientsmaincomplaint:null,
          Physicalexaminationsandbal:null,
          Eye: {
            status:false,

            Description:null,
            Rightpupilreaction:0,
            Leftpupilreaction:0,
            Rightcornealreaction:0,
            Leftcornealreaction:0,
            Righteyesize:null,
            Lefteyesize:null,
          },
          Skin:{
            status:false,
            description:null,
            audio:null,
            Poorskinturgor:false,
            Normalskinturgor:false,

          },
          ear:{
            status:false,
            audio:null,

            description:null,
          },
          Nose:{
            status:false,
            audio:null,

            description:null,
          },
          Mouth:{
            status:false,
            audio:null,

            description:null,
          },
          Neck:{
            status:false,
            audio:null,
            description:null,
          },
          Lymphnodes:{
            status:false,
            audio:null,
            description:null,
          },
          Chest:{
            status:false,
            audio:null,
            description:null,
          },
          Breast:{
            status:false,
            audio:null,
            description:null,
          },
          Lung:{
            status:false,
            audio:null,
            description:null,
          },
          Artery:{
            status:false,
            audio:null,

            description:null,
          },
          Abdominal:{
            status:false,
            audio:null,
            description:null,
          },
          Malegenitalia:{
            status:false,
            audio:null,

            description:null,
          },
          Femalegenitalia:{
            status:false,
            audio:null,
            description:null,
          },
          Anus:{
            status:false,
            description:null,
          },
          Nerves:{
            status:false,
            audio:null,
            description:null,
          },
          Lowerlimbs:{
            status:false,
            audio:null,
            description:null,
          },
          Bonejointsmuscles:{
            status:false,
            audio:null,
            description:null,
          },
          gcs:{
            patient1:false,
            patient2:false,
            patient3:false,
            patient4:false,
            patient5:false,

            oye1:false,
            oye2:false,
            oye3:false,
            oye4:false,
            oye5:false,

            cs1:false,
            cs2:false,
            cs3:false,
            cs4:false,
            cs5:false
          },
          AVPU:null,
          Diagnosis:null,

        }
      }

    },
    methods:{
      savedata(){
        let data={
          id:this.id,
          data:this.dataform,
          mode:'medicalbio',
          triage: this.triage,
        };

        let that=this;
        if(this.edit==null){
          this.$axios.post(this.$url+'staff/fromController',data,{
            headers: {
              Authorization: localStorage.token
            }
          })
        }else{
          this.$axios.put(this.$url+'staff/fromController/'+this.edit,data,{
            headers: {
              Authorization: localStorage.token
            }
          })
        }

      },
      onResult (stream) {
        let that=this;
        this.keyvoice=this.keyvoice+1;
        var reader = new FileReader();
        reader.readAsDataURL(stream);
        reader.onloadend = function() {
          that.dataform[that.events].audio = reader.result;

        }
        this.audio=window.URL.createObjectURL(stream);
        this.$forceUpdate();
      },
      normaltext(con){
        if(con==false){
          return 'normal';
        }else{

          return 'abnormal';
        }
      },
      loaddata(){
        let that=this;
        this.$axios.get(this.$url+'staff/fromController/'+this.edit,{
          headers: {
            Authorization: localStorage.token
          }
        })
        .then(function (res) {
          that.dataform=res.data.data;
        })
      },
      openmodal(event,seleted=false){
        this.modemodal=seleted;
        if(this.dataform[event].audio!=null){
          this.audio=this.dataform[event].audio;
        }else{
          this.audio=null;
        }
        this.dialogs=true;
        this.events=event;
      }
    },
    mounted() {
        if(this.edit!=null){
          this.loaddata();
        }
    }
  }
</script>

<style scoped>
  .text-right{
    text-align: right;
    direction: rtl;
    right:0px;
  }
  .righttextinput{

  }
  .righttextinput *{
  }
</style>
