<template>
    <div>
          <form @submit.prevent="savedata">
            <v-text-field label="تشخیص اولیه" v-model="dataform['تشخیص اولیه']" ></v-text-field>
            <v-text-field label="گزارشات کلینیکی و موضوع مشاوره" v-model="dataform['گزارشات‬ کلینیکی‬ و موضوع‬ ‫مشاوره']" ></v-text-field>
            <v-text-field label="مشاهدات و نظریه  پزشک مشاور" v-model="dataform['مشاهدات‬ ‫ ‫و‬  نظریه‬  پزشک‬ مشاور']" ></v-text-field>
            <!-- Drug !-->
            <v-dialog
              v-model="drugdialog"
              persistent
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ $t('Drug Select') }}
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline">
                  {{ $t('List Of Drug') }}

                </v-card-title>
                <v-card-text>
                  <drugeselect       v-on:items="addtodrug"></drugeselect>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="drugdialog = false"
                  >
                    Close
                  </v-btn>

                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- California !-->
            <v-dialog
              v-model="dialog"
              persistent
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ $t('California Select') }}
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline">
                  {{ $t('List Of California Code') }}

                </v-card-title>
                <v-card-text>
                  <Californiaselect       v-on:items="addtocalifornia"></Californiaselect>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialog = false"
                  >
                    Close
                  </v-btn>

                </v-card-actions>
              </v-card>
            </v-dialog>
            {{ $t('List Of Drug') }}
            <v-list three-line>
              <template v-for="(item, index) in dataform.drug">
                <v-list-item style="background-color: #d2f1d2; border-radius: 5px;">
                  <v-list-item-content>

                    <v-list-item-title v-html="item.name"></v-list-item-title>

                    <ul class="listofcalifornia  " >
                      <v-row

                      >
                        <v-col cols="12">

                          <v-text-field :label="$t('Dosage g/mg')"  :placeholder="$t('Dosage')"   v-model="item.Ingredient"  ></v-text-field>

                        </v-col>



                        <v-col cols="12">

                          <v-select
                            :items="['h','d']"
                            v-model="item.modeperday"
                          ></v-select>
                        </v-col>

                        <v-col cols="12">
                          <v-text-field :label="$t('Total consumption per day')" type="number"  :placeholder="$t('count')"   v-model="item.perday"  ></v-text-field>

                        </v-col>
                        <v-col cols="12">


                          <v-text-field  :label="$t('Total consumption per day')"   readonly :placeholder="$t('type detail')"  value="Q" ></v-text-field>

                        </v-col>



                        <v-col>
                          <i >{{ $t('Route') }}</i>
                          <v-text-field  :placeholder="$t('Route')"   v-model="item.RouteofAdmin"  ></v-text-field>

                        </v-col>
                      </v-row>
                      <i >{{ $t('Medical Actions') }}</i>
                      <v-text-field  :placeholder="$t('type detail')"   v-model="item.MedicalActions"  ></v-text-field>

                    </ul>

                    <v-btn
                      depressed
                      @click="dataform.drug.splice(index)"
                      color="error"
                    >
                      Deleted Drug {{ item.name }}
                    </v-btn>

                    <hr>
                  </v-list-item-content>

                </v-list-item>
              </template>
            </v-list>
            {{ $t('List Of California Code') }}
            <hr>
            <v-list three-line>
              <template v-for="(item, index) in dataform.california">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title v-html="item.Code"></v-list-item-title>

                    <ul class="listofcalifornia" >
                      <li>{{ $t('TerminologyId')}}  : <strong>{{ item.TerminologyId}}</strong></li>

                      <li>{{ $t('Group')}}  : <strong>{{ item.Group}}</strong></li>
                      <li>{{ $t('Value')}}  : <strong>{{ item.Value}}</strong></li>
                      <li>{{ $t('Comment')}}   : <strong>{{ item.Comment}}</strong></li>

                    </ul>

                    <v-btn
                      depressed
                      @click="dataform.california.splice(index)"
                      color="error"
                    >
                      {{ $t('Deleted Code') }} {{ item.Code }}
                    </v-btn>
                  </v-list-item-content>

                </v-list-item>
              </template>
            </v-list>
            <v-btn  type="submit"  >{{ $t('save') }}</v-btn>

          </form>
    </div>
</template>

<script>
    export default {
        name: "medicaladvicesheet",
      data(){
          return{
            dataform:{
              'تشخیص اولیه‬':null,
              'گزارشات‬ کلینیکی‬ و موضوع‬ ‫مشاوره':null,
              'مشاهدات‬ ‫ ‫و‬  نظریه‬  پزشک‬ مشاور':null,
              drug:[],
              california:[],

            }

          }
      },
      props:{
        id:{  default:null },
        edit:{ default: null },
        triage:{ default: null }
      },
      methods:{
        addtodrug(e){
          this.dataform.drug.push(e);
          this.drugdialog=false;
        },
        addtocalifornia(e){
          this.dataform.california.push(e);
          this.dialog=false;
        },
        savedata() {
          let data = {

            id: this.id,
            data: this.dataform,
            triage: this.triage,
            mode: 'medicaladvicesheet',



          };

          let that = this;
          if (this.edit == null) {
            this.$axios.post(this.$url + 'staff/fromController', data, {
              headers: {
                Authorization: localStorage.token
              }
            })
          } else {
            this.$axios.put(this.$url + 'staff/fromController/' + this.edit, data, {
              headers: {
                Authorization: localStorage.token
              }
            })
          }

        },
      }
    }
</script>

<style scoped>

</style>
