<template>
  <div>
    <form @submit.prevent="savedata">

      <v-card color="basil" dir="ltr">

        <v-card-title class="text-center justify-center py-6">

        </v-card-title>

        <v-tabs
          background-color="cyan"
          dark
          next-icon="mdi-arrow-right-bold-box-outline"
          prev-icon="mdi-arrow-left-bold-box-outline"
          show-arrows
          v-model="tab"
          color="basil"
          grow
        >
          <v-tab
            v-for="(item,index) in dataform.section"
            :key="index"
            @click="activetab=index"


          >
            {{ $t(index) }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="(item,index) in dataform.section"
            :key="index"
          >
            <v-card
              color="basil"
              flat
              style="margin: 5px; text-align: center;"
            >
              <h3>{{ $t(index) }}</h3>
              <hr>
              <v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    md="4"
                  >

                    <v-select
                      :items="status"
                      filled
                      v-model="item['status']"
                      :label="$t('status')"
                    ></v-select>
                  </v-col>
                  <template>
                    <v-col
                      cols="12"
                      md="12"
                      style="text-align: right;"
                    >
                      <label >{{ $t('‫‪Nursing‬‬ ‫‪Care‬‬')}}</label>
                      <v-textarea
                        dir="rtl"
                        style="text-align: right;"
                        name="input-7-1"
                        v-model="item.acare"
                        :hint="$t('typedesciprion')"
                      ></v-textarea>
                    </v-col>
                    <v-col
                      cols="12"
                      md="12"
                      style="text-align: right;"
                    >
                      <label >{{ $t('‫‪Nursing‬‬ ‫‪Interventions‬‬')}}</label>
                      <v-textarea
                        dir="rtl"
                        style="text-align: right;"
                        name="input-7-1"
                        v-model="item.inter"
                        :hint="$t('typedesciprion')"
                      ></v-textarea>
                    </v-col>
                  </template>


                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
      <v-slider
        :hint="dataform.G"
        :label="$t('motor')"

        v-model="dataform.G"
        max="6"
        min="1"
        persistent-hint
      ></v-slider>
      <v-slider
        :hint="dataform.V"
        :label="$t('Verbal')"

        v-model="dataform.V"
        max="5"
        min="1"
        persistent-hint
      ></v-slider>
      <v-slider
        :hint="dataform.E"
        :label="$t('Eyes')"

        v-model="dataform.E"
        max="4"
        min="1"
        persistent-hint
      ></v-slider>
      <v-text-field  class="text-center2"    :label="$t('GCS')"     :value="parseInt(dataform.G)+parseInt(dataform.V)+parseInt(dataform.E)"    readonly  ></v-text-field>
      <v-text-field   :label="$t('HR')"     v-model="dataform.HR" ></v-text-field>
      <v-text-field  :label="$t('DP')"     v-model="dataform.DP" ></v-text-field>
      <v-text-field     :label="$t('T')"     v-model="dataform.T" ></v-text-field>
      <v-text-field    :label="$t('SPO2')"     v-model="dataform.SPO2" ></v-text-field>
      <v-text-field :label="$t('RR')"     v-model="dataform.RR" ></v-text-field>
      <div class="text-center">
        <v-btn color="yellow"               @click="dataform.AVPU='A'" >A</v-btn>
        <v-btn color="orange"               @click="dataform.AVPU='V'" >V</v-btn>
        <v-btn color="blue"               @click="dataform.AVPU='P'" >P</v-btn>
        <v-btn color="red"               @click="dataform.AVPU='U'" >U</v-btn>

      </div>
      <h1 class="text-center w-100">{{ dataform.AVPU }}</h1>
      <hr>
      <v-textarea v-model="dataform.Nursingmeasures" :label="$t('Nursingmeasures')"></v-textarea>
      <v-textarea v-model="dataform.Nursingreport" :label="$t('Nursingreport')"></v-textarea>
      <v-textarea v-model="dataform.Patienteducation" :label="$t('Patienteducation')"></v-textarea>
      <v-btn
        class="ma-2 text-center"
        type="submit"
        color="secondary"


      >
        {{ $t('save') }}
      </v-btn>
    </form>
  </div>

</template>

<script>

  export default {
    name: "periodicvisit",
    props:{
      id:{  default:null },
      edit:{ default: null },
      triage:{ default: null }
    },
    data(){
      return {

        status: [
          'Normal', 'Abnormal', 'NodExamined'
        ],
        tab: null,
        activetab:'GeneralApperance',
        dataform: {
          G:1,
          V:1,
          E:1,
          HR:null,
          DP:null,
          T:null,
          SPO2:null,
          RR:null,
          AVPU:null,
          Nursingmeasures:null,
          Nursingreport:null,
          Patienteducation:null,
          section: {
            GeneralApperance: {
              name: 'General Apperance',
              status: 'NodExamined',
              acare:null,
              inter: null,
            },
            HEENT: {
              name: 'HEENT',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            Neck: {
              name: 'Neck',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            Chestandlungs: {
              name: 'Chestandlungs',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            Cardiovascular: {
              name: 'Cardiovascular',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            abdomen: {
              name: 'abdomen',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            Genitourinary: {
              name: 'Genitourinary',
              status: 'Normal',
              acare:null,
              inter: null,

            },
            Reactal: {
              name: 'Reactal',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            Musculoskeletal: {
              name: 'Musculo skeletal',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            LymphNodes: {
              name: 'Lymph Nodes',
              status: 'Normal',
              acare:null,
              inter: null,

            },
            ExtermitiesSkin: {
              name: 'Extermities Skin',
              status: 'NodExamined',
              acare:null,
              inter: null,

            },
            Neurological: {
              name: 'Neuro logical',
              status: 'NodExamined',
              acare:null,
              inter: null,

            }
          }
        }
      }
    },
    methods:{
      addtodrug(e){
        this.dataform.section[this.activetab].Drugs.push(e);
        this.drugdialog=false;
      },
      savedata(){
        let data={
          id:this.id,
          data:this.dataform,
          mode:'pnv',
          triage: this.triage,

        };

        let that=this;
        if(this.edit==null){
          this.$axios.post(this.$url+'staff/fromController',data,{
            headers: {
              Authorization: localStorage.token
            }
          })
        }else{
          this.$axios.put(this.$url+'staff/fromController/'+this.edit,data,{
            headers: {
              Authorization: localStorage.token
            }
          })
        }

      },
    }
  }
</script>

<style scoped>
.w-100{
  width: 100%;
}
</style>
