<template>
  <div>
    <form @submit.prevent="savedata" >


    <h1 class="text-center">‫‪Braden‬‬ ‫‪Scale‬‬s</h1>
    <v-select

      :items="Sensory"
      filled
      item-text="name"
      v-model="dataform.Sensory"
      dir="rtl"
      item-value="Score"

      class="text-right"
      :label="'درک حسی'" ></v-select>
    <v-select
      :items="Humidity"
      item-text="name"
      dir="rtl"
      item-value="Score"

      filled
      v-model="dataform.Humidity"

      :label="'رطوبت'" ></v-select>
    <v-select
      :items="Activity"
      item-text="name"
      item-value="Score"

      dir="rtl"

      filled
      v-model="dataform.Activity"

      :label="'فعالیت'" ></v-select>
    <v-select
      :items="Mobility"
      item-text="name"
      dir="rtl"
      item-value="Score"

      filled
      v-model="dataform.Mobility"

      :label="'تحرک'" ></v-select>
    <v-select
      :items="Nutrition"
      item-text="name"
      dir="rtl"
      item-value="Score"

      filled
      v-model="dataform.Nutrition"

      :label="'تغذیه'" ></v-select>
    <v-select
      :items="Traction"
      item-text="name"
      item-value="Score"

      dir="rtl"
      filled
      v-model="dataform.Traction"
      :label="'تغذیه'" ></v-select>
    <v-chip
      class="ma-2 w-100"

    >
      {{ parseInt(dataform.Sensory)+parseInt(dataform.Humidity)+parseInt(dataform.Activity)+
      parseInt(dataform.Mobility)+parseInt(dataform.Nutrition)+parseInt(dataform.Traction) }}

    </v-chip>
    <template v-for="(item,index) in dataform.needly">
      <v-select v-model="dataform.needly[index].value"   :label="dataform.needly[index].label"       item-text="value" :items="Needornoneed">

      </v-select>
    </template>
      <v-btn class="ma-3" primary type="submit">{{ $t('save') }}</v-btn>

    </form>
  </div>
</template>

<script>
    export default {
        name: "primarywoundassessment",
      props:{
        id:{  default:null },
        edit:{ default: null },
        triage:{ default: null }
      },
      data(){
          return{

            dataform: {
              Sensory:0,
              Humidity:0,
              Activity:0,
              Mobility:0,
              Nutrition:0,
              Traction:0,
              needly: {
                '‫‫ارزیابی‬ مداوم‬ ‫پوست‬':{
                  value:'نیاز ندارد',
                  label:'‫‫ارزیابی‬ مداوم‬ ‫پوست‬ '
                },
                '‫‫تغییر‬ پوزیشین‬':{
                  value:'نیاز ندارد',
                  label:'‫‫تغییر‬ پوزیشین‬'
                },
                '‫بر‬‫‫طرف‬ ‫کردن‬ فشار‬ ':{
                  value:'نیاز ندارد',
                  label:'‫بر‬‫‫طرف‬ ‫کردن‬ فشار‬'
                },
                '‫ماساژ‬ ‫پشت‬':{
                  value:'نیاز ندارد',
                  label:'‫ماساژ‬ ‫پشت‬'
                },
                '‫‫کنترل‬ البسه‬ ‫و‬ ‫ملحفه‬ ':{
                  value:'نیاز ندارد',
                  label:'‫‫کنترل‬ البسه‬ ‫و‬ ‫ملحفه‬'
                },
                '‫حمام‬':{
                  value:'نیاز ندارد',
                  label:'‫حمام‬'
                },
                ' ‫تشک‬ ‫مواج‬ ':{
                  value:'نیاز ندارد',
                  label:'‫تشک‬ ‫مواج‬'
                },
                '‫‫پانسمان‬ ‫تخصصی‬  ‫زخم‬ بستر‬':{
                  value:'نیاز ندارد',
                  label:'‫‫پانسمان‬ ‫تخصصی‬  ‫زخم‬ بستر‬'
                },
                '‫ارزیابی‬ ‫ ‫تخصصی‬ تغذیه':{
                  value:'نیاز ندارد',
                  label:'‫ارزیابی‬ ‫ ‫تخصصی‬ تغذیه'
                },
                '‫عفونی‬ ‫ویزیت‬':{
                  value:'نیاز ندارد',
                  label:'‫مداوم‬ ‫پوست‬ ‫ارزیابی‬'
                },
                '‫ویزیت‬  ‫تخصصی‬ ‫عفونی‬  ':{
                  value:'نیاز ندارد',
                  label:'‫ویزیت‬  ‫تخصصی‬ ‫عفونی‬'
                },
              },
            },
            Sensory: [
              {
                name:"کاملا مختل"
                ,Score:1
              },
              {
                name:"خیلی مختل"
                ,Score:2
              },

              {
                name:"نسبتا مختل"
                ,Score:3
              },
              {
                name:"کامل مختل"
                ,Score:4
              },


            ],
            Humidity:[
              {
                name:"دائم خیس"
                ,Score:1
              },
              {
                name:"اکثرا خیس"
                ,Score:2
              },
              {
                name:"گاها خیس"
                ,Score:3
              },
              {
                name:"خشک"
                ,Score:4
              },
            ],
            Activity:[
              {
                name:"وابسته به تخت"
                ,Score:1
              },
              {
                name:"وابسته به صندلی"
                ,Score:2
              },
              {
                name:"راه رفتن با کمک"
                ,Score:3
              },
              {
                name:"راه فتن بدون کمک"
                ,Score:3
              },
            ],
            Mobility:[
              {
                name:"کاملا بی حرکت"
                ,Score:1
              },
              {
                name:"تحرک خیلی محدود"
                ,Score:2
              },
              {
                name:"تحرک نسبتا محدود"
                ,Score:3
              },
              {
                name:"کاملا متحرک"
                ,Score:4
              },
            ],
            Nutrition:[
              {
                name:"خیلی مختل"
                ,Score:1
              },
              {
                name:"خوردن کمتر از نصف نیاز روزانه"
                ,Score:2
              },
              {
                name:"تغذیه کامل"
                ,Score:3
              },

            ],
            Traction:[
              {
                name:"سرخوردن مکرر"
                ,Score:1
              },
              {
                name:"خودداری نسبی از سر خوردن"
                ,Score:2
              },
              {
                name:"خودداری از سر"
                ,Score:3
              },

            ],
            Needornoneed:['نیاز ندارد','نیاز دارد']

            }

          },
      methods:{
        savedata(){
          let data={
            id:this.id,
            data:this.dataform,
            mode:'primarywoundassessment'
          };

          let that=this;
          if(this.edit==null){
            this.$axios.post(this.$url+'staff/fromController',data,{
              headers: {
                Authorization: localStorage.token
              }
            })
          }else{
            this.$axios.put(this.$url+'staff/fromController/'+this.edit,data,{
              headers: {
                Authorization: localStorage.token
              }
            })
          }

        },
      }


    }
</script>


<style >
.text-right{
  text-align: right;
}
  . w-100{
    width: 100%;
  }
</style>
