<template>
    <div>
      <form @submit.prevent="savedata">
             <v-text-field
               label="نوع رادیولوژی" v-model="dataform.model"> </v-text-field>
            <v-text-field label="کد رادیولوژی" v-model="dataform.code"> </v-text-field>
            <v-textarea label="‫توضیحات‬ " v-model="dataform.descitiption"> </v-textarea>
            <v-textarea label="‫گزارش‬ " v-model="dataform.report"> </v-textarea>
        <v-btn  type="submit"  >{{ $t('save') }}</v-btn>

      </form>
    </div>
</template>

<script>
    export default {
        name: "reportradiology",
      props:{
        id:{  default:null },
        edit:{ default: null },
        triage:{ default: null }
      },
      data(){
        return{
          dataform:{
            model:null,
            descitiption:null,
            report:null,
            code:null
          }
        }
      },
      methods:{
        savedata() {
          let data = {

            id: this.id,
            data: this.dataform,
            mode: 'reportradiology',



          };

          let that = this;
          if (this.edit == null) {
            this.$axios.post(this.$url + 'staff/fromController', data, {
              headers: {
                Authorization: localStorage.token
              }
            })
          } else {
            this.$axios.put(this.$url + 'staff/fromController/' + this.edit, data, {
              headers: {
                Authorization: localStorage.token
              }
            })
          }

        },
      }
    }
</script>

<style scoped>

</style>
