<template>
  <div class="ma-2">
    <form @submit.prevent="savedata">
        <template v-if="pagemode==1">
          <v-btn @click="pagemode=2">Select Body</v-btn>
          <v-dialog
            v-model="drugdialog"
            persistent
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                v-bind="attrs"
                v-on="on"
              >
                {{ $t('Drug Select') }}
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="headline">
                {{ $t('List Of Drug') }}

              </v-card-title>
              <v-card-text>
                <drugeselect       v-on:items="addtodrug"></drugeselect>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="green darken-1"
                  text
                  @click="drugdialog = false"
                >
                  Close
                </v-btn>

              </v-card-actions>

            </v-card>
          </v-dialog>
          <div dir="ltr" style="margin-top: 25px;">
            <strong>Signs of Infection</strong>

            <v-switch
              v-model="dataform['new slough/necrosis']"
              label="new slough/necrosis"
            ></v-switch>
            <v-switch
              v-model="dataform['increasing pain']"
              label="increasing pain"
            ></v-switch>
            <v-switch
              v-model="dataform['increasing exudate']"
              label="increasing exudate"
            ></v-switch>
            <v-switch
              v-model="dataform['increasing odour']"
              label="increasing odour"
            ></v-switch>
            <v-switch
              v-model="dataform['friable granulation tissue']"
              label="friable granulation tissue"
            ></v-switch>
          </div>
          <v-textarea
            filled
            v-model="dataform.description"
            :label="$t('description')"
          ></v-textarea>
          <v-btn  type="submit"  >{{ $t('save') }}</v-btn>
          <hr>

          <v-card
            v-for="(item,index) in dataform.list"
            :loading="loading"
            class="mx-auto my-12"
            max-width="374"
          >
            <template slot="progress">
              <v-progress-linear
                color="deep-purple"
                height="10"
                indeterminate
              ></v-progress-linear>
            </template>


            <v-carousel v-model="model">
              <v-carousel-item

              >
                <v-sheet
                  height="100%"
                  tile
                >
                  <v-row
                    class="fill-height"
                    align="center"
                    justify="center"
                  >
                    <div class="display-3">
                      <v-img

                        :src="item.body.img"
                      ></v-img>
                    </div>
                  </v-row>
                </v-sheet>
              </v-carousel-item>
              <v-carousel-item

              >
                <v-sheet
                  :color="color"
                  height="100%"
                  tile
                >
                  <v-row
                    class="fill-height"
                    align="center"
                    justify="center"
                  >
                    <div class="display-3">
                      <v-img

                        :src="item.Degree.img"
                      ></v-img>
                    </div>
                  </v-row>
                </v-sheet>
              </v-carousel-item>
              <v-carousel-item

              >
                <v-sheet
                  :color="color"
                  height="100%"
                  tile
                >
                  <v-row
                    class="fill-height"
                    align="center"
                    justify="center"
                  >
                    <div class="display-3">
                      <v-img

                        :src="item.skin.img"
                      ></v-img>
                    </div>
                  </v-row>
                </v-sheet>
              </v-carousel-item>

            </v-carousel>

            <v-card-title>{{ item.body.name }}</v-card-title>

            <v-card-text>
              <v-row
                align="center"
                class="mx-0"
              >

              </v-row>

              <div class="my-4 subtitle-1">
                {{ item.Degree.name }}
              </div>

              <div>   {{ item.skin.name }}</div>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-title>Periwound Skin</v-card-title>

            <v-card-text>
              <v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip>  Length/width / Deph  : {{  item.LengthwidthDeph }} </v-chip>

                <v-chip>Undermining (location-size) : {{  item.Undermining }} </v-chip>

                <v-chip>Sinus (loaction-size) : {{  item.Sinus }} </v-chip>

              </v-chip-group>
              <v-card-title>Wound Exudate</v-card-title>

              <v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip>   Level / type   : {{  item.Leveltype }}</v-chip>

                <v-chip>low / moderate /high  : {{  item.lowmoderatehigh }}</v-chip>

                <v-chip>serous  haemoserous purulent   : {{  item.seroushaemoserouspurulent }}</v-chip>

              </v-chip-group>
            </v-card-text>

            <v-card-actions>
              <v-btn
                color="deep-purple lighten-2"
                text
                @click="dataform.list.splice(index)"
              >
               Remove
              </v-btn>
            </v-card-actions>
          </v-card>

          {{ $t('List Of Drug') }}
          <v-list three-line>
            <template v-for="(item, index) in dataform.drug">
              <v-list-item style="background-color: #d2f1d2; border-radius: 5px;">
                <v-list-item-content>

                  <v-list-item-title v-html="item.name"></v-list-item-title>

                  <ul class="listofcalifornia  " >
                    <v-row

                    >
                      <v-col cols="12">

                        <v-text-field :label="$t('Dosage g/mg')"  :placeholder="$t('Dosage')"   v-model="item.Ingredient"  ></v-text-field>

                      </v-col>



                      <v-col cols="12">

                        <v-select
                          :items="['h','d']"
                          v-model="item.modeperday"
                        ></v-select>
                      </v-col>

                      <v-col cols="12">
                        <v-text-field :label="$t('Total consumption per day')" type="number"  :placeholder="$t('count')"   v-model="item.perday"  ></v-text-field>

                      </v-col>
                      <v-col cols="12">


                        <v-text-field  :label="$t('Total consumption per day')"   readonly :placeholder="$t('type detail')"  value="Q" ></v-text-field>

                      </v-col>



                      <v-col>
                        <i >{{ $t('Route') }}</i>
                        <v-text-field  :placeholder="$t('Route')"   v-model="item.RouteofAdmin"  ></v-text-field>

                      </v-col>
                    </v-row>
                    <i >{{ $t('Medical Actions') }}</i>
                    <v-text-field  :placeholder="$t('type detail')"   v-model="item.MedicalActions"  ></v-text-field>

                  </ul>

                  <v-btn
                    depressed
                    @click="dataform.drug.splice(index)"
                    color="error"
                  >
                    Deleted Drug {{ item.name }}
                  </v-btn>

                  <hr>
                </v-list-item-content>

              </v-list-item>

            </template>
          </v-list>
         <!-- <v-list>
            <v-list-item-group v-model="model">
              <v-list-item
              v-for="item in dataform.list"

              >
                <v-list-item-icon>
                  <div>
                    <img :src="item.body.img"  height="80px;">
                    <img :src="item.Degree.img"  height="80px;">
                    <img :src="item.skin.img"  height="80px;">

                  </div>

                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title >{{ item.body.name }}</v-list-item-title>


                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>-->
        </template>
      <template v-if="pagemode==2">
        <v-container fluid>
          <v-row dense>
            <v-col
              cols="6"
              v-for="(card,index) in bodysection"
              :key="card.number"
              @click="addtoselect(index)"
            >
              <v-card>
                <v-img
                  :src="card.img"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"

                  width="100%"
                >
                  <v-card-title  style="color: #333333;" v-text="card.name"></v-card-title>
                </v-img>

                <v-card-actions >
                  <span v-text="card.name" ></span>
                  <v-spacer></v-spacer>

                  <v-btn icon>
                    <v-icon>mdi mdi-check</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>


      </template>
      <template v-if="pagemode==3">
        <h1> Pressure ulcer Degree</h1>
        <v-container fluid>
          <v-row dense>
            <v-col
              v-for="(card,index) in PressureulcerDegree"
              :key="card.name"
              @click="addtoselect2(index)"
            >
              <v-card>
                <v-img
                  :src="card.img"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"

                  width="100%"
                >
                  <v-card-title  style="color: #333333;" v-text="card.name"></v-card-title>
                </v-img>

                <v-card-actions >
                  <span v-text="card.name" ></span>
                  <v-spacer></v-spacer>

                  <v-btn icon>
                    <v-icon>mdi mdi-check</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>

      </template>
      <template v-if="pagemode==4">
        <h1>Peri-wound Skin</h1>
        <v-container fluid>
          <v-row dense>
            <v-col
              v-for="(card,index) in skintype"
              :key="card.name"
              @click="addtoselect3(index)"
            >
              <v-card>
                <v-img
                  :src="card.img"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"

                  width="100%"
                >
                  <v-card-title  style="color: #333333;" v-text="card.name"></v-card-title>
                </v-img>

                <v-card-actions >
                  <span v-text="card.name" ></span>
                  <v-spacer></v-spacer>

                  <v-btn icon>
                    <v-icon>mdi mdi-check</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>

      </template>
      <template v-if="pagemode==5">
        <label>Periwound Skin</label>

        <v-select v-model="selectebs.LengthwidthDeph" label="Length/width / Deph" :items="[1,2,3,4]"></v-select>
        <v-select v-model="selectebs.Undermining" label="Undermining (location-size)" :items="[1,2,3,4]"></v-select>
        <v-select v-model="selectebs.Sinus" label="Sinus (loaction-size)" :items="[1,2,3,4]"></v-select>
        <label>Wound Exudate</label>
        <v-select v-model="selectebs.Leveltype" label="Level / type" :items="[1,2,3,4]"></v-select>
        <v-select v-model="selectebs.lowmoderatehigh" label="low / moderate /high" :items="[1,2,3,4]"></v-select>
        <v-select v-model="selectebs.seroushaemoserouspurulent" label="serous  haemoserous purulent" :items="[1,2,3,4]"></v-select>
        <v-btn @click="addtolist" >اضافه کردن</v-btn>
      </template>
    </form>
  </div>
</template>

<script>
  export default {
    name: "seobs",
    props:{
      id:{  default:null },
      edit:{ default: null },
      triage:{ default: null }
    },
    data(){
      return{
        pagemode:1,
        drugdialog:false,

          selectebs:{
            body:null,
            Degree:null,
            skin:null,
            LengthwidthDeph:null,
            Undermining:null,
            Sinus:null,
            Leveltype:null,
            lowmoderatehigh:null,
          },
          PressureulcerDegree:[
            {
              name:'first degree',
              img:'/icon/01.png'
            },
            {
              name:'second degree',
              img:'/icon/02.png'
            },
            {
              name:'third degree',
              img:'/icon/03.png'
            },
            {
              name:'forth degree',
              img:'/icon/04.png'
            },
            {
              name:'deep tissue injury',
              img:'/icon/05.png'
            },
            {
              name:'Unstageable',
              img:'/icon/06.png'
            },
          ],
          skintype:[
            {
              name:'Necrotic hard',
              img:'/icon/07.png'
            },
            {
              name:'Necrotic soft',
              img:'/icon/08.png'
            },
            {
              name:'Sloughy',
              img:'/icon/09.png'
            },
            {
              name:'Granulating',
              img:'/icon/10.png'
            },
            {
              name:'Epithelialising',
              img:'/icon/11.png'
            },
            {
              name:'Haematoma',
              img:'/icon/12.png'
            },

            {
              name:'intact',
              img:'/icon/13.png'
            },
            {
              name:'Excorited',
              img:'/icon/14.png'
            },
            {
              name:'Edematous',
              img:'/icon/15.png'
            },
            {
              name:'Macerated',
              img:'/icon/16.png'
            },

          ],
          bodysection:[
            {
              name:'Occipitail Bone',
              img:'/body/01.jpg',
              number:1,
            },
            {
              name:'Scapula',
              img:'/body/02.jpg',
              number:2,
            },
            {
              name:'Spinous process',
              img:'/body/03.jpg',
              number:3,
            },
            {
              name:'Elbow',
              img:'/body/04.jpg',
              number:4,
            },
            {
              name:'iliac crest',
              img:'/body/05.jpg',
              number:5,
            },
            {
              name:'Sacrum',
              img:'/body/06.jpg',
              number:6,
            },
            {
              name:'Ischium',
              img:'/body/07.jpg',
              number:7,
            },
            {
              name:'Achilles tendon',
              img:'/body/08.jpg',
              number:8,
            },
            {
              name:'Heel',
              img:'/body/09.jpg',
              number:9,
            },
            {
              name:'Solo',
              img:'/body/10.jpg',
              number:10,
            },
            {
              name:'Ear',
              img:'/body/11.jpg',
              number:11,
            },
            {
              name:'Shoulder',
              img:'/body/12.jpg',
              number:12,
            },
            {
              name:'Anterior iliac spine',
              img:'/body/13.jpg',
              number:13,
            },
            {
              name:'Trochanter',
              img:'/body/14.jpg',
              number:14,
            },
            {
              name:'Thigh',
              img:'/body/15.jpg',
              number:15,
            },
            {
              name:'Medial knee',
              img:'/body/16.jpg',
              number:16,
            },
            {
              name:'Lateral knee',
              img:'/body/17.jpg',
              number:17,
            },
            {
              name:'Lower Leg',
              img:'/body/18.jpg',
              number:18,
            },
            {
              name:'Medial malleolus',
              img:'/body/19.jpg',
              number:19,
            },
            {
              name:'Lateral malleolus',
              img:'/body/20.jpg',
              number:20,
            },
            {
              name:'Lateral edge of foot',
              img:'/body/21.jpg',
              number:21,
            },
            {
              name:'Posterior knee',
              img:'/body/22.jpg',
              number:22,
            },

          ],
        dataform:{
            list:[],
            drug:[],
          heat:false,
          description:null,
          'new slough/necrosis':false,
          'increasing pain':false,
          'increasing exudate':false,
          'increasing odour':false,
          'friable granulation tissue':false,
        },
      }
    },
    methods: {
      addtodrug(e){
        this.dataform.drug.push(e);
        this.drugdialog=false;
      },
      resetdata(){

      },
      addtolist(){
          this.dataform.list.push(this.selectebs);
        this.resetdata();
        this.pagemode=1;

      },

      addtoselect(id){
        this.selectebs.body=this.bodysection[id];
        this.pagemode=3;
      },
      addtoselect2(id){
        this.selectebs.Degree=this.skintype[id];
        this.pagemode=4;
      },
      addtoselect3(id){
        this.selectebs.skin=this.PressureulcerDegree[id];
        this.pagemode=5;
      },
      savedata() {
        let data = {

          id: this.id,
          data: this.dataform,
          mode: 'seobs',



        };

        let that = this;
        if (this.edit == null) {
          this.$axios.post(this.$url + 'staff/fromController', data, {
            headers: {
              Authorization: localStorage.token
            }
          })
        } else {
          this.$axios.put(this.$url + 'staff/fromController/' + this.edit, data, {
            headers: {
              Authorization: localStorage.token
            }
          })
        }

      },
    }
  }
</script>

<style scoped>

</style>
Level 1
<!--
1 Occipitail Bone
2 Scapula
3 Spinous proccess
4 Elbow
5 iliac crest
6 Sacrum
7 Ischium
8 Achilles tendon
9 Heel
10 Solo
11 Ear
12 Shoulder
13 Anterior iliac spine
14 Trochanter
15 Thigh
16 Medial knee
18 Lower leg
19 Medial maleolus
21 Lateral maleolus
22  Lateral Edge of foot
23  Posterior knee




Pressure ulcer Degree

first degree
second degree
third degree
forth degree
deep tissue injury
Unstageable


Pressure ulcer Type

Necrotic(hard)
Necrotic(soft)
Sloughy
Granulating
Epithelialising
Haematoma

PeriwoundSkin
intact
Excorited
Edematous
Macerated

Wpund Dimensons

Length/width / Deph
Undermining (location-size)
Sinus (loaction-size)

Wound Exudate
Level / type
low / moderate /high
serous  haemoserous purulent


‫مراقبتی‬ ‫دستور‬ / ‫دارو‬ ‫نام‬

‫زخم‬ ‫کارشناسی‬ ‫مشاوره‬ ‫و‬ ‫پروسیژر‬ ‫شرح‬

( ‫مصرفی‬ ‫تجهیزات‬ ‫های‬ ‫پکیج‬ ) ‫مصرفی‬ ‫تجهیزات‬ ‫کد‬


( ‫آید‬ ‫می‬ ‫دیتابیس‬ ‫از‬ ‫تجهیزات‬ ) ‫مصرفی‬ ‫تجهیزات‬


Signs of Infection
heat
increasing pain
new slough/necrosis
increasing exudate
increasing odour
friable granulation
tissue

-->

