<template>
  <div class="ma-2">
    <form @submit.prevent="savedata">
      <div class="ma-1"            fill-width>
        <label  v-text="$t('Dateofacceptance')" class="ma-1" ></label>

        <date-picker


          v-model="dataform.Dateofacceptance"
          format="YYYY-MM-DD HH:mm:ss"
          display-format="dddd jDD jMMMM jYYYY"
        />
      </div>
      <div center>

        <v-row>
          <label>{{ $t('description') }}</label>
          <v-textarea
            name="input-7-1"
            v-model="dataform.Description"
            :hint="$t('description')"
          ></v-textarea>


        </v-row>
        <v-row>
          <vue-record-audio :mode="recordMode.audio"  :key="events" @result="onResult"  />

          <audio v-if="dataform.descriptionvoice!=null" controls  :key="keyvoice">
            <source :src="audio" :key="keyvoice" type="audio/mp3" />
            <source :src="dataform.descriptionvoice" :key="keyvoice" type="audio/mp3" />
          </audio>
        </v-row>
        <v-row>



          <v-col cols="4">
            <label>{{ $t('bloodpressure') }}</label>
            <v-text-field  type="number" v-model="dataform.bloodpressure"></v-text-field>
          </v-col>
          <v-col cols="4">
            <label>{{ $t('heart beat') }}</label>
            <v-text-field  type="number" v-model="dataform.heartbeat"></v-text-field>
          </v-col>
          <v-col cols="4">
            <label>{{ $t('Number of breaths') }}</label>
            <v-text-field  type="number" v-model="dataform.Numberofbreaths"></v-text-field>
          </v-col>
          <v-col cols="4">
            <label>{{ $t('Consciousness score') }}</label>
            <v-text-field  type="number" v-model="dataform.Consciousnessscore"></v-text-field>
          </v-col>
          <v-col cols="4">
            <label>{{ $t('Temperatures') }}</label>
            <v-text-field  type="number" v-model="dataform.Temperatures"></v-text-field>
          </v-col>
          <v-col cols="4">
            <label>{{ $t('sechoration') }}</label>
            <v-text-field  type="number" v-model="dataform.sechoration"></v-text-field>
          </v-col>
          <v-col cols="12">
            <h4>{{ $t('subjective') }}</h4>
            <hr >

          </v-col>
          <v-col>
            <label>{{ $t('Objectivs') }}</label>
            <v-textarea
              name="input-7-1"
              v-model="dataform.Clinical"
              :hint="$t('description')"
            ></v-textarea>
            <vue-record-audio :mode="recordMode.Clinicalaudio"  :key="events" @result="onResult2"  />
            <audio v-if="audio2!=null" controls  :key="keyvoice">
              <source :src="audio2"  type="audio/mp3" />
              <source :src="dataform.Clinicalaudio" :key="keyvoice" type="audio/mp3" />
            </audio>
          </v-col>
          <v-col>
            <label>{{ $t('ParaClianal') }}</label>
            <v-textarea
              name="input-7-1"
              v-model="dataform.ParaClianal"
              :hint="$t('ParaClianal')"
            ></v-textarea>
            <vue-record-audio :mode="recordMode.ParaClianalaudio"  :key="events" @result="onResult3"  />
            <audio v-if="audio3!=null" controls  :key="keyvoice">
              <source :src="audio3"  type="audio/mp3" />
              <source :src="dataform.ParaClianalaudio" :key="keyvoice" type="audio/mp3" />
            </audio>
          </v-col>

        <v-col cols="12">
            <h4>{{ $t('Palne') }}</h4>
            <hr >

          </v-col>
        <v-col cols="6">
          <label>{{ $t('Objectivs') }}</label>
          <v-textarea
            name="input-7-1"
            v-model="dataform.Therapeutic"
            :hint="$t('Therapeutic')"
          ></v-textarea>
          <vue-record-audio :mode="recordMode.Therapeuticaudio"  :key="events" @result="onResult4"  />
          <audio v-if="audio4!=null" controls  :key="keyvoice">
            <source :src="audio4"  type="audio/mp3" />
            <source :src="dataform.Therapeuticaudio" :key="keyvoice" type="audio/mp3" />
          </audio>
        </v-col>
        <v-col cols="6">
          <label>{{ $t('ParaClianalPlane') }}</label>
          <v-textarea
            name="input-7-1"
            v-model="dataform.ParaClianalPlane"
            :hint="$t('ParaClianal')"
          ></v-textarea>
          <vue-record-audio :mode="recordMode.ParaClianalaudio"  :key="events" @result="onResult5"  />
          <audio v-if="audio5!=null" controls  :key="keyvoice">
            <source :src="audio5"  type="audio/mp3" />
            <source :src="dataform.ParaClianalaudio" :key="keyvoice" type="audio/mp3" />
          </audio>
        </v-col>

        </v-row>

      </div>
      <v-btn class="ma-3" primary type="submit">{{ $t('save') }}</v-btn>

    </form>

  </div>
</template>

<script>
  export default {
    name: "sicknessperiod",
    props:{
      id:{  default:null },
      edit:{ default: null },
      triage:{ default: null }
    },
    data(){
      return{
        recordMode: {
          audio: 'hold',
        },
        audio:null,
        audio2:null,
        audio3:null,
        audio4:null,
        audio5:null,
        audio6:null,
        keyvoice:0,
        dataform:{
          Dateofacceptance:null,
          description:null,
          descriptionvoice:null,
          bloodpressure:null,
          heartbeat:null,
          Numberofbreaths:null,
          Consciousnessscore:null,
          Temperatures:null,
          sechoration:null,
          subjective:null,
          Objectivs:null,
          Clinical:null,
          Clinicalaudio:null,
          ParaClianal:null,
          ParaClianalaudio:null,
          Palne:null,
          Therapeutic:null,
          Therapeuticaudio:null,
          ParaClianalPlane:null,
          ParaClianalPlaneaudio:null,

        }

      }
    },
    methods:{
      savedata(){
        let data={
          id:this.id,
          data:this.dataform,
          mode:'sicknessperiod'
        };

        let that=this;
        if(this.edit==null){
          this.$axios.post(this.$url+'staff/fromController',data,{
            headers: {
              Authorization: localStorage.token
            }
          })
        }else{
          this.$axios.put(this.$url+'staff/fromController/'+this.edit,data,{
            headers: {
              Authorization: localStorage.token
            }
          })
        }

      },
      onResult (stream) {
        let that=this;
        this.keyvoice=this.keyvoice+1;
        var reader = new FileReader();
        reader.readAsDataURL(stream);
        reader.onloadend = function() {
          that.dataform.descriptionvoice = reader.result;

        }
        this.audio=window.URL.createObjectURL(stream);
        this.$forceUpdate();
      },
      onResult2 (stream) {
        let that=this;
        this.keyvoice=this.keyvoice+1;
        var reader = new FileReader();
        reader.readAsDataURL(stream);
        reader.onloadend = function() {
          that.dataform.descriptionvoice = reader.result;

        }
        this.audio2=window.URL.createObjectURL(stream);
        this.$forceUpdate();
      },
      onResult3 (stream) {
        let that=this;
        this.keyvoice=this.keyvoice+1;
        var reader = new FileReader();
        reader.readAsDataURL(stream);
        reader.onloadend = function() {
          that.dataform.ParaClianalaudio = reader.result;

        }
        this.audio3=window.URL.createObjectURL(stream);
        this.$forceUpdate();
      },
      onResult4 (stream) {
        let that=this;
        this.keyvoice=this.keyvoice+1;
        var reader = new FileReader();
        reader.readAsDataURL(stream);
        reader.onloadend = function() {
          that.dataform.Therapeuticaudio = reader.result;

        }
        this.audio4=window.URL.createObjectURL(stream);
        this.$forceUpdate();
      },
      onResult5 (stream) {
        let that=this;
        this.keyvoice=this.keyvoice+1;
        var reader = new FileReader();
        reader.readAsDataURL(stream);
        reader.onloadend = function() {
          that.dataform.ParaClianalPlaneaudio = reader.result;

        }
        this.audio5=window.URL.createObjectURL(stream);
        this.$forceUpdate();
      },
    },
    mounted() {

    }
  }
</script>

<style scoped>

</style>
