<template>
<div>
  <div>
    <label  v-text="$t('Dateofacceptance')" class="ma-1" ></label>

    <date-picker


      v-model="dataform.Dateofacceptance"
      format="YYYY-MM-DD HH:mm:ss"
      display-format="dddd jDD jMMMM jYYYY"
    />
<div  style="margin-top: 20px">
  <v-time-picker

    v-model="dataform.time"
    format="24hr"
  ></v-time-picker>

  <v-slider
    :hint="dataform.G"
    :label="$t('motor')"

    v-model="dataform.G"
    max="6"
    min="1"
    persistent-hint
  ></v-slider>
  <v-slider
    :hint="dataform.V"
    :label="$t('Verbal')"

    v-model="dataform.V"
    max="5"
    min="1"
    persistent-hint
  ></v-slider>
  <v-slider
    :hint="dataform.E"
    :label="$t('Eyes')"

    v-model="dataform.E"
    max="4"
    min="1"
    persistent-hint
  ></v-slider>
  <v-text-field  class="text-center2"    :label="$t('GCS')"     :value="parseInt(dataform.G)+parseInt(dataform.V)+parseInt(dataform.E)"    readonly  ></v-text-field>
  <v-text-field  class="text-center2"    :label="$t('temp')"    v-model="dataform.temp"     ></v-text-field>
  <v-text-field  class="text-center2"    :label="$t('breathcouunt')"    v-model="dataform.breathcouunt"     ></v-text-field>
  <v-text-field  class="text-center2" type="number"    :label="$t('sisotl')"    v-model="dataform.sisotl"     ></v-text-field>
  <v-text-field  class="text-center2" type="number"    :label="$t('diastol')"    v-model="dataform.diastol"     ></v-text-field>
  <v-text-field  class="text-center2"    :label="$t('MBP')"     :value="(parseInt(dataform.sisotl)+(parseInt(dataform.diastol)*2))/3"    readonly  ></v-text-field>
  <v-slider
    :hint="dataform.oxygenlevel"
    :label="$t('oxygenlevel')"

    v-model="dataform.oxygenlevel"
    max="100"
    min="0"
    persistent-hint
  ></v-slider>
  <v-text-field  class="text-center2"  type="number"   :label="$t('bloodsuger')"    v-model="dataform.bloodsuger"     ></v-text-field>
  <v-select
    :items="ansolinmode"
    filled
    :label="$t('ansolinmode')"
  ></v-select>
  <v-text-field  class="text-center2"  type="number"   :label="$t('ansolineamount')"    v-model="dataform.ansolineamount"     ></v-text-field>
  <v-text-field  class="text-center2"  type="number"   :label="$t('morse')"    v-model="dataform.morse"     ></v-text-field>
  {{ $t('List Of Drug') }}
  <v-list three-line>
    <template v-for="(item, index) in dataform.drug">
      <v-list-item style="background-color: #d2f1d2; border-radius: 5px;">
        <v-list-item-content>

          <v-list-item-title v-html="item.name"></v-list-item-title>

          <ul class="listofcalifornia  " >
            <v-row

            >
              <v-col cols="12">

                <v-text-field :label="$t('Dosage g/mg')"  :placeholder="$t('Dosage')"   v-model="item.Ingredient"  ></v-text-field>

              </v-col>



              <v-col cols="12">

                <v-select
                  :items="['h','d']"
                  v-model="item.modeperday"
                ></v-select>
              </v-col>

              <v-col cols="12">
                <v-text-field :label="$t('Total consumption per day')" type="number"  :placeholder="$t('count')"   v-model="item.perday"  ></v-text-field>

              </v-col>
              <v-col cols="12">


                <v-text-field  :label="$t('Total consumption per day')"   readonly :placeholder="$t('type detail')"  value="Q" ></v-text-field>

              </v-col>



              <v-col>
                <i >{{ $t('Route') }}</i>
                <v-text-field  :placeholder="$t('Route')"   v-model="item.RouteofAdmin"  ></v-text-field>

              </v-col>
            </v-row>
            <i >{{ $t('Medical Actions') }}</i>
            <v-text-field  :placeholder="$t('type detail')"   v-model="item.MedicalActions"  ></v-text-field>

          </ul>

          <v-btn
            depressed
            @click="dataform.drug.splice(index)"
            color="error"
          >
            Deleted Drug {{ item.name }}
          </v-btn>

          <hr>
        </v-list-item-content>

      </v-list-item>

    </template>
  </v-list>

<!--
  <vue-record-audio :mode="recordMode.audio" @stream="onStream" @result="onResult" />
-->

  <v-file-input
    :rules="rules"
    capture="camera"
    accept="image/png, image/jpeg, image/bmp"
    placeholder="Pick an avatar"
    prepend-icon="mdi-camera"
    :label="$t('image')"
  ></v-file-input>

  <!-- Drug !-->
  <v-dialog
    v-model="drugdialog"
    persistent
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        dark
        v-bind="attrs"
        v-on="on"
      >
        {{ $t('Drug Select') }}
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">
        {{ $t('List Of Drug') }}

      </v-card-title>
      <v-card-text>
        <drugeselect       v-on:items="addtodrug"></drugeselect>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green darken-1"
          text
          @click="drugdialog = false"
        >
          Close
        </v-btn>

      </v-card-actions>

    </v-card>
  </v-dialog>
</div>


  </div>

</div>
</template>

<script>
    export default {
        name: "simple",
      props:{
        id:{  default:null },
        edit:{ default: null },
        triage:{ default: null }
      },
      data(){

          return{


            drugdialog:false,
            ansolinmode:[
              'none',
              'Regular',
              'Mph',
              'Lantus',
              'NoVo Rpaid',
            'As Part',
              'Levemir',
              'Abasgelar',
              'NoVo Mix'
            ],
            dataform:{
              Dateofacceptance:null,
              time:null,
              G:1,
              V:1,
              E:1,
              temp:1,
              breathcouunt:1,
              sisotl:1,
              diastol:1,
              oxygenlevel:0,
              bloodsuger:0,
              ansolinmode:null,
              ansolineamount:0,
              morse:0,
              braden:0,
              drug:[]

            }

          }
      },
      methods:{
        addtodrug(e){
          this.dataform.drug.push(e);
          this.drugdialog=false;
        },

      },
      mounted () {

      }

    }
</script>

<style scoped>
  .text-center2{
    text-align: center !important;
  }

</style>
