<template>
<div>
  <form @submit.prevent="savedata">

  <v-card color="basil" dir="ltr">

    <v-card-title class="text-center justify-center py-6">

    </v-card-title>

    <v-tabs
      background-color="cyan"
      dark
      next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows
      v-model="tab"
      color="basil"
      grow
    >
      <v-tab
        v-for="(item,index) in dataform.section"
        :key="index"
        @click="activetab=index"


      >
        {{ $t(index) }}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="(item,index) in dataform.section"
        :key="index"
      >
        <v-card
          color="basil"
          flat
          style="margin: 5px; text-align: center;"
        >
          <h3>{{ $t(index) }}</h3>
          <hr>
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                md="4"
              >

                <v-select
                  :items="status"
                  filled
                  v-model="item['status']"
                  :label="$t('status')"
                ></v-select>
              </v-col>
                <template>
                  <v-col
                    cols="12"
                    md="12"
                    style="text-align: right;"
                  >
                    <label >{{ $t('description')}}</label>
                    <v-textarea
                      dir="rtl"
                      style="text-align: right;"
                      name="input-7-1"
                      v-model="item.Description"
                      :hint="$t('typedesciprion')"
                    ></v-textarea>
                  </v-col>
                </template>
              <v-col>
                {{ $t('List Of Drug') }}
                <v-list three-line>
                  <template v-for="(items, indexs) in item.Drugs">
                    <v-list-item style="background-color: #d2f1d2; border-radius: 5px;">
                      <v-list-item-content>

                        <v-list-item-title v-html="items.name"></v-list-item-title>

                        <ul class="listofcalifornia  " >


                              <i >{{ $t('Dosage g/mg') }}</i>
                              <v-text-field  :placeholder="$t('Dosage')"   v-model="items.Ingredient"  ></v-text-field>



                              <v-select
                                :label="$t('Mode consumption')"
                                :items="['h','d']"
                                v-model="items.modeperday"
                              ></v-select>
                              <v-text-field class="text-lg-right"    :label="$t('Total consumption')" type="number"  :placeholder="$t('count')"   v-model="items.perday"  ></v-text-field>Q


                            <v-text-field        :label="$t('Route')" :placeholder="$t('Route')"   v-model="items.RouteofAdmin"  ></v-text-field>

                          <v-text-field  :label="$t('Medical Actions')" :placeholder="$t('type detail')"   v-model="items.MedicalActions"  ></v-text-field>

                   </ul>

                        <v-btn
                          depressed
                          @click="dataform.drug.splice(index)"
                          color="error"
                        >
                          <v-icon
                            large
                            color="white darken-2"
                          >
                            mdi-delete
                          </v-icon>
                        </v-btn>

                        <hr>
                      </v-list-item-content>

                    </v-list-item>
                  </template>
                </v-list>


                <v-dialog
                  v-model="drugdialog"
                  persistent
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      dark
                      v-bind="attrs"
                      v-on="on"
                    >
                      {{ $t('Drug Select') }}
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title class="headline">
                      {{ $t('List Of Drug') }}

                    </v-card-title>
                    <v-card-text>
                      <drugeselect       v-on:items="addtodrug"></drugeselect>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="green darken-1"
                        text
                        @click="drugdialog = false"
                      >
                        Close
                      </v-btn>

                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>

            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
    <v-btn
      class="ma-2"
      type="submit"
      color="secondary"

    >
      {{ $t('save') }}
    </v-btn>
  </form>
</div>

</template>

<script>

    export default {
        name: "periodicvisit",
      props:{
        id:{  default:null },
        edit:{ default: null },
        triage:{ default: null }
      },
      data(){
          return {

            status: [
              'Normal', 'Abnormal', 'NodExamined'
            ],
            tab: null,
            activetab:'GeneralApperance',
            dataform: {

              section: {
                GeneralApperance: {
                  name: 'General Apperance',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                HEENT: {
                  name: 'HEENT',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                Neck: {
                  name: 'Neck',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                Chestandlungs: {
                  name: 'Chestandlungs',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                Cardiovascular: {
                  name: 'Cardiovascular',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                abdomen: {
                  name: 'abdomen',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                Genitourinary: {
                  name: 'Genitourinary',
                  status: 'Normal',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                Reactal: {
                  name: 'Reactal',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                Musculoskeletal: {
                  name: 'Musculo skeletal',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                LymphNodes: {
                  name: 'Lymph Nodes',
                  status: 'Normal',
                  Description: null,
                  Drugs: null,
                  Order: null
                },
                ExtermitiesSkin: {
                  name: 'Extermities Skin',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                },
                Neurological: {
                  name: 'Neuro logical',
                  status: 'NodExamined',
                  Description: null,
                  Drugs: [],
                  Order: null
                }
              }
            }
          }
      },
      methods:{
        addtodrug(e){
         this.dataform.section[this.activetab].Drugs.push(e);
          this.drugdialog=false;
        },
        savedata(){
          let data={
            id:this.id,
            data:this.dataform,
            mode:'visitparttime'
          };

          let that=this;
          if(this.edit==null){
            this.$axios.post(this.$url+'staff/fromController',data,{
              headers: {
                Authorization: localStorage.token
              }
            })
          }else{
            this.$axios.put(this.$url+'staff/fromController/'+this.edit,data,{
              headers: {
                Authorization: localStorage.token
              }
            })
          }

        },
      }
    }
</script>

<style scoped>

</style>
